<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>定时任务</title>
</head>
<body layout:fragment="content" class="myui">
    <div class="easyui-layout"
    	data-options="fit:true">
    	<div data-options="region:'center',
       			split:true,
             	border:false
        	">
    		<div class="easyui-tabs"
             	data-options="fit:true,
                  	border:false,
                  	tabPosition:'left'
             	">
              	<div title="任务列表" 
              		data-options="iconCls:'fa fa-deaf'
                	">
              		<table id="jobDataGrid" class="easyui-datagrid"
		            	data-options="border:false,
        					bodyCls:'border_left',
							fit:true,
							fitColumns:true,
							singleSelect:true,
							toolbar:'#jobDataGridToolbar',
							pagination:true,
							pageSize:20,
							sortName:'createdAt',
		           			sortOrder:'desc',
							method:'get',
							url:'job/ajax/list',
		                   	onBeforeLoad:$.pageOnBeforeLoad
		               	">
		                <thead>
			                <tr>
			                	<th data-options="field:'jobName',title:'任务名称',width:250"></th>
			                    <th data-options="field:'jobClassName',title:'执行类',width:200"></th>
			                    <th data-options="field:'triggerState',title:'状态',width:80,formatter:function(value,row,index){switch(value){case 'WAITING': return '等待';case 'PAUSED': return '暂停';case 'ACQUIRED': return '运行中';case 'BLOCKED': return '阻塞';case 'ERROR': return '错误';default: return value;}}"></th>
			                    <th data-options="field:'cronExpression',title:'时间表达式',width:120"></th>
			                    <th data-options="field:'description',title:'备注',width:200"></th>
			                    <th data-options="field:'jobDataMapJson',title:'参数',width:200"></th>
			                    <th data-options="field:'operate',title:'操作',align:'right',width:200,formatter:jobOperateFormatter"></th>
			                </tr>
		                </thead>
		            </table>
        		</div>
              	<div title="任务日志" 
              		data-options="iconCls:'fa fa-tags'
                	">
              		<table id="logDataGrid" class="easyui-datagrid"
		            	data-options="border:false,
        					bodyCls:'border_left',
							fit:true,
							fitColumns:true,
							singleSelect:true,
							toolbar:'#logDataGridToolbar',
							pagination:true,
							pageSize:20,
							sortName:'createdAt',
		           			sortOrder:'desc',
							method:'get',
							url:'log/ajax/list',
		                   	onBeforeLoad:$.pageOnBeforeLoad
		               	">
		                <thead>
			                <tr>
			                	<th data-options="field:'createdAt',title:'时间',width:153,sortable:true,formatter:$.createdAtFormatter"></th>
			                    <th data-options="field:'jobName',title:'任务名称',width:250"></th>
			                    <th data-options="field:'seq',title:'序列',width:60"></th>
			                    <th data-options="field:'level',title:'日志级别',width:80"></th>
			                    <th data-options="field:'text',title:'日志内容',width:300"></th>
			                    <th data-options="field:'jobDataMapJson',title:'参数',width:200"></th>
			                    <th data-options="field:'machine',title:'机器ip',width:160"></th>
			                    <th data-options="field:'batch',title:'批次',width:160"></th>
			                    <th data-options="field:'jobClassName',title:'执行类',width:200"></th>
			                </tr>
		                </thead>
		            </table>
        		</div>
        	</div>
    	</div>
    </div>
    <!-- 任务列表 表格工具栏 -->
    <div id="jobDataGridToolbar" class="myui-toolbar">
		<a href="javascript:jobDialog();"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
        	">新增
       	</a>
		<form id="jobDataGridToolbarForm" class="search-box">
	   		<input type="text" name="jobName"
	        	id="jobDataGridToolbarFormJobName" 
	   			class="easyui-textbox"
	        	data-options="prompt:'任务名称',
	        		width:220
	        	"/>
	        <input type="text" name="triggerState" 
	        	id="jobDataGridToolbarFormTriggerState"
	        	class="easyui-combobox"
	       		data-options="prompt:'任务状态',
	           		width:220,
	        		panelHeight:182,
	                valueField:'value',
	                textField:'label',
	              	multiple:false,
	              	editable:false,
	               	data:[
	               		{label:'全部',value:null},
	               		{label:'等待',value:'WAITING'},
	               		{label:'暂停',value:'PAUSED'},
	               		{label:'运行中',value:'ACQUIRED'},
	                   	{label:'阻塞',value:'BLOCKED'},
	                   	{label:'错误',value:'ERROR'}
	              	]
	      		"/>
	        <a href="javascript:searchJob();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:resetJob();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form>
    </div>
    <!-- 任务日志 工具栏 -->
    <div id="logDataGridToolbar" class="myui-toolbar">
    	<button type="button" class="layui-btn layui-btn-primary layui-border-black layui-btn-sm" 
    		th:data-actuator="${actuator}"
        	onclick="$.createExcelExportTask($(this).data('actuator'), '任务日志');">
			<i class="fa fa-file-excel-o"></i> 导出表格
		</button>
		<form id="logDataGridToolbarForm" class="search-box">
	   		<input type="text" name="batch"
	        	id="logDataGridToolbarFormBatch" 
	   			class="easyui-textbox"
	        	data-options="prompt:'批次',
	        		width:220
	        	"/>
	        <input type="text" name="jobClassName"
	        	id="logDataGridToolbarFormJobClassName"
               	class="easyui-combogrid"
             	data-options="idField:'jobClassName',
             		textField:'description',
             		prompt:'任务名称',
             		width:220,
	        		panelWidth:444,
            		pagination:false,
            		fitColumns:true,
            		mode:'remote',
            		method:'get',
                   	url:'ajax/repertoires',
                   	onBeforeLoad:$.pageOnBeforeLoad,
                  	columns:[[
                   		{field:'description',title:'任务名称',width:100},
                   		{field:'jobClassName',title:'执行类',width:100}
              		]]
           		"/>
	        <input type="text" name="level" 
	        	id="logDataGridToolbarFormLevel"
	        	class="easyui-combobox"
	       		data-options="prompt:'日志级别',
	           		width:220,
	        		panelHeight:152,
	                valueField:'value',
	                textField:'label',
	              	multiple:false,
	              	editable:false,
	               	data:[
	               		{label:'全部',value:null},
	               		{label:'DEBUG',value:'DEBUG'},
	                   	{label:'INFO',value:'INFO'},
	                   	{label:'WARN',value:'WARN'},
	                   	{label:'ERROR',value:'ERROR'}
	              	]
	      		"/>
	        <a href="javascript:searchLog();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:resetLog();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form> 
    </div>
    <script type="text/javascript">
	    /**
		 * 任务操作
		 */
	    function jobOperateFormatter(value, row, index) {
			var htmlstr = '<button class="layui-btn layui-btn-xs" style="background-color: #2F4056;" onclick="executeJob(\'run\',\'您确定立即执行一次任务？</br>《' + row.jobName + '》\',\'' + row.triggerName + '\')">执行</button>';
		    htmlstr += '<button class="layui-btn layui-btn-xs layui-btn-normal" onclick="jobDialog(\'' + row.triggerName + '\')">编辑</button>';
		    if(row.triggerState == 'PAUSED') {
		    	htmlstr += '<button class="layui-btn layui-btn-xs" onclick="executeJob(\'resume\',\'您确定恢复任务？</br>《' + row.jobName + '》\',\'' + row.triggerName + '\')">恢复</button>';
		    } else {
		    	htmlstr += '<button class="layui-btn layui-btn-xs layui-btn-danger" onclick="executeJob(\'pause\',\'您确定停止任务？</br>《' + row.jobName + '》\',\'' + row.triggerName + '\')">停止</button>';
		    }
		    return htmlstr;
		}
	    
	    /**
		 * 任务动作
		 */
		function executeJob (command, message, triggerName) {
	    	var url = null;
	    	// 立即执行
	    	if (command === 'run') {
	    		url = 'job/ajax/run';
	    	}
	    	// 恢复任务
	    	else if (command === 'resume') {
	    		url = 'job/ajax/resume';
	    	}
	    	// 停止任务
	    	else if (command === 'pause') {
	    		url = 'job/ajax/pause';
	    	}
	    	if (url) {
	    		$.messager.myuiConfirm('操作提示', message, function (r) {
					if (r) {
						$.messager.progress({'text': '请求中……'});
						$.post(url, 
								{ triggerName: triggerName }, 
								function (resultJson) {
					                $.messager.progress('close');
									if (resultJson.statusCode == 200) {
										$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
					                	$('#jobDataGrid').datagrid('reload');
					                } else {
					                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'出错了', timeout: 5000, showType: 'slide'});
					                }
								});
					}
				});
	    	}
	    }
	    
	    /**
		 * 弹窗（新增|编辑）
		 */
		function jobDialog (triggerName) {
			var $jobDialog = $('<form id=\'jobDialog\' method=\'get\' class=\'myui\'></form>');
		    $jobDialog.myuiDialog({
		        title: triggerName ? '编辑' : '新增',
		        width: 890,
		        height: 483,
				collapsible: true,
				minimizable: false,
				maximizable: true,
		        closed: false,
		        cache: false,
		        href: 'job/dialog' + (triggerName ? ('?triggerName=' + triggerName) : ''),
		        modal: true,
		        buttons: [{
		            text: triggerName ? '更新' : '保存',
		            iconCls: triggerName ? 'fa fa-save' : 'fa fa-plus',
		            handler: function () {
						$.messager.progress({'text': '请求中……'});
				        $jobDialog.form('submit', {
				            url: 'job/ajax/save',
				            onSubmit: function () {
				                var isValid = $(this).form('validate');
				                if (!isValid) {
				                    $.messager.progress('close');
				                }
				                return isValid;
				            },
				            success: function (result) {
								var resultJson = JSON.parse(result);
				                $.messager.progress('close');
				                if (resultJson.statusCode == 200) {
				                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
				                	$jobDialog.dialog('destroy');
				                	$('#jobDataGrid').datagrid('reload');
				                } else {
				                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'出错了', timeout: 5000, showType: 'slide'});
				                }
				        	}
				 		});
					}
		        }, {
		            text: '关闭',
		            iconCls: 'fa fa-close',
		            handler: function () {
		                $jobDialog.dialog('destroy');
		            }
		        }],
				onClose: function () {
					$jobDialog.dialog('destroy');
				}
		    });
		}
	    
	    /**
		 * 查询任务列表
		 */
		function searchJob () {
			$('#jobDataGrid').datagrid('load', {
				jobName: $('#jobDataGridToolbarFormJobName').textbox('getValue'),
				triggerState: $('#jobDataGridToolbarFormTriggerState').combo('getValue')
			});
		}
		
		/**
		 * 重置任务列表
		 */
		function resetJob () {
			$('#jobDataGridToolbarForm').form('clear');
			searchJob();
		}
    </script>
    <script type="text/javascript">
		/**
		 * 查询任务日志
		 */
		function searchLog () {
			$('#logDataGrid').datagrid('load', {
				batch: $('#logDataGridToolbarFormBatch').textbox('getValue'),
				jobClassName: $('#logDataGridToolbarFormJobClassName').combo('getValue'),
				level: $('#logDataGridToolbarFormLevel').combo('getValue')
			});
		}
		
		/**
		 * 重置任务日志
		 */
		function resetLog () {
			$('#logDataGridToolbarForm').form('clear');
			searchLog();
		}
	</script>
</body>
</html>