<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>定时任务</title>
</head>
<body layout:fragment="content" class="myui">
    <div class="easyui-layout"
    	data-options="fit:true">
    	<!-- 任务列表 -->
        <div data-options="region:'north',
        		iconCls:'fa fa-deaf',
        		title:'任务列表',
        		split:true,
        		height:'60%',
        		border:false,
        		cls:'north-border_none',
        		bodyCls:'border_bottom'
        	">
       		
        </div>
        <div data-options="region:'center',
        		iconCls:'fa fa-tags',
        		title:'任务日志',
        		split:true,
        		height:'40%',
        		border:false,
        		headerCls:'border_top'
        	">
         	
        </div>
    </div>
</body>
</html>