env: dev
initDb: true
host: mygraph.renlm.cn
replicaCount: 1
nodeSelector: {}
podAnnotations: {}
podSecurityContext: {}
securityContext: {}
tolerations: []
affinity: {}
imagePullSecrets:
- name: aliyun.secret
image:
  repository: registry.cn-hangzhou.aliyuncs.com/rlm/mygraph
  pullPolicy: Always
  tag: latest
serviceAccount:
  create: true
  annotations: {}
  name: mygraph-service-account
ingress:
  enabled: true
  annotations: {}
  hosts:
  - host: mygraph.renlm.cn
    paths:
    - path: /
      pathType: Prefix
  tls:
  - secretName: renlm.secret
    hosts:
    - mygraph.renlm.cn
service:
  type: ClusterIP
  port: 8080
actuator:
  health:
    liveness:
      initialDelaySeconds: 15
      periodSeconds: 10
      successThreshold: 1
      failureThreshold: 4
      timeoutSeconds: 1
    readiness:
      initialDelaySeconds: 15
      periodSeconds: 10
      successThreshold: 1
      failureThreshold: 4
      timeoutSeconds: 1
autoscaling:
  enabled: false
  minReplicas: 1
  maxReplicas: 5
  targetCPUUtilizationPercentage: 80
# 子Chart配置
prometheus:
  enabled: false
  port: 9000
  portName: prometheus
  selector:
  - name: prometheus
    value: monitor
mysql:
  enabled: true
  mini: true
  database: mygraph
  user: mygraph
  password: PWD@20xx$
  nodeSelector: {}
  image:
    repository: mysql
    pullPolicy: IfNotPresent
    tag: 8.0.31
  service:
    type: NodePort
    port: 3306
    nodePort: 30306
rabbitmq:
  enabled: true
  defaultVhost: /mygraph
  defaultUser: mygraph
  defaultPass: PWD@20xx$
  nodeSelector: {}
  image:
    repository: rabbitmq
    pullPolicy: IfNotPresent
    tag: management
  ingress:
    enabled: true
    annotations: {}
    hosts:
    - host: rabbitmq.renlm.cn
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: renlm.secret
      hosts:
      - rabbitmq.renlm.cn
  service:
    type: NodePort
    port: 15672
    amqpPort: 5672
    amqpNodePort: 30672
redis:
  enabled: true
  requirepass: PWD@20xx$
  nodeSelector: {}
  image:
    repository: redis
    pullPolicy: IfNotPresent
    tag: latest
  service:
    type: NodePort
    port: 6379
    nodePort: 30379
jenkins:
  enabled: true
  nodeSelector: {}
  image:
    repository: jenkins/jenkins
    pullPolicy: IfNotPresent
    tag: lts-jdk17
  ingress:
    enabled: true
    annotations: {}
    hosts:
    - host: jenkins.renlm.cn
      paths:
      - path: /
        pathType: Prefix
    tls:
    - secretName: renlm.secret
      hosts:
      - jenkins.renlm.cn