@charset "utf-8";

@import "../../css/scrollbar.css";

td.mxPopupMenuIcon table tr td {
	padding: 8px;
}

.geSprite-box {
	background-image:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='10' transform='translate(0.5,0.5)'><rect stroke='black' fill='none' x='2' y='2' width='6' height='6'/><path stroke='black' d='M8 5 L 18 5'/></svg>");
}

.geSprite-halfCircle {
	background-image:
		url("data:image/svg+xml;utf8,<svg xmlns='http://www.w3.org/2000/svg' width='20' height='10' transform='translate(0.5,0.5)'><path stroke='black' fill='none' d='M 2 2 Q 6 2 6 5 Q 6 8 2 8 M 6 5 L 18 5'/></svg>");
}

.ermodel-json, .ermodel-name, .ermodel-fields {
	margin: 0;
	padding: 0;
	font: 14px/normal "microsoft yahei", "Times New Roman", "宋体", Times,
		serif;
	letter-spacing: 1px;
}

.ermodel-json {
	display: none !important;
}

.ermodel-name {
	width: 100%;
	padding: 2px 3px 0px 2px;
	cursor: pointer;
	box-sizing: border-box;
}

.ermodel-name p {
	background: #e4e4e4;
	font-size: 13px;
	font-weight: bold;
	padding: 1px 5px 2px;
}

.ermodel-fields {
	width: 100%;
	font-size: 1em;
	cursor: pointer;
	border-collapse: separate;
	border-spacing: 2px;
}

.ermodel-fields tr>td.ermodel-key {
	padding: 0px 8px;
}

.ermodel-fields tr.ermodel-pk td.ermodel-key {
	width: 5px;
	background-image: url("../images/pk.png");
	background-repeat: no-repeat;
	background-position: center;
	background-size: 16px 16px;
}

.ermodel-fields tr.ermodel-fk td.ermodel-key {
	padding-right: 0px;
	display: table;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ermodel-fields tr.ermodel-fk td.ermodel-key:before {
	content: "\f08d";
	color: slateblue;
}

.ermodel-fields tr.ermodel-col td.ermodel-key {
	padding-right: 0px;
	display: table;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.ermodel-fields tr.ermodel-col td.ermodel-key:before {
	content: "\f24d";
	color: gray;
	opacity: 0.6;
}