<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/hadmin}">
<head>
	<title>字段列表</title>
	<!-- Bootstrap-table -->
	<link th:href="@{/webjars/bootstrap-table/bootstrap-table.min.css}" rel="stylesheet" />
</head>
<body layout:fragment="content">
	<div class="p-xs">
		<table data-toggle="table" th:data-url="|@{/}erField/ajax/list?erUuid=${erUuid}|">
	    	<thead>
	            <tr>
	                <th data-field="name">列名</th>
	                <th data-field="comment">注释</th>
	                <th data-field="typeName">类型</th>
	                <th data-field="size">精度</th>
	                <th data-field="digit">标度</th>
	                <th data-field="isNullable">是否可为空</th>
	                <th data-field="autoIncrement">是否自增</th>
	                <th data-field="columnDef">字段默认值</th>
	                <th data-field="isPk">主键</th>
	                <th data-field="isFk">外键</th>
	            </tr>
	        </thead>
		</table>
	</div>
	<!-- Bootstrap-table -->
	<script th:src="@{/webjars/bootstrap-table/bootstrap-table.min.js}"></script>
	<script th:src="@{/webjars/bootstrap-table/locale/bootstrap-table-zh-CN.js}"></script>
</body>
</html>