<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/hadmin}">
<head>
	<title>字段列表</title>
</head>
<body layout:fragment="content">
	<div class="jqGrid_wrapper">
		<table id="erFieldTable"></table>
		<div id="pagerList"></div>
	</div>
	<script type="text/javascript">
		$(function () {
			$.jgrid.defaults.styleUI = 'Bootstrap';
			$("#erFieldTable").jqGrid({
				url: "[(@{/erField/ajax/list})]",
                datatype: "json",
                postData: {
                	erUuid: "[(${erUuid})]"
                },
                autowidth: true,
                shrinkToFit: true,
                rowNum: 14,
                rowList: [10, 20, 30],
                colNames: ['列名', '注释', '类型', '精度', '标度', '是否可为空', '是否自增', '字段默认值', '主键', '外键'],
                colModel: [
                    {
                        name: 'name',
                        index: 'name'
                    },
                    {
                        name: 'comment',
                        index: 'comment'
                    },
                    {
                        name: 'typeName',
                        index: 'typeName'
                    },
                    {
                        name: 'size',
                        index: 'size'
                    },
                    {
                        name: 'digit',
                        index: 'digit'
                    },
                    {
                        name: 'isNullable',
                        index: 'isNullable'
                    },
                    {
                        name: 'autoIncrement',
                        index: 'autoIncrement'
                    },
                    {
                        name: 'columnDef',
                        index: 'columnDef'
                    },
                    {
                        name: 'isPk',
                        index: 'isPk'
                    },
                    {
                        name: 'isFk',
                        index: 'isFk'
                    }
                ],
                pager: "#pagerList",
                viewrecords: true,
                caption: "jqGrid 示例1",
                hidegrid: false
            });
		});
	</script>
</body>
</html>