<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>数据源</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout"
    	data-options="fit:true">
    	<div data-options="region:'center',
       			split:true,
             	border:false
        	">
    		<div class="easyui-tabs"
             	data-options="fit:true,
                  	border:false,
                  	tabPosition:'left'
             	">
              	<div title="数据源" 
              		data-options="iconCls:'fa fa-deaf'">
              		<table id="dsDataGrid" 
		            	class="easyui-datagrid"
		            	data-options="border:false,
        					bodyCls:'border_left',
							fit:true,
							fitColumns:true,
							singleSelect:true,
							checkOnSelect:false,
							selectOnCheck:false,
							toolbar:'#dsDataGridToolbar',
							pagination:true,
							pageSize:10,
							method:'get',
							url:ctx+'/ds/ajax/page',
		                   	onBeforeLoad:$.pageOnBeforeLoad,
		                   	onClickRow:function(index,row){
		                   		searchEr();
		                   	}
		               	">
		                <thead>
			                <tr>
			                	<th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
			                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#dsDataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
		                     	<th data-options="field:'name',title:'数据源名称',width:200"></th>
			                    <th data-options="field:'updatedAt',title:'更新时间',width:120,align:'right',formatter:$.updatedAtFormatter"></th>
		                       	<th data-options="field:'actions',title:'操作',width:80,align:'center',formatter:dsOperateFormatter"></th>
			                </tr>
		                </thead>
		            </table>
        		</div>
              	<div title="数据库表" 
              		data-options="iconCls:'fa fa-tags'">
              		<div class="easyui-layout"
				    	data-options="fit:true">
				    	<!-- 表 -->
				        <div data-options="region:'center',
				        		split:true,
				        		border:false,
				        		bodyCls:'border_bottom'
				        	">
				          	<table id="erDataGrid" 
				            	class="easyui-datagrid"
				            	data-options="border:false,
									fit:true,
									fitColumns:true,
									singleSelect:true,
									checkOnSelect:false,
									selectOnCheck:false,
									toolbar:'#erDataGridToolbar',
									pagination:true,
									pageSize:10,
									method:'get',
									url:ctx+'/er/ajax/page',
				                   	onBeforeLoad:function(param){
				                   		$.pageOnBeforeLoad(param);
				                   		try{
				                   			var selectedDs = $('#dsDataGrid').datagrid('getSelected');
				                   			if (selectedDs) {
				                   				param.dsUuid = selectedDs.uuid;
				                   			}
				                   		}catch(e){}
				                   	},
				                   	onClickRow:function(index,row){
				                   		$('#erFieldDataGrid').datagrid('load', {
				                   			erUuid: row.uuid
				                   		});
				                   	}
				               	">
				                <thead>
					                <tr>
					                	<th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
					                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#erDataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
				                     	<th data-options="field:'tableName',title:'表名',width:100"></th>
				                           <th data-options="field:'comment',title:'注释',width:100"></th>
					                    <th data-options="field:'updatedAt',title:'更新时间',width:120,align:'right',formatter:$.updatedAtFormatter"></th>
					                </tr>
				                </thead>
				            </table>
				        </div>
				        <!-- 字段 -->
				    	<div data-options="region:'south',
				        		split:true,
				        		title:'字段信息',
				       			height:'50%',
				            	border:false,
				            	cls:'south-border-left-bottom_none',
				            	iconCls:'fa fa-road',
				            	headerCls:'border_top',
				              	bodyCls:'border_top'
				          	">
				          	<table id="erFieldDataGrid" class="easyui-datagrid" 
								data-options="border:false,
									fit:true,
									fitColumns:true,
									singleSelect:true,
									pagination:false,
									method:'get',
									url:ctx+'/erField/ajax/list',
									onDblClickRow:function(rowIndex,rowData){
										if (!rowData.editing) {
											editRow(rowIndex);
										}
									},
									onBeforeEdit:function(index,row){
										row.editing = true;
										$(this).datagrid('refreshRow',index);
									},
									onAfterEdit:function(index,row){
										row.editing = false;
										$(this).datagrid('refreshRow',index);
									},
									onCancelEdit:function(index,row){
										row.editing = false;
										$(this).datagrid('refreshRow',index);
									}
								">
				                <thead>
					                <tr>
					                    <th data-options="field:'seq',title:'序号',formatter:function(value,index){return $('#erFieldDataGrid').datagrid('getRowIndex',index)+1;}"></th>
					                    <th data-options="field:'name',title:'列名',width:120"></th>
				                       	<th data-options="field:'comment',title:'注释',width:200,editor:{type:'textbox',options:{required:true}}"></th>
				                   		<th data-options="field:'jdbcType',title:'数据类型',width:100"></th>
				                   		<th data-options="field:'size',title:'长度',width:40"></th>
				                   		<th data-options="field:'digit',title:'精度',width:40"></th>
				                   		<th data-options="field:'isNullable',title:'是否可为空',width:60,formatter:$.yesNoFormatter"></th>
				                   		<th data-options="field:'autoIncrement',title:'是否自增',width:60,formatter:$.yesNoFormatter"></th>
				                   		<th data-options="field:'columnDef',title:'字段默认值',width:100"></th>
				                   		<th data-options="field:'isPk',title:'主键',width:40,formatter:$.yesNoFormatter"></th>
				                   		<th data-options="field:'isFk',title:'外键',width:40,formatter:$.yesNoFormatter,editor:{type:'combobox',options:{required:true,textField:'label',valueField:'value',panelHeight:70,data:[{label:'是',value:true},{label:'否',value:false}]}}"></th>
					                    <th data-options="field:'actions',
					                    		title:'操作',
					                    		width:120,
					                    		align:'center',
					                    		formatter:function(value,row,index){
													if (row.editing) {
														var s = '<a href=\'javascript:saveRow('+index+');\' class=\'l-btn myui-btn-blue l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>保存</span><span class=\'l-btn-icon fa fa-save\'></span></span></a> ';
														var c = '<a href=\'javascript:cancelRow('+index+');\' class=\'l-btn myui-btn-brown l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>撤销</span><span class=\'l-btn-icon fa fa-mail-reply\'></span></span></a>';
														return s + c;
													} else {
														var e = '<a href=\'javascript:editRow('+index+');\' class=\'l-btn myui-btn-green l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>编辑</span><span class=\'l-btn-icon fa fa-pencil\'></span></span></a>';
														return e;
													}
												}
											"></th>
					                </tr>
				                </thead>
				        	</table>
				      	</div>
				    </div>
        		</div>
        	</div>
    	</div>
    </div>
    <!-- 数据源 工具栏 -->
    <div id="dsDataGridToolbar" class="myui-toolbar">
		<a href="javascript:dsDialog();"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
        	">新增
       	</a>
   		<a href="javascript:void(0);"
        	class="easyui-menubutton myui-btn-normal myui-btn-orange"
         	data-options="menu:'#moreOpsMenu',
           		iconCls:'fa fa-list',
           		hasDownArrow:true
       		">更多
       	</a>
       	<div id="moreOpsMenu" class="myui-toolbar">
        	<div onclick="javascript:delDs();"
        		class="easyui-menubutton"
           		data-options="iconCls:'fa fa-trash',
           			hasDownArrow:false
            	">删除
         	</div>
		</div>
		<form id="dsDataGridForm" class="search-box">
	   		<input type="text" name="keywords"
	    		id="dsDataGridKeywords" 
	   			class="easyui-textbox"
	        	data-options="prompt:'关键字',
	        		width:220
	        	"/>
	        <a href="javascript:searchDs();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:resetDs();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form> 
	</div>
    <!-- 数据库表 工具栏 -->
    <div id="erDataGridToolbar" class="myui-toolbar">
		<a href="javascript:createGraph();"
          	class="easyui-menubutton myui-btn-normal myui-btn-black"
         	data-options="iconCls:'fa fa-send',
           		hasDownArrow:false
        	"> 生成ER图
       	</a>
		<form id="erDataGridForm" class="search-box">
	   		<input type="text" name="keywords"
	    		id="erDataGridKeywords" 
	   			class="easyui-textbox"
	        	data-options="prompt:'关键字',
	        		width:220
	        	"/>
	        <a href="javascript:searchEr();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:resetEr();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form> 
	</div>
<script type="text/javascript">
	/**
	 * 查询数据源
	 */
	function searchDs () {
		$('#dsDataGrid').datagrid('unselectAll');
		searchEr();
		$('#dsDataGrid').datagrid('load', {
			keywords: $('#dsDataGridKeywords').textbox('getValue')
		});
	}
	
	/**
	 * 重置数据源
	 */
	function resetDs () {
		$('#dsDataGridForm').form('clear');
		searchDs();
	}

	/**
	 * 操作数据源
	 */
	function dsOperateFormatter (value, row, index) {
		return '<a href="javascript:dsDialog(\'' + row.uuid + '\');" class="l-btn myui-btn-green l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">编辑</span><span class="l-btn-icon fa fa-pencil"></span></span></a>';
	}
	
	/**
	 * 数据源弹窗（新增|编辑）
	 */
	function dsDialog (uuid) {
		var $dsDialog = $('<form id=\'dsDialog\' method=\'post\' class=\'myui\'></form>');
	    $dsDialog.myuiDialog({
	        title: uuid ? '编辑' : '新增',
	        width: 890,
	        height: 483,
			collapsible: true,
			minimizable: false,
			maximizable: true,
	        closed: false,
	        cache: false,
	        href: ctx + '/ds/dialog' + (uuid ? ('?uuid=' + uuid) : ''),
	        modal: true,
	        buttons: [{
	            text: uuid ? '更新' : '保存',
	            iconCls: uuid ? 'fa fa-save' : 'fa fa-plus',
	            handler: function () {
					$.messager.progress({'text': '请求中……'});
			        $dsDialog.form('submit', {
			            url: ctx + '/ds/ajax/save',
			            onSubmit: function () {
			                var isValid = $(this).form('validate');
			                if (!isValid) {
			                    $.messager.progress('close');
			                }
			                return isValid;
			            },
			            success: function (result) {
							var resultJson = JSON.parse(result);
			                $.messager.progress('close');
			                if (resultJson.statusCode == 200) {
			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
			                	$dsDialog.dialog('destroy');
			                	$('#dsDataGrid').datagrid('unselectAll');
			                	$('#dsDataGrid').datagrid('reload');
			            		searchEr();
			                } else {
			                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'出错了', timeout: 5000, showType: 'slide'});
			                }
			        	}
			 		});
				}
	        }, {
	            text: '关闭',
	            iconCls: 'fa fa-close',
	            handler: function () {
	                $dsDialog.dialog('destroy');
	            }
	        }],
			onClose: function () {
				$dsDialog.dialog('destroy');
			}
	    });
	}
	
	/**
	 * 删除数据源
	 */
	function delDs () {
		var checked = $('#dsDataGrid').datagrid('getChecked');
		if (!checked || checked.length === 0) {
			$.messager.myuiAlert('操作提示', '请先选中要删除的数据源！', 'warning');
			return;
		} else {
			var uuids = [];
			$.each(checked, function (i, item) {
				uuids[i] = item.uuid;
			});
			$.messager.myuiConfirm('操作提示', '您确定要删除选中的数据源吗？', function (r) {
				if (r) {
					$.messager.progress({'text': '请求中……'});
					$.post(ctx + '/ds/ajax/del', 
							{ uuids: uuids.join() }, 
							function (resultJson) {
				                $.messager.progress('close');
								if (resultJson.statusCode == 200) {
									$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
									$('#dsDataGrid').datagrid('unselectAll');
				                	$('#dsDataGrid').datagrid('reload');
				            		searchEr();
				                } else {
				                	$.messager.myuiAlert("操作提示", resultJson.message?resultJson.message:'出错了', "error");
				                }
							});
				}
			});
		}
	}
</script>
<script type="text/javascript">
	/**
	 * 查询数据库表
	 */
	function searchEr () {
		$('#erDataGrid').datagrid('unselectAll');
		$('#erFieldDataGrid').datagrid('load',{});
		$('#erDataGrid').datagrid('load', {
			keywords: $('#erDataGridKeywords').textbox('getValue')
		});
	}
	
	/**
	 * 重置数据库表
	 */
	function resetEr () {
		$('#erDataGridForm').form('clear');
		searchEr();
	}
	
	/**
	 * 生成ER图
	 */
	function createGraph () {
		var checked = $('#erDataGrid').datagrid('getChecked');
		if (!checked || checked.length === 0) {
			$.messager.myuiAlert('操作提示', '请先选中要生成ER图的表！', 'warning');
			return;
		} else {
			var uuids = [];
			$.each(checked, function (i, item) {
				uuids[i] = item.uuid;
			});
			parent.layer.prompt({
				title: '新建ER设计图',
				formType: 0, 
				value: null,
				skin: 'layui-layer-rim layui-layer-prompt custom-layui-btn-center'
			}, function (name, index) {
				parent.layer.closeAll();
   				$.messager.progress({'text':'正在生成……'});
   				$.post(ctx + '/er/ajax/createGraph', { name: name, uuids: uuids.join() }, function (resultJson) {
   					$.messager.progress('close');
					if (resultJson.statusCode == 200) {
						$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
	                } else {
	                	$.messager.myuiAlert("操作提示", resultJson.message?resultJson.message:'出错了', "error");
	                }
				});
			});
		}
	}
</script>
<script type="text/javascript">
	/**
	 * 编辑行
	 */
	function editRow(index) {
		$('#erFieldDataGrid').datagrid('beginEdit', index);
	}
	  	
	/**
	 * 保存行
	 */
	function saveRow(index) {
		var rowDatas = $('#erFieldDataGrid').datagrid('getRows');
		var rowData = rowDatas[index];
		var edComment = $('#erFieldDataGrid').datagrid('getEditor', { index: index, field: 'comment' });
		var edIsFk = $('#erFieldDataGrid').datagrid('getEditor', { index: index, field: 'isFk' });
		if (!$(edComment.target).textbox('isValid')) {
			$(edComment.target).textbox('textbox').focus();
			return;
		}
		rowData.comment = $(edComment.target).textbox('getValue');
		rowData.isFk = $(edIsFk.target).combobox('getValue');
		$.messager.progress({'text': '请求中……'});
		$.post(ctx + '/erField/ajax/update',
				rowData,
				function (data) {
	                $.messager.progress('close');
					if (data.statusCode == 200) {
	                	$('#erFieldDataGrid').datagrid('endEdit', index);
	                	$('#erFieldDataGrid').datagrid('reload');
	                } else {
	                    $.messager.show({title: '我的消息', msg: data.message?data.message:'出错了', timeout: 5000, showType: 'slide'});
	                }
				});
	}
	  	
	/**
	 * 取消编辑
	 */
	function cancelRow(index) {
		$('#erFieldDataGrid').datagrid('cancelEdit', index);
	}
</script>
</body>
</html>