@charset "utf-8";

@import "../themes/default/core.css";

[v-cloak] {
	display: none;
}

.myui input.easyui-color + span.textbox input {
	border-radius: 0px;
}

div.south-border-left_none + div.layout-split-proxy-h + div.layout-split-proxy-v + div.layout-expand-south .panel-header {
	border-left: none;
}

div.south-border-bottom_none + div.layout-split-proxy-h + div.layout-split-proxy-v + div.layout-expand-south .panel-header {
	border-bottom: none;
}

div.south-border-left-bottom_none .panel-header,
div.south-border-left-bottom_none + div.layout-split-proxy-h + div.layout-split-proxy-v + div.layout-expand-south .panel-header {
	border-left: none;
	border-bottom: none;
}

.myui .tabs-header-left ul.tabs {
	border-width: 0px;
}

.myui .tabs-header-left ul.tabs li {
	margin-left: 1px;
}

.myui .tabs-header-left ul.tabs li a {
	border-right: none;
}

.mlr15center>div.myui-row {
	margin-left: -15px;
	margin-right: 15px;
}

.mlr25center>div.myui-row {
	margin-left: -25px;
	margin-right: 25px;
}

.mlr30center>div.myui-row {
	margin-left: -30px;
	margin-right: 30px;
}

#personalDialog .textbox textarea.textbox-text {
    padding: 4px;
    height: 78px !important;
}

.nav-bar .nav-left {
	width: 230px;
	float: left;
}

.nav-bar .nav-right {
	width: 410px;
	float: right;
}

.nav-bar .nav-center {
	margin-left: 230px;
	margin-right: 245px;
	color: #fff;
	text-align: center;
	overflow: hidden;
}

.banner .nav-bar>div {
	height: 54px;
	line-height: 54px;
	text-align: right;
}

.nav-center ul {
	list-style-type: none;
	white-space: nowrap;
	overflow: hidden;
	display: inline-block;
	font-size: 0;
	position: relative;
	left: 0;
}

.nav-center ul li {
	display: inline-block;
	text-align: center;
	margin: 0;
	min-width: 100px;
}

.nav-center ul li a {
	color: inherit;
	text-decoration: none;
}

.nav-btn {
	display: inline-block;
	width: 20px;
	text-align: center;
	line-height: 54px;
	color: white;
	font-size: 20px;
}

.nav-group {
	position: relative;
	transition: all .3s;
	padding: 0;
}

.nav-group li {
	cursor: pointer;
}

.hide {
	display: none !important;
}

.admin-nav-logo {
	width: 32px;
	line-height: 54px;
	vertical-align: middle;
	border-radius: 50% !important;
}

.nav-bar .menu-collapse {
	width: 50px;
	text-align: center;
	float: left;
}

#menuCollapseIcon {
	width: 100%;
}

#west .accordion {
	height: 100% !important;
}

#west .sidemenu-collapsed .panel-icon {
	left: 50%;
	margin-left: -10px;
}

.menu-collapse-icon {
	display: inline-block;
	width: 30px;
	height: 30px;
}

.banner .nav-bar>div.webname {
	width: 255px;
	display: flex;
	justify-content: center;
	align-items: center;
}

#moreMenu {
	width: 136.77px;
	position: fixed;
	display: none;
	transform: translateX(-19.5px);
}

#moreMenu:hover {
	display: block;
}

.moreBox:hover+#moreMenu {
	display: block;
}

#moreMenu ul {
	display: flex;
	flex-direction: column;
}