<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>网关代理日志</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false
			">
            <table id="dataGrid" class="easyui-datagrid"
            	data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					toolbar:'#toolbar',
					pagination:true,
					pageSize:20,
					method:'get',
					url:ctx+'/gateway/proxyLog/ajax/page',
                   	onBeforeLoad:$.pageOnBeforeLoad
               	">
                <thead>
	                <tr>
	                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#dataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
                      	<th data-options="field:'username',title:'账号',width:100"></th>
	                    <th data-options="field:'nickname',title:'昵称',width:100"></th>
	                    <th data-options="field:'clientIp',title:'客户端ip',width:100"></th>
	                    <th data-options="field:'loginTime',title:'登录时间',width:50,formatter:$.createdAtFormatter"></th>
	                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="toolbar" class="myui-toolbar">
    	<input type="text" name="userId"
        	id="userId"
       		class="easyui-combogrid"
      		data-options="idField:'userId',
         		textField:'nickname',
            	prompt:'账号',
            	width:220,
            	panelWidth:444,
           		pagination:true,
           		fitColumns:true,
           		pageSize:10,
           		mode:'remote',
           		method:'get',
           		url:'user/ajax/page',
              	onBeforeLoad:$.pageOnBeforeLoad,
              	columns:[[
              		{field:'username',title:'账号',width:100},
                 	{field:'nickname',title:'昵称',width:100},
                	{field:'mobile',title:'手机号码',width:100}
             	]]
        	"/>
        <input type="text" name="loginTime"
        	id="loginTime" 
        	class="easyui-datebox" 
        	data-options="prompt:'查询起始时间',
             	editable:false,
        		width:220
        	"/>
        <a href="javascript:search();" 
        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
       		data-options="iconCls:'fa fa-search'
         	">查询
    	</a>
    	<a href="javascript:reset();"
      		class="easyui-linkbutton myui-btn-brown myui-btn-normal"
      		data-options="iconCls:'fa fa-trash'
      		">清空
    	</a>
    </div>
<script type="text/javascript">
	/**
	 * 查询
	 */
	function search () {
		$("#dataGrid").datagrid("load", {
			userId: $("#userId").combogrid("getValue"),
			loginTime: $("#loginTime").datebox("getValue")
		});
	}
	
	/**
	 * 重置
	 */
	function reset () {
		$("#userId").combogrid("clear");
		$("#loginTime").datebox("clear");
		search();
	}
</script>
</body>
</html>