<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/default}">
<head>
	<title>统计数据</title>
	<style type="text/css">
		#Usage textarea {
			width: 99%!important;
    		height: 97%!important;
		}
	</style>
</head>
<body layout:fragment="content">
	<div id="Usage" style="height: 400px;"></div>
	<script th:src="@{/static/markdown/editor.md-1.5.0/lib/echarts/5.1.2/echarts.min.js}"></script>
	<script type="text/javascript">
		$(function () { renderStatisticalChart(); });
    	function renderStatisticalChart () {
    		$.get("[(@{/gateway/proxyLog/ajax/getStatisticalData})]",
				function(response) {
    				var start = response.data.dayXAxis.length >= 100 ? (1 - 100 / response.data.dayXAxis.length) * 100 : 0;
	    			var target = document.getElementById('Usage');
		    		var myChart = echarts.init(target, 
		    				null, 
		    				{
		    					renderer: 'svg',
				    			width: $(target).width(),
				    			height: $(target).height()
		    				});
		    		myChart.setOption({
						color: [
		    			    '#2f4554',
		    				'#c23531'
		    			],
						tooltip : {
							trigger : 'axis',
							axisPointer : {
								type : 'shadow',
								label : {
									show : true
								}
							}
						},
						toolbox : {
							top : 20,
							right: 20,
							show : true,
							showTitle : true,
							feature : {
								mark : {
									show : true
								},
								magicType : {
									show : true,
									type : [ 'line', 'bar' ]
								},
								dataView : {
									show : true
								},
								restore : {
									show : true
								},
								saveAsImage : {
									show : true
								}
							}
						},
						legend : {
							top : 20,
							itemGap : 20,
							data : [ '访问用户数', '页面访问量' ]
						},
						grid : {
							top : 80,
							left : 30,
							right : 30,
							containLabel : true
						},
						xAxis : [ {
							type : 'category',
							data : response.data.dayXAxis
						} ],
						yAxis : [ {
							type : 'value',
							splitLine: {
		    		            show: true
		    		        },
		    		        axisLine: { 
	    						show: true
	    					},
	        		        axisTick: {
	        		        	show: true
	        		        },
		    		        axisLabel: {
		    		        	show: true,  
		                     	interval: 'auto'
		    		        }
						} ],
						dataZoom : [ {
							show : true,
							start : start,
							end : 100
						}, {
							type : 'inside',
							start : start,
							end : 100
						} ],
						series : [ {
							name : '访问用户数',
							type : 'bar',
							data : response.data.uvYAxis
						}, {
							name : '页面访问量',
							type : 'bar',
							data : response.data.pvYAxis
						} ]
					}, true);
		    		// 自适应
		    		var originFn = window.onresize;
		       		window.onresize = function () { 
		       			originFn && originFn();
		       			myChart.resize({ 
		       				width: $(target).width(),
			    			height: $(target).height()
		    			});
		       		}	
	         	});
    	}
	</script>
</body>
</html>