<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/default}">
<head>
	<title>统计数据</title>
	<style type="text/css">
		#Usage textarea {
			width: 99%!important;
    		height: 97%!important;
		}
	</style>
</head>
<body layout:fragment="content">
	<div id="Usage" style="height: 400px;"></div>
	<script th:src="@{/static/markdown/editor.md-1.5.0/lib/echarts/5.1.2/echarts.min.js}"></script>
	<script type="text/javascript">
		$(function () { renderStatisticalChart(); });
    	function renderStatisticalChart () {
    		layer.load(2, { offset: '150px' });
    		$.get("[(@{/gateway/proxyLog/ajax/getStatisticalData})]?proxyConfigUuid=[(${proxyConfigUuid})]",
				function(response) {
					layer.closeAll();
    				var start = response.data.dayXAxis.length >= 100 ? (1 - 100 / response.data.dayXAxis.length) * 100 : 0;
	    			var target = document.getElementById('Usage');
		    		var myChart = echarts.init(target, 
		    				null, 
		    				{
		    					renderer: 'svg',
				    			width: $(target).width(),
				    			height: $(target).height()
		    				});
		    		myChart.setOption({
						color: [
		    			    '#2f4554',
		    				'#c23531'
		    			],
						tooltip : {
							trigger : 'axis',
							axisPointer : {
								type : 'shadow',
								label : {
									show : true
								}
							}
						},
						toolbox : {
							top : 20,
							right: 20,
							show : true,
							showTitle : true,
							feature : {
								mark : {
									show : true
								},
								magicType : {
									show : true,
									type : [ 'line', 'bar' ]
								},
								dataView : {
									show : true
								},
								myTool: {
									show: true,
									title: '刷新数据',
									icon: 'path://M -6.9994 0.9083 M 4.5416 -2.9654 L 7.1597 -2.9654 L 7.1597 -5.6904 M 7.0261 -2.6448 C 5.9041 -5.6102 2.8051 -7.8543 -0.8549 -7.4536 C -4.6485 -7.0261 -7.5872 -3.6867 -7.4536 0.1603 M -4.5416 2.9654 L -7.1864 2.9654 L -7.1864 5.6904 M -7.0261 2.6448 C -5.9041 5.6102 -2.8051 7.8543 0.8549 7.4536 C 4.6485 7.0261 7.5872 3.6867 7.4536 -0.1603',
									onclick: function (option) {
										renderStatisticalChart();
									}
								},
								saveAsImage : {
									show : true
								}
							}
						},
						legend : {
							top : 20,
							itemGap : 20,
							data : [ '用户数', '访问量' ]
						},
						grid : {
							top : 80,
							left : 30,
							right : 30,
							containLabel : true
						},
						xAxis : [ {
							type : 'category',
							data : response.data.dayXAxis
						} ],
						yAxis : [ {
							type : 'value',
							splitLine: {
		    		            show: true
		    		        },
		    		        axisLine: { 
	    						show: true
	    					},
	        		        axisTick: {
	        		        	show: true
	        		        },
		    		        axisLabel: {
		    		        	show: true,  
		                     	interval: 'auto'
		    		        }
						} ],
						dataZoom : [ {
							show : true,
							start : start,
							end : 100
						}, {
							type : 'inside',
							start : start,
							end : 100
						} ],
						series : [ {
							name : '用户数',
							type : 'bar',
							data : response.data.uvYAxis
						}, {
							name : '访问量',
							type : 'bar',
							data : response.data.pvYAxis
						} ]
					}, true);
		    		// 自适应
		    		var originFn = window.onresize;
		       		window.onresize = function () { 
		       			originFn && originFn();
		       			myChart.resize({ 
		       				width: $(target).width(),
			    			height: $(target).height()
		    			});
		       		}	
	         	});
    	}
	</script>
</body>
</html>