<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>系统常量</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
			split:true,
			border:false">
            <table id="dataGrid" class="easyui-datagrid" 
				data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					method:'get',
					url:'const/ajax/page',
					onDblClickRow:function(rowIndex,rowData){
						if (!rowData.editing) {
							editRow(rowIndex);
						}
					},
					onBeforeEdit:function(index,row){
						row.editing = true;
						$(this).datagrid('refreshRow',index);
					},
					onAfterEdit:function(index,row){
						row.editing = false;
						$(this).datagrid('refreshRow',index);
					},
					onCancelEdit:function(index,row){
						row.editing = false;
						$(this).datagrid('refreshRow',index);
					}
				">
                <thead>
	                <tr>
	                    <th data-options="field:'constId',
	                    		title:'序号',
	                    		formatter:function(value,index){
	                    			return $('#dataGrid').datagrid('getRowIndex',index) + 1;
	                    		}
	                    	"></th>
	                    <th data-options="field:'name',title:'名称',width:100"></th>
	                    <th data-options="field:'code',title:'代码',width:100"></th>
	                    <th data-options="field:'val',title:'值',width:100,editor:{type:'textbox',options:{required:true,height:30}}"></th>
	                    <th data-options="field:'remark',title:'描述',width:150,editor:{type:'textbox',options:{required:true,height:30}}"></th>
	                    <th data-options="field:'sort',title:'排序',width:50,editor:{type:'numberspinner',options:{required:true,height:30}}"></th>
	                    <th data-options="field:'createdAt',title:'创建时间',width:100,formatter:$.createdAtFormatter"></th>
	                    <th data-options="field:'updatedAt',title:'更新时间',width:100,formatter:$.updatedAtFormatter"></th>
	                    <th data-options="field:'actions',
	                    		title:'操作',
	                    		width:100,
	                    		align:'center',
	                    		formatter:function(value,row,index){
									if (row.editing) {
										var s = '<a href=\'javascript:saveRow('+index+');\' class=\'l-btn myui-btn-blue l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>保存</span><span class=\'l-btn-icon fa fa-save\'></span></span></a> ';
										var c = '<a href=\'javascript:cancelRow('+index+');\' class=\'l-btn myui-btn-brown l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>撤销</span><span class=\'l-btn-icon fa fa-mail-reply\'></span></span></a>';
										return s + c;
									} else {
										var e = '<a href=\'javascript:editRow('+index+');\' class=\'l-btn myui-btn-green l-btn-small l-btn-plain\'><span class=\'l-btn-left l-btn-icon-left\'><span class=\'l-btn-text\'>编辑</span><span class=\'l-btn-icon fa fa-pencil\'></span></span></a>';
										return e;
									}
								}
							"></th>
	                </tr>
                </thead>
            </table>
        </div>
    </div>
    <script type="text/javascript">
    	/**
   		 * 编辑行
   		 */
		function editRow(index){
			$('#dataGrid').datagrid('beginEdit', index);
		}
    	
		/**
   		 * 保存行
   		 */
		function saveRow(index){
			$.messager.progress({'text': '请求中……'});
			var rowDatas = $('#dataGrid').datagrid('getRows');
			var rowData = rowDatas[index];
			var edVal = $('#dataGrid').datagrid('getEditor', { index: index, field: 'val' });
			var edSort = $('#dataGrid').datagrid('getEditor', { index: index, field: 'sort' });
			var edRemark = $('#dataGrid').datagrid('getEditor', { index: index, field: 'remark' });
			var val = $(edVal.target).textbox('getValue');
			var sort = $(edSort.target).textbox('getValue');
			var remark = $(edRemark.target).textbox('getValue');
			$.post(ctx + '/sys/const/ajax/save',
					{ constId: rowData.constId, val: val, sort: sort, remark: remark },
					function (data) {
						if (data.statusCode == 200) {
		                	$.messager.show({title: '我的消息', msg: data.message?data.message:'操作成功', timeout: 5000, showType: 'slide'});
		                	$('#dataGrid').datagrid('endEdit', index);
		                	$('#dataGrid').datagrid('reload');
		                } else {
		                    $.messager.show({title: '我的消息', msg: data.message?data.message:'出错了', timeout: 5000, showType: 'slide'});
		                }
		                $.messager.progress('close');
					});
		}
    	
		/**
   		 * 取消编辑
   		 */
		function cancelRow(index){
			$('#dataGrid').datagrid('cancelEdit', index);
		}
    </script>
</body>
</html>