<div class="myui-fluid tfrcenter">
    <div class="myui-row"></div>
    <div class="myui-row">
        <div class="myui-col-sm12">
        	<label class="myui-form-label">父级资源</label>
        	<div class="myui-input-block">
           		<input type="text" name="pid" 
                	class="easyui-combotreegrid"
                  	data-options="required:false,
                  		fitColumns:true,
						singleSelect:true,
                  		width:586,
                  		panelHeight:257,
						idField:'id',
				   		treeField:'text',
						method:'get',
                       	url:'dict/ajax/findListByPid',
                   		columns:[[
                        	{field:'text',title:'字典名称',width:100},
                        	{field:'code',title:'字典编码',width:100}
                       	]]
            		"/>
            </div>
        </div>
    </div>
    <div class="myui-row">
        <div class="myui-col-sm6">
            <label class="myui-form-label">字典名称</label>
            <div class="myui-input-block">
                <input type="text" name="text" 
                	class="easyui-textbox" 
                	data-options="required:true,
                   		width:219,
                   		prompt:'必填'
                   	"/>
            </div>
        </div>
        <div class="myui-col-sm6">
            <label class="myui-form-label">字典编码</label>
            <div class="myui-input-block">
                <input type="text" name="code"
                	class="easyui-textbox" 
                	data-options="required:true,
                   		width:219,
                   		prompt:'必填',
                		validType:['alphaDash','maxLength[20]']
            		"/>
            </div>
        </div>
    </div>
    <div class="myui-row">
        <div class="myui-col-sm6">
            <label class="myui-form-label">简称</label>
            <div class="myui-input-block">
                <input type="text" name="abbreviation" 
                	class="easyui-textbox" 
                	data-options="width:219
                   	"/>
            </div>
        </div>
        <div class="myui-col-sm6">
            <label class="myui-form-label">别名</label>
            <div class="myui-input-block">
                <input type="text" name="alias" 
                	class="easyui-textbox" 
                	data-options="width:219
                   	"/>
            </div>
        </div>
    </div>
    <div class="myui-row">
        <div class="myui-col-sm6">
            <label class="myui-form-label">启用状态</label>
            <div class="myui-input-block">
                <input type="text" name="disabled" value="0"
                	class="easyui-combobox"
                  	data-options="required:true,
                   		width:219,
						valueField:'value',
						textField:'text',
						panelHeight:'auto',
						data: [
						    {text:'禁用',value:true},
							{text:'启用',value:false}
						]
            		"/>
            </div>
        </div>
        <div class="myui-col-sm6">
            <label class="myui-form-label">子菜单</label>
            <div class="myui-input-block">
                <input type="text" name="state"
              		class="easyui-combobox"
                   	data-options="required:true,
                   		width:219,
                   		prompt:'必选',
						valueField:'value',
						textField:'text',
						panelHeight:'auto',
						data: [
						    {text:'有',value:'closed'},
							{text:'无',value:'open'}
						]
            		"/>
            </div>
        </div>
    </div>
    <div class="myui-row">
        <div class="myui-col-sm6">
            <label class="myui-form-label">字典图标</label>
            <div class="myui-input-block">
                <input type="text" id="iconCls" 
                	name="iconCls" 
                	class="easyui-textbox" 
                	data-options="width:219 
                	"/>
            </div>
        </div>
        <div class="myui-col-sm6">
            <label class="myui-form-label">字典排序</label>
            <div class="myui-input-block">
                <input type="text" name="sort"
               		class="easyui-numberspinner"
                   	data-options="required:true,
                   		width:219,
                   		prompt:'必填'
                   	"/>
            </div>
        </div>
    </div>
    <div class="myui-row">
        <div class="myui-col-sm12"><label class="myui-form-label">备注</label>
            <div class="myui-input-block">
                <input type="text" name="remark" 
                	class="easyui-textbox"
                   	data-options="width:586,
                   		height:100,
                   		multiline:true
                   	"/>
            </div>
        </div>
    </div>
</div>