<div class="myui-fluid">
    <div class="myui-row">
    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <div class="myui-row" style="margin-left: -55px;margin-right: 15px;margin-top: 30px;">
        <div class="myui-col-sm12">
        	<label class="myui-form-label">字典文件</label>
            <div class="myui-input-block">
           		<input type="text" name="file" 
           			class="easyui-filebox" 
           			data-options="required:true,
           				width:378,
           				editable:false,
           				buttonIcon:'fa fa-cloud-upload',
				   		buttonText:'上传文件',
				   		accept:'application/vnd.openxmlformats-officedocument.spreadsheetml.sheet,application/vnd.ms-excel,text/csv'
				   	"/>
            </div>
        </div>
    </div>
</div>