<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>通用字典</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false">
			<table id="treeGrid" class="easyui-treegrid"
          		data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					idField:'id',
			   		treeField:'text',
					toolbar:'#toolbar',
					method:'get',
               		url:'dict/ajax/findListByPid',
               		onBeforeExpand:function(node){
               			console.log(node);
               		}
              	">
				<thead>
               		<tr>
                       	<th data-options="field:'text',title:'字典名称',width:160"></th>
                       	<th data-options="field:'code',title:'字典编码',width:100"></th>
                       	<th data-options="field:'abbreviation',title:'简称',width:100"></th>
                       	<th data-options="field:'alias',title:'别名',width:100"></th>
                     	<th data-options="field:'level',title:'层级',width:100"></th>
                     	<th data-options="field:'sort',title:'排序',width:100"></th>
                    	<th data-options="field:'disabled',title:'启用状态',width:100,formatter:$.disabledFormatter"></th>
                     	<th data-options="field:'remark',title:'备注',width:100"></th>
					</tr>
              	</thead>
			</table>
		</div>
	</div>
	<div id="toolbar" class="myui-toolbar">
		<a href="javascript:void(0);"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="menu:'#moreAddMenu',
           		iconCls:'fa fa-plus',
           		hasDownArrow:true
        	">新增
       	</a>
  		<div id="moreAddMenu" class="myui-toolbar" style="width:100px;">
        	<a href="javascript:void(0);"
            	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增根节点
      		</a>
     		<a href="javascript:void(0);"
             	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增子节点
      		</a>
  		</div>
		<a href="javascript:void(0);"
			class="easyui-menubutton myui-btn-normal myui-btn-blue"
           	data-options="iconCls:'fa fa-pencil',
           		hasDownArrow:false
       		">编辑
   		</a>
   		<a href="javascript:void(0);"
        	class="easyui-menubutton myui-btn-normal myui-btn-orange"
         	data-options="menu:'#moreOpsMenu',
           		iconCls:'fa fa-list',
           		hasDownArrow:true
       		">更多
       	</a>
       	<div id="moreOpsMenu" class="myui-toolbar">
        	<div th:data-actuator="${actuator}"
        		onclick="$.createExcelExportTask($(this).data('actuator'), '数据字典');"
        		class="easyui-menubutton"
           		data-options="iconCls:'fa fa-file-excel-o',
           			hasDownArrow:false
            	">导出字典
         	</div>
        	<div class="easyui-menubutton"
        		onclick="uploadDictDialog();"
		    	data-options="iconCls:'fa fa-upload',
           			hasDownArrow:false
		   		">导入字典
         	</div>
		</div>
    </div>
    <script type="text/javascript">
    	/**
    	 * 导入字典（弹窗）
    	 */
    	function uploadDictDialog () {
    		var $uploadDictDialog = $('<form id=\'uploadDictDialog\' method=\'post\' enctype=\'multipart/form-data\' class=\'myui\'></form>');
    	    $uploadDictDialog.dialog({
    	        title: '导入字典',
    	        width: 500,
    	        height: 180,
    			collapsible: true,
    			minimizable: false,
    			maximizable: true,
    	        closed: false,
    	        cache: false,
    	        href: ctx + '/sys/dict/uploadDialog',
    	        modal: true,
    	        buttons: [{
    	            text: '确定',
    	            iconCls: 'fa fa-plus',
    	            handler: function () {
    					$.messager.progress({'text': '请求中……'});
    			        $uploadDictDialog.form('submit', {
    			            url: ctx + '/sys/dict/ajax/imp',
    			            onSubmit: function () {
    			                var isValid = $(this).form('validate');
    			                if (!isValid) {
    			                    $.messager.progress('close');
    			                }
    			                return isValid;
    			            },
    			            success: function (result) {
    							var resultJson = JSON.parse(result);
    			                if (resultJson.statusCode == 200) {
    			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
    			                	$('#treeGrid').treegrid('reload');
    			                	$uploadDictDialog.dialog('destroy');
    			                } else {
    			                	$.errorsDialog({id:'errorsDialog',width:850,height:495},resultJson.data?resultJson.data:resultJson.message);
    			                }
    			                $.messager.progress('close');
    			        	}
    			 		});
    				}
    	        }, {
    	            text: '关闭',
    	            iconCls: 'fa fa-close',
    	            handler: function () {
    	                $uploadDictDialog.dialog('destroy');
    	            }
    	        }],
    	        onLoad: function () {
    				$uploadDictDialog.prev().find('.panel-title').after('<div class="panel-icon fa fa-windows"></div>').css('padding-left', '30px').next().css('margin-top', '-9px');
    				$uploadDictDialog.next().find('.fa.fa-plus').parent().parent().addClass('myui-btn-normal myui-btn-green');
    				$uploadDictDialog.next().find('.fa.fa-close').parent().parent().addClass('myui-btn-normal myui-btn-red');
    	        },
    			onClose: function () {
    				$uploadDictDialog.dialog('destroy');
    			}
    	    });
    	}
    </script>
</body>
</html>