<style type="text/css">
    .custom-tr-upload {
        margin-left: -55px;
        margin-right: 15px;
        margin-top: 30px;
    }
</style>
<div class="topjui-fluid">
    <div class="topjui-row"></div>
    <div class="topjui-row custom-tr-upload">
        <div class="topjui-col-sm12">
        	<label class="topjui-form-label">字典文件</label>
            <div class="topjui-input-block">
           		<input type="text" name="fileId" 
           			data-toggle="topjui-uploadbox" 
           			data-options="required:true,
           				editable:false,
				   		buttonText:'上传文件',
				   		accept:'file',
				   		uploadUrl:ctx+'/sys/file/upload'
				   	"/>
            </div>
        </div>
    </div>
</div>