<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>组织机构</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout"
    	data-options="fit:true">
    	<!-- 左侧 -->
        <div data-options="region:'center',
        		split:true,
        		border:false,
        		bodyCls:'border_right',
        		width:'35%'
        	">
       		<table id="treeGrid" class="easyui-treegrid"
          		data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					idField:'id',
			   		treeField:'text',
					toolbar:'#toolbar',
					method:'get',
               		url:'org/ajax/getTree',
               		onLoadSuccess:function(row,data){
               			var that = this;
               			if (row == null) {
               				$.each(data, function (i, item) {
               					$(that).treegrid('expand', item.id);
               				});
               			}
               		},
               		onClickRow:function(row){
				   		var url = 'org/chart';
				    	if (row && row.id) {
				       		url = url + '?id=' + row.id;
				      	}
				     	var pp = $('#eastTabs').tabs('getSelected');
				       	var tabIframe = pp.find('iframe')[0];
				     	if (tabIframe) {
				     		tabIframe.contentWindow.location.href = url;
				     	}
					}
              	">
				<thead>
               		<tr>
	                    <th data-options="field:'text',title:'名称'"></th>
	                    <th data-options="field:'orgTypeCode',title:'类型',formatter:$.orgTypeFormatter"></th>
	                    <th data-options="field:'level',title:'层级'"></th>
	               		<th data-options="field:'disabled',title:'状态',width:100,formatter:$.disabledFormatter"></th>
					</tr>
              	</thead>
			</table>
        </div>
        <!-- 右侧 -->
        <div data-options="region:'east',
        		split:true,
        		border:false,
        		bodyCls:'border_right',
        		width:'65%'
        	">
          	<div class="easyui-tabs"
          		id="eastTabs"
            	data-options="fit:true,
             		border:true,
             		bodyCls:'border_right_none'
             	">
                <div style="overflow: hidden;"
                	title="组织机构树"
               		data-options="iconCls:'fa fa-th',
						content:'<iframe src=\'org/chart\' scrolling=\'auto\' frameborder=\'0\' style=\'width:100%;height:100%;\'></iframe>'
					">
				</div>
            </div>
    	</div>
    </div>
	<div id="toolbar" class="myui-toolbar">
		<a href="javascript:void(0);"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="menu:'#moreAddMenu',
           		iconCls:'fa fa-plus',
           		hasDownArrow:true
        	">新增
       	</a>
  		<div id="moreAddMenu" class="myui-toolbar" style="width:100px;">
        	<a href="javascript:orgDialog(1);"
            	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增根节点
      		</a>
     		<a href="javascript:orgDialog(2);"
             	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增子节点
      		</a>
  		</div>
		<a href="javascript:orgDialog(3);"
			class="easyui-menubutton myui-btn-normal myui-btn-blue"
           	data-options="iconCls:'fa fa-pencil',
           		hasDownArrow:false
       		">编辑
   		</a>
    </div>
    <script type="text/javascript">
    	/**
    	 * 弹窗
         * @param type 1：新增根节点，2：新增子节点，3：编辑
    	 */
    	function orgDialog (type) {
    		var isAdd = true;
    		var dialogHref = ctx + '/sys/org/dialog';
    		if (type === 2 || type === 3) {
        		var selected = $('#treeGrid').treegrid('getSelected');
        		if (selected) {
        			if (type === 2) {
        				dialogHref += '?pid=' + selected.id;
        			} else if (type === 3) {
        				isAdd = false;
        				dialogHref += '?orgId=' + selected.orgId;
        			}
        		} else {
        			$.messager.myuiAlert('操作提示', '请先选择要操作的数据', 'warning');
        			return;
        		}
    		}
    		var $orgDialog = $('<form id=\'orgDialog\' method=\'get\' class=\'myui\'></form>');
    	    $orgDialog.myuiDialog({
    	        title: isAdd ? '新增' : '编辑',
    	        width: 890,
    	        height: 483,
    			collapsible: true,
    			minimizable: false,
    			maximizable: true,
    	        closed: false,
    	        cache: false,
    	        href: dialogHref,
    	        modal: true,
    	        buttons: [{
    	            text: isAdd ? '保存' : '更新',
    	            iconCls: isAdd ? 'fa fa-plus' : 'fa fa-save',
    	            handler: function () {
    					$.messager.progress({'text': '请求中……'});
    			        $orgDialog.form('submit', {
    			            url: ctx + '/sys/org/ajax/save',
    			            onSubmit: function () {
    			                var isValid = $(this).form('validate');
    			                if (!isValid) {
    			                    $.messager.progress('close');
    			                }
    			                return isValid;
    			            },
    			            success: function (result) {
    							var resultJson = JSON.parse(result);
    			                if (resultJson.statusCode == 200) {
    			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
    			                	$orgDialog.dialog('destroy');
    			                	if (resultJson.data.pid == null) {
    			                		$('#treeGrid').treegrid('reload');
    			                	} else {
    			                		if (!isAdd) {
    			                			$('#treeGrid').treegrid('remove', resultJson.data.id);
    			                		}
    			                		var parentNode = $('#treeGrid').treegrid('find', resultJson.data.pid);
    			                		parentNode.state = 'closed';
    			                		$('#treeGrid').treegrid('update', { id: parentNode.id, row: parentNode });
    			                		$('#treeGrid').treegrid('reload', resultJson.data.pid);
    			                		$('#treeGrid').treegrid('expandTo', resultJson.data.pid);
    			                	}
    			                } else {
    			                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'服务器出错了', timeout: 5000, showType: 'slide'});
    			                }
    			                $.messager.progress('close');
    			        	}
    			 		});
    				}
    	        }, {
    	            text: '关闭',
    	            iconCls: 'fa fa-close',
    	            handler: function () {
    	                $orgDialog.dialog('destroy');
    	            }
    	        }],
    			onClose: function () {
    				$orgDialog.dialog('destroy');
    			}
    	    });
    	}
    </script>
</body>
</html>