<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>组织机构树</title>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	
	<link th:href="@{/static/orgchart/jquery.orgchart.css}" rel="stylesheet" />
	<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/static/orgchart/common.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/orgchart/html2canvas.min.js}"></script>
    <script th:src="@{/static/orgchart/jquery.orgchart.js}"></script>
</head>
<body>
	<div class="orgchart-box" id="chart-container"></div>
	<script type="text/javascript">
	    $(function () {
	        // 1. 获取所有组织机构
	        var id = getUrlParam("id") || 1;
	
	        $.get("[(@{/sys/org/ajax/getTree})]", function (orgTree) {
	            if (orgTree.length === 0) {
	                init({name: "null", text: "未查询到组织机构树"});
	            } else {
	            	init(orgTree[0]);
	            }
	        }, "JSON");
	
	        function init(datascource) {
	            $('#chart-container').orgchart({
	                'visibleLevel': 3,
	                'pan': true, // 平移
	                'zoom': true, // 缩放
	                'zoominLimit': 3,
	                'verticalLevel': 3,
	                'toggleSiblingsResp': true,
	                'data': datascource,
	                'nodeContent': 'text',
	                'exportButton': true,
	                "nodeTemplate": function (data) {
	                    var html = "";
	                    // 判断是否是叶子节点（即成员节点）
	                    if(data.className && data.className == "slide-up"){
	                        if (data.name == "null") {
	                            html =
	                                "    <div class=\"title title-user\">" + data.text + "</div>\n" +
	                                "    <div class=\"content content-user\"><p>null</p></div>\n";
	                        } else {
	                            html += "    <div class=\"title title-user\">" + data.text + "</div><div class=\"content content-user\">";
	                            html += "<p><i class='fa fa-user-circle'></i> 姓 名: " + (data.name ? data.name : "<span>（无）</span>") + "</p>";
	                            html += "<p><i class='fa fa-address-book-o '></i> 手 机: " + (data.mobile ? data.mobile : "<span>（无）</span>") + "</p>";
	                            html += "<p><i class='fa fa-envelope-o'></i> 邮 件: " + (data.email ? data.email : "<span>（无）</span>") + "</p>";
	                            html += "</div>";
	                        }
	                    }else{
	                        if (data.name == "null") {
	                            html =
	                                "    <div class=\"title\">" + data.text + "</div>\n" +
	                                "    <div class=\"content\"><p>null</p></div>\n";
	                        } else {
	                            html += "    <div class=\"title\">" + data.text + "</div><div class=\"content\">";
	                            html += "<p><i class='fa fa-user-circle'></i> 负责人: " + (data.name ? data.name : "<span>（无）</span>") + "</p>";
	                            html += "<p><i class='fa fa-suitcase'></i> 职 位: " + (data.positionName ? data.positionName : "<span>（无）</span>") + "</p>";
	                            html += "<p><i class='fa fa-address-book-o '></i> 手 机: " + (data.mobile ? data.mobile : "<span>（无）</span>") + "</p>";
	                            html += "<p><i class='fa fa-envelope-o'></i> 邮 件: " + (data.email ? data.email : "<span>（无）</span>") + "</p>";
	                            html += "</div>";
	                        }
	                    }
	                    return html;
	                }
	            });
	        }
	    });
	
	    /**
	     * 获取url中的参数
	  	 */
	    function getUrlParam(name) {
	        var reg = new RegExp("(^|&)" + name + "=([^&]*)(&|$)");
	        var r = window.location.search.substr(1).match(reg);
	        if (r != null) return unescape(r[2]);
	        return null;
	    }
	</script>
</body>
</html>