<!DOCTYPE html>
<html lang="zh-CN">
<head>
    <title>组织机构树</title>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/static/orgChart/css/beautify.css}" rel="stylesheet" />
    <script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
    <script th:src="@{/static/orgChart/js/html2canvas.min.js}"></script>
    <script th:src="@{/static/orgChart/js/jquery.orgchart.min.js}"></script>
</head>
<body>
	<div id="container" class="orgchart-box"></div>
	<script type="text/javascript">
	    $(function () {
	    	$.get('ajax/getTree', function (orgTree) {
	            if (orgTree.length === 0) {
	                init({text: "未查询到组织机构树"});
	            } else {
	            	init(orgTree[0]);
	            }
	        });
	
	        function init(orgTree) {
	            $('#container').orgchart({
	            	pan: true,
	            	zoom: true,
	            	zoominLimit: 3,
	            	verticalLevel: 3,
	          		visibleLevel: 3,
	          		toggleSiblingsResp: true,
	          		data: orgTree,
	          		exportButton: true,
	          		nodeTemplate: function (data) {
	                	return `
	                   			<div class="title">${data.name}</div>
	                   			<div class="content">
	                   				<p><i class="fa fa-user-circle"></i> 负责人: ${data.name}</p>
	                   				<p><i class="fa fa-suitcase"></i> 职 位: ${data.name}</p>
	                   				<p><i class="fa fa-address-book-o "></i> 手 机: ${data.name}</p>
	                   				<p><i class="fa fa-envelope-o"></i> 邮 件: ${data.name}</p>
	                   			</div>
	                		`;
	                }
	            });
	        }
	    });
	</script>
</body>
</html>