<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>资源列表</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false">
			<table id="treeGrid" class="easyui-treegrid"
          		data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					idField:'id',
			   		treeField:'text',
					toolbar:'#toolbar',
					method:'get',
               		url:'resource/ajax/findListByPid'
              	">
				<thead>
               		<tr>
                       	<th data-options="field:'text',title:'资源名称',width:160,formatter:$.treeTextFormatter"></th>
                      	<th data-options="field:'resourceTypeCode',title:'资源类别',width:80,formatter:$.resourceTypeFormatter"></th>
                      	<th data-options="field:'url',title:'资源地址或标识',hidden:true"></th>
                       	<th data-options="field:'code',title:'资源编码',width:100"></th>
                     	<th data-options="field:'level',title:'层级',width:80"></th>
                     	<th data-options="field:'sort',title:'排序',width:80"></th>
                    	<th data-options="field:'disabled',title:'启用状态',width:100,formatter:$.disabledFormatter"></th>
                    	<th data-options="field:'commonly',title:'常用菜单',width:80,formatter:function(value,row){if(value){return '是'} return '';}"></th>
                    	<th data-options="field:'defaultHomePage',title:'默认主页',width:80,formatter:function(value,row){if(value){return '是'} return '';}"></th>
                     	<th data-options="field:'remark',title:'备注',width:100"></th>
					</tr>
              	</thead>
			</table>
		</div>
	</div>
	<div id="toolbar" class="myui-toolbar">
		<a href="javascript:void(0);"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="menu:'#moreAddMenu',
           		iconCls:'fa fa-plus',
           		hasDownArrow:true
        	">新增
       	</a>
  		<div id="moreAddMenu" class="myui-toolbar" style="width:100px;">
        	<a href="javascript:resourceDialog(1);"
            	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增根节点
      		</a>
     		<a href="javascript:resourceDialog(2);"
             	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增子节点
      		</a>
  		</div>
		<a href="javascript:resourceDialog(3);"
			class="easyui-menubutton myui-btn-normal myui-btn-blue"
           	data-options="iconCls:'fa fa-pencil',
           		hasDownArrow:false
       		">编辑
   		</a>
    </div>
    <script type="text/javascript">
    	/**
    	 * 资源弹窗
         * @param type 1：新增根节点，2：新增子节点，3：编辑
    	 */
    	function resourceDialog (type) {
    		var isAdd = true;
    		var dialogTitle = '新增';
    		var dialogHref = ctx + '/sys/resource/dialog';
    		if (type === 2 || type === 3) {
        		var selected = $('#treeGrid').treegrid('getSelected');
        		if (selected) {
        			if (type === 2) {
        				dialogHref += '?pid=' + selected.id;
        			} else if (type === 3) {
        				isAdd = false;
        				dialogHref += '?uuid=' + selected.uuid;
        			}
        		} else {
        			$.messager.myuiAlert('操作提示', '请先选择要操作的数据', 'warning');
        			return;
        		}
    		}
    		var $resourceDialog = $('<form id=\'resourceDialog\' method=\'get\' class=\'myui\'></form>');
    	    $resourceDialog.myuiDialog({
    	        title: dialogTitle,
    	        width: 950,
    	        height: 488,
    			collapsible: true,
    			minimizable: false,
    			maximizable: true,
    	        closed: false,
    	        cache: false,
    	        href: dialogHref,
    	        modal: true,
    	        buttons: [{
    	            text: isAdd ? '保存' : '更新',
    	            iconCls: isAdd ? 'fa fa-plus' : 'fa fa-save',
    	            handler: function () {
    					$.messager.progress({'text': '请求中……'});
    			        $resourceDialog.form('submit', {
    			            url: ctx + '/sys/resource/ajax/save',
    			            onSubmit: function () {
    			                var isValid = $(this).form('validate');
    			                if (!isValid) {
    			                    $.messager.progress('close');
    			                }
    			                return isValid;
    			            },
    			            success: function (result) {
    							var resultJson = JSON.parse(result);
    			                if (resultJson.statusCode == 200) {
    			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
    			                	$resourceDialog.dialog('destroy');
    			                	if (resultJson.data.pid == null) {
    			                		$('#treeGrid').treegrid('reload');
    			                	} else {
    			                		$('#treeGrid').treegrid('reload', resultJson.data.pid);
    			                	}
    			                } else {
    			                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'服务器出错了', timeout: 5000, showType: 'slide'});
    			                }
    			                $.messager.progress('close');
    			        	}
    			 		});
    				}
    	        }, {
    	            text: '关闭',
    	            iconCls: 'fa fa-close',
    	            handler: function () {
    	                $resourceDialog.dialog('destroy');
    	            }
    	        }],
    			onClose: function () {
    				$resourceDialog.dialog('destroy');
    			}
    	    });
    	}
    </script>
</body>
</html>