<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>角色管理</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout"
    	data-options="fit:true">
    	<!-- 左侧 -->
        <div data-options="region:'center',
        		split:true,
        		border:false,
        		bodyCls:'border_right',
        		width:'35%'
        	">
       		<table id="treeGrid" class="easyui-treegrid"
          		data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					idField:'id',
			   		treeField:'text',
					toolbar:'#toolbar',
					method:'get',
               		url:'role/ajax/getTree',
               		onLoadSuccess:function(row,data){
               			var that = this;
               			if (row == null) {
               				$.each(data, function (i, item) {
               					$(that).treegrid('expand', item.id);
               				});
               			}
               		},
               		onClickRow:function(row){
				   		$('#authAccessTreegrid').treegrid('reload');
					}
              	">
				<thead>
               		<tr>
	                    <th data-options="field:'text',title:'名称',width:100"></th>
	                    <th data-options="field:'sort',title:'排序',width:25"></th>
	                    <th data-options="field:'disabled',title:'状态',width:25,formatter:$.disabledFormatter"></th>
					</tr>
              	</thead>
			</table>
        </div>
        <!-- 右侧 -->
        <div data-options="region:'east',
        		split:true,
        		border:false,
        		bodyCls:'border_right',
        		width:'65%'
        	">
          	<div class="easyui-tabs"
          		id="eastTabs"
            	data-options="fit:true,
             		border:true,
             		bodyCls:'border_right_none'
             	">
                <div style="overflow: hidden;"
                	title="功能权限"
               		data-options="iconCls:'fa fa-newspaper-o'
               		">
               		<table id="authAccessTreegrid" 
                    	class="easyui-treegrid"
                    	data-options="border:false,
							fit:true,
							fitColumns:false,
							singleSelect:true,
							idField:'id',
					   		treeField:'text',
                       		animate:false,
                     		checkbox:true,
							toolbar:'#authAccessTreegridToolbar',
							method:'get',
                       		url:ctx+'/sys/authAccess/ajax/getTree',
                       		onBeforeLoad:function(row,param){
		               			var selectedRole = $('#treeGrid').treegrid('getSelected');
		               			if (selectedRole) {
		               				param.roleId = selectedRole.roleId;
		               			}
		               		},
		               		onLoadSuccess:function(row,data){
		               			$(this).treegrid('expandAll');
		               		}
                    	">
                        <thead>
	                        <tr>
	                            <th data-options="field:'text',title:'资源名称',width:250"></th>
	                            <th data-options="field:'accessAuth',title:'授权状态',width:80,align:'center',formatter:$.accessAuthFormatter"></th>
	                            <th data-options="field:'code',title:'编码',width:120"></th>
                      			<th data-options="field:'resourceTypeCode',title:'资源类别',width:120,align:'center',formatter:$.resourceTypeFormatter"></th>
	                            <th data-options="field:'opt',
	                            		title:'操作',
	                            		width:80,
	                            		align:'center',
	                            		formatter:function(value,row,index){
	                                		if (row.accessAuth) {
	                                    		return '<span data-role-id=\''+row.roleId+'\' data-resource-id=\''+row.resourceId+'\' data-id=\''+row.id+'\' class=\'singleUnGrant layui-btn layui-btn-xs layui-btn-primary\' onclick=\'singleUnGrantOnclick(this);\'><i class=\'fa fa-times\'></i> 取消</span>';
	                                		} else {
	                                    		return '<span data-role-id=\''+row.roleId+'\' data-resource-id=\''+row.resourceId+'\' data-id=\''+row.id+'\' class=\'singleGrant layui-btn layui-btn-xs\' onclick=\'singleGrantOnclick(this);\'><i class=\'fa fa-check\'></i> 授权</span>';
	                                		}
	                            		}
	                            	"></th>
	                        </tr>
                        </thead>
                    </table>
				</div>
				<div style="overflow: hidden;"
                	title="授权人员"
               		data-options="iconCls:'fa fa-user-md'
               		">
				</div>
				<div style="overflow: hidden;"
                	title="自定义"
               		data-options="iconCls:'fa fa-chain'
               		">
				</div>
            </div>
    	</div>
    </div>
    <!-- 角色 工具栏 -->
	<div id="toolbar" class="myui-toolbar">
		<a href="javascript:void(0);"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="menu:'#moreAddMenu',
           		iconCls:'fa fa-plus',
           		hasDownArrow:true
        	">新增
       	</a>
  		<div id="moreAddMenu" class="myui-toolbar" style="width:100px;">
        	<a href="javascript:roleDialog(1);"
            	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增根节点
      		</a>
     		<a href="javascript:roleDialog(2);"
             	class="easyui-menubutton"
              	data-options="iconCls:'fa fa-plus',
           			hasDownArrow:false
      			">新增子节点
      		</a>
  		</div>
		<a href="javascript:roleDialog(3);"
			class="easyui-menubutton myui-btn-normal myui-btn-blue"
           	data-options="iconCls:'fa fa-pencil',
           		hasDownArrow:false
       		">编辑
   		</a>
    </div>
    <!-- 功能权限 工具栏 -->
  	<div id="authAccessTreegridToolbar" class="myui-toolbar">
  		<a href="javascript:permissionOnclick();"
         	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
          	">批量授权
   		</a>
    	<a href="javascript:unPermissionOnclick();"
        	class="easyui-menubutton myui-btn-normal myui-btn-red"
        	data-options="iconCls:'fa fa-trash',
           		hasDownArrow:false
        	">批量取消
   		</a>
	</div>
    <script type="text/javascript">
    	/**
    	 * 弹窗
         * @param type 1：新增根节点，2：新增子节点，3：编辑
    	 */
    	function roleDialog (type) {
    		var isAdd = true;
    		var dialogHref = ctx + '/sys/role/dialog';
    		if (type === 2 || type === 3) {
        		var selected = $('#treeGrid').treegrid('getSelected');
        		if (selected) {
        			if (type === 2) {
        				dialogHref += '?pid=' + selected.id;
        			} else if (type === 3) {
        				isAdd = false;
        				dialogHref += '?roleId=' + selected.roleId;
        			}
        		} else {
        			$.messager.myuiAlert('操作提示', '请先选择要操作的数据', 'warning');
        			return;
        		}
    		}
    		var $roleDialog = $('<form id=\'roleDialog\' method=\'get\' class=\'myui\'></form>');
    	    $roleDialog.myuiDialog({
    	        title: isAdd ? '新增' : '编辑',
    	        width: 890,
    	        height: 440,
    			collapsible: true,
    			minimizable: false,
    			maximizable: true,
    	        closed: false,
    	        cache: false,
    	        href: dialogHref,
    	        modal: true,
    	        buttons: [{
    	            text: isAdd ? '保存' : '更新',
    	            iconCls: isAdd ? 'fa fa-plus' : 'fa fa-save',
    	            handler: function () {
    					$.messager.progress({'text': '请求中……'});
    			        $roleDialog.form('submit', {
    			            url: ctx + '/sys/role/ajax/save',
    			            onSubmit: function () {
    			                var isValid = $(this).form('validate');
    			                if (!isValid) {
    			                    $.messager.progress('close');
    			                }
    			                return isValid;
    			            },
    			            success: function (result) {
    							var resultJson = JSON.parse(result);
    			                if (resultJson.statusCode == 200) {
    			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
    			                	$roleDialog.dialog('destroy');
    			                	if (resultJson.data.pid == null) {
    			                		$('#treeGrid').treegrid('reload');
    			                	} else {
    			                		if (!isAdd) {
    			                			$('#treeGrid').treegrid('remove', resultJson.data.id);
    			                		}
    			                		var parentNode = $('#treeGrid').treegrid('find', resultJson.data.pid);
    			                		parentNode.state = 'closed';
    			                		$('#treeGrid').treegrid('update', { id: parentNode.id, row: parentNode });
    			                		$('#treeGrid').treegrid('reload', resultJson.data.pid);
    			                		$('#treeGrid').treegrid('expandTo', resultJson.data.pid);
    			                	}
    			                } else {
    			                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'服务器出错了', timeout: 5000, showType: 'slide'});
    			                }
    			                $.messager.progress('close');
    			        	}
    			 		});
    				}
    	        }, {
    	            text: '关闭',
    	            iconCls: 'fa fa-close',
    	            handler: function () {
    	                $roleDialog.dialog('destroy');
    	            }
    	        }],
    			onClose: function () {
    				$roleDialog.dialog('destroy');
    			}
    	    });
    	}
    </script>
    <script type="text/javascript">
    	/**
    	 * 单个授权
    	 */
    	function singleGrantOnclick (e) {
    		var roleId = $(e).data('role-id');
    		var resourceId = $(e).data('resource-id');
    		sendPermissionRequest(true, roleId, resourceId);
    	}
    	
    	/**
    	 * 单个取消授权
    	 */
		function singleUnGrantOnclick (e) {
			var roleId = $(e).data('role-id');
    		var resourceId = $(e).data('resource-id');
    		sendPermissionRequest(false, roleId, resourceId);
    	}
    	
		/**
    	 * 批量授权
    	 */
		function permissionOnclick () {
    		var checkedNodes = $('#authAccessTreegrid').treegrid('getCheckedNodes');
    		if (!checkedNodes || checkedNodes.length === 0) {
    			$.messager.myuiAlert('操作提示', '请勾选资源！', 'warning');
    			return;
    		}
    		console.log(checkedNodes);
    	}

		/**
    	 * 批量取消授权
    	 */
		function unPermissionOnclick () {
			var checkedNodes = $('#authAccessTreegrid').treegrid('getCheckedNodes');
    		if (!checkedNodes || checkedNodes.length === 0) {
    			$.messager.myuiAlert('操作提示', '请勾选资源！', 'warning');
    			return;
    		}
    		console.log(checkedNodes);
    	}
		
		/**
    	 * 授权请求
    	 */
		function sendPermissionRequest (isGrant, roleId, resourceIds) {
			var SCOPE = {
			    	permissionUrl: ctx + "/sys/authAccess/ajax/grant",
			        unPermissionUrl: ctx + "/sys/authAccess/ajax/unGrant"
				};
		    var MSG = {
		        	permissionSuccess: "赋予授权成功！",
		        	permissionFail: "赋予授权失败！",
		        	unPermissionSuccess: "取消授权成功!",
		        	unPermissionFail: "取消授权失败！"
		    	};
			$.post(isGrant ? SCOPE.permissionUrl : SCOPE.unPermissionUrl, 
					{ roleId: roleId, resourceIds: resourceIds }, 
					function (resultJson) {
						$.messager.progress('close');
		                if (resultJson.statusCode == 200) {
		                	$('#authAccessTreegrid').treegrid('reload');
		                	$.messager.show({title: '操作提示', msg: isGrant ? MSG.permissionSuccess : MSG.unPermissionSuccess, timeout: 5000, showType: 'slide'});
		                } else {
		                	$.messager.myuiAlert("提示", isGrant ? MSG.permissionFail : MSG.unPermissionFail, "error");
		                }
		            });
		}
    </script>
</body>
</html>