<div class="myui-fluid mlr15center" th:object="${userDetail}">
    <div class="myui-row">
    	<input type="hidden" th:field="*{userId}" />
    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <div class="myui-row">
		<div class="myui-col-sm4">
			<div class="layui-card avatar" style="box-shadow: none;margin: 21px 60px;width: 168px;height: 168px;">
				<div class="layui-card-body" style="text-align: center;padding-top: 60px;">
					<div class="layui-upload-drag" style="border: none;padding: 0px;">
						<input type="hidden" th:field="*{avatar}" />
						<img style="max-width: 100%;max-height: 168px;display: none;" />
						<i class="layui-icon layui-icon-upload" style="font-size: 80px;"></i>
						<p>上传头像</p>
					</div>
				</div>
			</div>
		</div>
		<div class="myui-col-sm8">
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">登录账号</label>
					<div class="myui-input-block">
						<input type="text" th:field="*{username}" 
							class="easyui-textbox"
							data-options="required:true,
								prompt:'必填',
								width:435.33,
								validType:'username'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">昵称</label>
					<div class="myui-input-block">
						<input type="text" th:field="*{nickname}" 
							class="easyui-textbox"
							data-options="required:true,
								prompt:'必填',
								width:435.33,
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">真实姓名</label>
					<div class="myui-input-block">
						<input type="text" th:field="*{realname}" 
							class="easyui-textbox"
							data-options="prompt:'真实姓名',
								width:435.33,
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">性别</label>
					<div class="myui-input-block">
						<input type="text" th:field="*{sex}" 
							class="easyui-combobox"
							data-options="prompt:'请选择',
								width:435.33,
								valueField:'value',
								textField:'text',
								panelHeight:'auto',
								data: [
								    {text:'请选择',value:null},
								    {text:'男',value:'M'},
								    {text:'女',value:'F'}
								]
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">出生日期</label>
					<div class="myui-input-block">
						<input type="text" th:field="*{birthday}" 
							class="easyui-datebox"
							data-options="prompt:'出生日期',
			        			width:435.33,
								parser:function(s){
							        if(s){
								        if(!isNaN(s)){
									        return new Date(s);
									    }else{
									        var t = Date.parse(s);
									        if(!isNaN(t)){
									        	return new Date(t);
										    }
									    }
								    }
								    return new Date();
			        			}
			        		"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="myui-row" 
		th:if="*{#strings.isEmpty(userId)}">
		<div class="myui-col-sm6">
			<label class="myui-form-label">登录密码</label>
			<div class="myui-input-block">
				<input type="text" th:field="*{password}" 
					class="easyui-passwordbox"
					data-options="required:true,
						prompt:'必填',
                		width:294,
						validType:'password'
					"/>
			</div>
		</div>
		<div class="myui-col-sm6">
			<label class="myui-form-label">确认密码</label>
			<div class="myui-input-block">
				<input type="text" name="confirmPassword" 
					class="easyui-passwordbox"
					data-options="required:true,
						prompt:'必填',
                		width:294,
						validType:'equals[\'#password\']'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
        <div class="myui-col-sm12">
        	<label class="myui-form-label">所属机构</label>
        	<div class="myui-input-block">
           		<input type="text" th:field="*{orgIds}"
                	class="easyui-combotreegrid"
                  	data-options="idField:'orgId',
    			   		treeField:'text',
    			   		required:true,
    			   		fitColumns:true,
                   		prompt:'必选',
                   		width:718,
                   		panelHeight:288,
                   		editable:true,
                   		limitToGrid:true,
						method:'get',
                       	url:ctx+'/sys/org/ajax/getTree',
                       	icons:[{
                        	iconCls:'fa fa-remove',
                            handler:function(e){
                                $(e.data.target).combotreegrid('clear');
                          	}
                      	}],
                   		columns:[[
                        	{field:'text',title:'组织机构名称',width:100},
                        	{field:'code',title:'代码',width:100},
                        	{field:'disabled',title:'状态',width:25,formatter:$.disabledFormatter}
                       	]],
	               		onLoadSuccess:function(row,data){
	               			$(this).treegrid('expandAll');
	               		}
					"/>
            </div>
        </div>
    </div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">角色授权</label>
			<div class="myui-input-block">
				<input type="text" th:field="*{roleIds}"
                	class="easyui-combotreegrid"
                  	data-options="idField:'roleId',
    			   		treeField:'text',
    			   		required:false,
    			   		fitColumns:true,
                   		prompt:'可选',
                   		width:718,
                   		panelHeight:248,
                  		multiple:true,
                       	checkbox:true,
                       	cascadeCheck:false,
                       	onlyLeafCheck:true,
                   		editable:true,
                   		limitToGrid:true,
						method:'get',
                       	url:ctx+'/sys/role/ajax/getTree',
                       	icons:[{
                        	iconCls:'fa fa-remove',
                            handler:function(e){
                                $(e.data.target).combotreegrid('clear');
                          	}
                      	}],
                   		columns:[[
                        	{field:'text',title:'角色名称',width:100},
                        	{field:'code',title:'角色代码',width:100},
                        	{field:'disabled',title:'状态',width:25,formatter:$.disabledFormatter}
                       	]],
	               		onLoadSuccess:function(row,data){
	               			$(this).treegrid('expandAll');
	               		}
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm6">
			<label class="myui-form-label">手机号码</label>
			<div class="myui-input-block">
				<input type="text" th:field="*{mobile}" 
					class="easyui-textbox"
					data-options="prompt:'手机号码',
						width:294,
						validType:'cellphone'
					"/>
			</div>
		</div>
		<div class="myui-col-sm6">
			<label class="myui-form-label">邮箱地址</label>
			<div class="myui-input-block">
				<input type="text" th:field="*{email}" 
					class="easyui-textbox"
					data-options="prompt:'邮箱地址',
						width:294,
						validType:'email'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm6">
            <label class="myui-form-label">启用状态</label>
            <div class="myui-input-block">
                <input type="text" th:field="*{enabled}"
                	class="easyui-combobox"
                  	data-options="required:true,
                  		valueField:'value',
						textField:'text',
						prompt:'必选',
						width:294,
						panelHeight:'auto',
						data: [
						    {text:'启用',value:'true'},
							{text:'禁用',value:'false'}
						]
					"/>
            </div>
        </div>
		<div class="myui-col-sm6">
            <label class="myui-form-label">是否锁定</label>
            <div class="myui-input-block">
                <input type="text" th:field="*{accountNonLocked}"
                	class="easyui-combobox"
                  	data-options="required:true,
						valueField:'value',
						textField:'text',
						prompt:'必选',
						width:294,
						panelHeight:'auto',
						data: [
						    {text:'否',value:'true'},
							{text:'是',value:'false'}
						]
					"/>
            </div>
        </div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">个性签名</label>
			<div class="myui-input-block">
				<input type="text" th:field="*{sign}" 
					class="easyui-textbox"
					data-options="prompt:'个性签名',
						width:718,
						validType:'maxLength[255]'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
        <div class="myui-col-sm12">
        	<label class="myui-form-label">备注</label>
            <div class="myui-input-block">
                <input type="text" th:field="*{remark}" 
                	class="easyui-textbox"
                   	data-options="width:718,
                   		height:100,
                   		multiline:true
                   	"/>
            </div>
        </div>
    </div>
</div>