<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>用户管理</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false
			">
            <table id="dataGrid" 
            	class="easyui-datagrid"
            	data-options="border:false,
					fit:true,
					fitColumns:true,
					toolbar:'#toolbar',
					pagination:true,
					pageSize:20,
					method:'get',
					url:'user/ajax/page',
                   	onBeforeLoad:$.pageOnBeforeLoad
               	">
                <thead>
	                <tr>
	                	<th data-options="field:'userId',title:'用户ID',checkbox:true"></th>
	                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#dataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
                      	<th data-options="field:'nickname',title:'昵称',width:100"></th>
                      	<th data-options="field:'username',title:'账号',width:100"></th>
                     	<th data-options="field:'mobile',title:'手机',width:100"></th>
                      	<th data-options="field:'email',title:'邮箱',width:100"></th>
                     	<th data-options="field:'enabled',title:'是否启用',width:60,align:'center',formatter:$.yesNoFormatter"></th>
                      	<th data-options="field:'accountNonExpired',title:'账户未过期',width:60,align:'center',hidden:true,formatter:$.yesNoFormatter"></th>
                       	<th data-options="field:'credentialsNonExpired',title:'凭证未过期',width:60,align:'center',hidden:true,formatter:$.yesNoFormatter"></th>
                       	<th data-options="field:'accountNonLocked',title:'是否锁定',width:60,align:'center',formatter:$.noYesFormatter"></th>
                       	<th data-options="field:'remark',title:'备注',width:100"></th>
	                    <th data-options="field:'createdAt',title:'创建时间',width:153,align:'right',formatter:$.createdAtFormatter"></th>
	                    <th data-options="field:'updatedAt',title:'更新时间',width:153,align:'right',formatter:$.updatedAtFormatter"></th>
                       	<th data-options="field:'actions',title:'操作',align:'center',formatter:operateFormatter"></th>
	                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="toolbar" class="myui-toolbar">
		<a href="javascript:userDialog();"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
        	">新增
       	</a>
   		<a href="javascript:void(0);"
        	class="easyui-menubutton myui-btn-normal myui-btn-orange"
         	data-options="menu:'#moreOpsMenu',
           		iconCls:'fa fa-list',
           		hasDownArrow:true
       		">更多
       	</a>
       	<div id="moreOpsMenu" class="myui-toolbar">
        	<div onclick="javascript:resetPassword();"
        		class="easyui-menubutton"
           		data-options="iconCls:'fa fa-key',
           			hasDownArrow:false
            	">重置密码
         	</div>
		</div>
		<form id="form" class="search-box">
	    	<input type="text" name="orgIds"
	    		id="orgIds"
          		class="easyui-combotreegrid"
             	th:data-options="|fitColumns:true,
					singleSelect:true,
                 	prompt:'组织机构',
                 	width:280,
					idField:'orgId',
			   		treeField:'text',
					method:'get',
                 	url:'org/ajax/getTree',
                  	columns:[[
                       	{field:'text',title:'组织机构名称',width:100}
                	]],
               		onLoadSuccess:function(row,data){
               			$(this).treegrid('expandAll');
               		}
           		|"/>
	   		<input type="text" name="keywords"
	    		id="keywords" 
	   			class="easyui-textbox"
	        	data-options="prompt:'关键词',
	        		width:220
	        	"/>
	        <a href="javascript:search();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:reset();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form> 
    </div>
<script type="text/javascript">
	/**
	 * 查询
	 */
	function search () {
		$('#dataGrid').datagrid('load', {
			orgIds: $('#orgIds').combo('getValue'),
			keywords: $('#keywords').textbox('getValue')
		});
	}
	
	/**
	 * 重置
	 */
	function reset () {
		$('#form').form('clear');
		search();
	}

	/**
	 * 操作
	 */
	function operateFormatter (value, row, index) {
		return '<a href="javascript:userDialog(\'' + row.userId + '\');" class="l-btn myui-btn-green l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">编辑</span><span class="l-btn-icon fa fa-pencil"></span></span></a>';
	}
	
	/**
	 * 弹窗（新增|编辑）
	 */
	function userDialog (userId) {
		var $userDialog = $('<form id=\'userDialog\' method=\'get\' class=\'myui\'></form>');
	    $userDialog.myuiDialog({
	        title: userId ? '编辑' : '新增',
	        width: 890,
	        height: 483,
			collapsible: true,
			minimizable: false,
			maximizable: true,
	        closed: false,
	        cache: false,
	        href: 'user/dialog' + (userId ? ('?userId=' + userId) : ''),
	        modal: true,
	        buttons: [{
	            text: userId ? '更新' : '保存',
	            iconCls: userId ? 'fa fa-save' : 'fa fa-plus',
	            handler: function () {
					$.messager.progress({'text': '请求中……'});
			        $userDialog.form('submit', {
			            url: 'user/ajax/save',
			            onSubmit: function () {
			                var isValid = $(this).form('validate');
			                if (!isValid) {
			                    $.messager.progress('close');
			                }
			                return isValid;
			            },
			            success: function (result) {
							var resultJson = JSON.parse(result);
			                if (resultJson.statusCode == 200) {
			                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
			                	$userDialog.dialog('destroy');
			                	$('#dataGrid').datagrid('load');
			                } else {
			                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'服务器出错了', timeout: 5000, showType: 'slide'});
			                }
			                $.messager.progress('close');
			        	}
			 		});
				}
	        }, {
	            text: '关闭',
	            iconCls: 'fa fa-close',
	            handler: function () {
	                $userDialog.dialog('destroy');
	            }
	        }],
	        onLoad: function () {
	        	var avatar = $userDialog.find("input[name='avatar']").val();
	        	if (avatar) {
					$userDialog.find(".avatar img").attr("src", ctx + '/sys/file/download/' + avatar + '?inline').show().siblings().hide().parent().parent().css('padding-top', '10px');
				}
				// 绑定头像上传
				layui.upload.render({
					elem: $userDialog.find(".avatar").get(0),
					url: ctx + "/sys/file/upload",
					accept: "images",
				   	acceptMime: "image/*",
					before: function(obj) {
						if (obj) {
							window.uploadeindex = layer.load(2);
						}
					},
					done: function (res, index, upload) {
						if (res && index && upload) {
							layer.close(window.uploadeindex);
							if (res.success) {
								$userDialog.find(".avatar input[name='avatar']").val(res.data.fileId);
								$userDialog.find(".avatar img").attr("src", ctx + '/sys/file/download/' + res.data.fileId + '?inline').show().siblings().hide().parent().parent().css('padding-top', '10px');
							} else {
								layer.msg("上传失败", { icon: 5, shift:6 });
							}
						} else {
							layer.msg("出错了", { icon: 5, shift:6 });
						}
				    },
				    error: function (index, upload) {
						if (index && upload) {
							layer.msg("出错了", { icon: 5, shift:6 });
						}
				    }
				});
	        },
			onClose: function () {
				$userDialog.dialog('destroy');
			}
	    });
	}
	
	/**
	 * 重置密码
	 */
	function resetPassword () {
		var checked = $('#dataGrid').datagrid('getChecked');
		if (!checked || checked.length === 0) {
			$.messager.myuiAlert('操作提示', '请先选中要重置密码的用户！', 'warning');
			return;
		} else {
			var userIds = [];
			$.each(checked, function (i, item) {
				userIds[i] = item.userId;
			});
			$.messager.myuiConfirm('操作提示', '确定要重置该用户密码吗？重置后新密码只显示一次，请自行记录。', function (r) {
				if (r) {
					$.messager.progress({'text': '请求中……'});
					$.post('user/ajax/resetPassword', 
							{ userIds: userIds.join() }, 
							function (resultJson) {
				                $.messager.progress('close');
								if (resultJson.statusCode == 200) {
				                	$.messager.show({title: '我的消息', msg: resultJson.data, timeout: 10000, showType: 'slide'});
				                } else {
				                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'服务器出错了', timeout: 5000, showType: 'slide'});
				                }
							});
				}
			});
		}
	}
</script>
</body>
</html>