<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>文档分类</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout"
    	data-options="fit:true">
    	<!-- 左侧 -->
        <div data-options="region:'west',
        		split:true,
        		border:false,
        		bodyCls:'border_right',
        		width:280
        	">
       		<table id="treeGrid" class="easyui-treegrid"
          		th:data-options="|border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					idField:'id',
			   		treeField:'text',
					method:'get',
               		url:ctx+'/pub/doc/ajax/getTree?shareUuid=${shareUuid}',
               		onLoadSuccess:function(row,data){
               			var that = this;
               			if (data && data.length > 0) {
               				$.each(data, function (i, item) {
               					$(that).treegrid('expandAll', item.id);
               				});
               			}
               			if (row == null) {
               				var $selectedId = ${docCategoryShare?.docCategoryId};
               				if (!($selectedId === null)) {
               					$(that).treegrid('select', $selectedId);
               				}
               			}
               		},
               		onClickRow:function(row){
				   		var url = ctx + '/pub/doc/m/${shareUuid}?docCategoryUuid=' + row.uuid;
				     	$('#Iframe')[0].contentWindow.location.href = url;
					}
              	|">
				<thead>
               		<tr>
	                    <th data-options="field:'text',title:'名称',width:100"></th>
					</tr>
              	</thead>
			</table>
        </div>
        <!-- 右侧 -->
        <div data-options="region:'center',
        		split:true,
        		border:false,
        		bodyCls:'border_left'
        	">
          	<div class="easyui-layout"
	    		data-options="fit:true">
	    		<iframe id="Iframe" th:src="@{'/pub/doc/m/'+${shareUuid}+'?docCategoryUuid='+${docCategoryShare?.docCategoryUuid}}" scrolling="auto" frameborder="0" style="width:100%;height:100%;"></iframe>
	    	</div>
    	</div>
    </div>
</body>
</html>