﻿<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>404</title>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<link th:href="@{/static/favicon.ico}" rel="shortcut icon" />
	<style type="text/css">
		.container {
			text-align: center;
			padding: 100px 0px;
		}
	</style>
</head>
<body>
	<div class="container">
		<img th:src="@{/static/images/404.png}" />
	</div>
</body>
</html>