<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.renlm.graph.modular.doc.mapper.DocCategoryShareMapper">
	<!-- 分页列表 -->
	<select id="findDocPage" resultType="cn.renlm.graph.modular.doc.dto.DocCategoryShareDto">
	
	</select>
</mapper>
