<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.renlm.graph.modular.doc.mapper.DocCategoryShareMapper">
	<!-- 分页列表 -->
	<select id="findDocPage" resultType="cn.renlm.graph.modular.doc.dto.DocCategoryShareDto">
		select dcs.`id`,
			dcs.`doc_project_id`,
			dcs.`doc_category_id`,
			dcs.`uuid`,
			dcs.`share_type`,
			dcs.`password`,
			dcs.`effective_type`,
			dcs.`deadline`,
			dcs.`created_at`,
			dcs.`creator_user_id`,
			dcs.`creator_nickname`,
			dcs.`updated_at`,
			dcs.`updator_user_id`,
			dcs.`updator_nickname`,
			dcs.`disabled`,
			dcs.`deleted`,
			dcs.`remark`,
			dp.id as `docProjectId`,
			dp.uuid as `docProjectUuid`,
			dp.project_name as `docProjectName`,
			dc.uuid as `docCategoryUuid`,
			dc.`text` as `docCategoryName`
		from doc_project dp, doc_category dc, doc_category_share dcs
		where dp.id = dc.doc_project_id
			and dc.id = dcs.doc_category_id
			and dp.deleted = 0 
			and dc.deleted = 0
			and dcs.deleted = 0
			and dcs.creator_user_id = #{user.userId,jdbcType=VARCHAR}
			and dp.id in 
			<foreach collection="projectIds" item="projectId" open="(" close=")" separator=",">
				#{projectId,jdbcType=BIGINT}
			</foreach>
		order by dcs.updated_at desc, dcs.id desc
	</select>
</mapper>
