<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.renlm.graph.modular.doc.mapper.DocProjectMemberMapper">
	<!-- 分页列表（项目授权人员） -->
	<select id="findAuthAccessPage" resultType="cn.renlm.graph.modular.doc.dto.DocProjectMemberDto">
	
	</select>
</mapper>
