@charset "utf-8";

@import "scrollbar.css";

[v-cloak] {
	display: none;
}

.hide {
	display: none !important;
}

.container {
	margin: 0px;
	padding: 0px;
}

.container .layui-tab-title {
	border: none;
}

.container .layui-tab-title .layui-this {
	color: #fff;
}

.container .layui-tab-title .layui-this:after {
	top: 40px;
	margin-left: 15px;
	height: 5px;
	-webkit-width: calc(100% - 30px);
	-moz-width: calc(100% - 30px);
	-o-width: calc(100% - 30px);
	width: calc(100% - 30px);
	border: none;
	border-radius: 0px;
	background-color: #5FB878;
	-webkit-transition: all .2s;
	-moz-transition: all .2s;
	-o-transition: all .2s;
	transition: all .2s;
	pointer-events: none;
}

.header {
	width: 100%;
	height: 45px;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #222;
	border-bottom: none;
}

.header .logo a {
	float: left;
	color: #fff;
	font-size: 18px;
	padding-left: 20px;
	padding-right: 20px;
	line-height: 45px;
	width: auto;
}

.header .left {
	background-color: rgba(0, 0, 0, 0);
	float: left;
}

.header .right {
	background-color: rgba(0, 0, 0, 0);
	float: right;
}

.header .right a {
	min-width: 53px;
	text-align: right;
}

.header .layui-nav .layui-nav-item {
	line-height: 45px;
}

.header .layui-nav .layui-nav-item a {
	color: #fff;
}

.header .layui-nav-bar {
	margin-left: 15px;
}

.header .layui-nav-child {
	top: 50px;
}

.header .layui-nav .layui-nav-child a {
	cursor: pointer;
	color: #333;
}

.header .layui-nav .layui-nav-child form {
	cursor: pointer;
	display: block;
	padding: 0 20px;
	color: #333;
}

.iframer {
	position: absolute;
	top: 45px;
	right: 0;
	bottom: 41px;
	left: 0px;
	overflow: hidden;
	z-index: 1;
	padding: 0px;
}

.iframer .layui-tab-item, .iframer .layui-tab-item iframe {
	height: 100%;
	width: 100%;
	background: #EFEEF0 0 0 no-repeat;
	margin: 0px;
}

.footer {
	position: fixed;
	bottom: 0px;
	width: 100%;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	-o-box-sizing: border-box;
	-ms-box-sizing: border-box;
	box-sizing: border-box;
	background-color: #222;
	border-top: none;
	line-height: 41px;
	color: #fff;
}

.footer .copyright {
	margin-left: 10px;
}

.editormder .editormd-html-preview {
	width: 90%;
	margin: 0 auto;
}

.welcome-bg {
	width: 100%;
    height: 400px;
    background: url(../images/welcome.png) no-repeat center center;
}