@charset "utf-8";

@import "scrollbar.css";

@import "ie-warn.css";

[v-cloak] {
	display: none;
}

.hide {
	display: none !important;
}

.editormder .editormd-html-preview {
	width: 90%;
	margin: 0 auto;
}

.welcome-bg {
	width: 100%;
	height: 400px;
	background: url(../images/welcome.png) no-repeat center center;
}

.layim-tool-about {
	visibility: hidden;
}

/* PEACE */

.pace {
    -webkit-pointer-events: none;
    pointer-events: none;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.pace-inactive {
    display: none;
}

.pace .pace-progress {
    background: #4ad0ff;
    position: fixed;
    z-index: 2000;
    top: 0;
    width: 100%;
    height: 2px;
}

.pace-inactive {
    display: none;
}