* {
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

.editormd.noborder {
	border: none;
}

.editormd-html-preview {
	width: 90%;
	margin: 0 auto;
}

.json5>pre {
	border: none !important;
}

.layui .layui-elem-quote {
	margin-bottom: 10px !important;
	padding: 15px !important;
	line-height: 1.6 !important;
	border-left: 5px solid #5FB878 !important;
	border-radius: 0 2px 2px 0 !important;
	background-color: #FAFAFA !important;
}

.echarts div {
	border-radius: 4px;
}

.md-header {
	font-family: "Microsoft YaHei", "MicrosoftJhengHei", STHeiti, MingLiu;
	border-bottom: 1px solid #dce3e8;
	margin-left: 10px;
	padding-top: 10px;
	padding-bottom: 10px;
}

.md-header .view-page-title {
	font-weight: bold;
}

.md-header .view-page-path {
	font-size: 12px;
	padding: 2px 0;
}

.md-header .view-page-path a {
	color: #31708f;
}

.md-header .view-page-time {
	font-size: 12px;
	padding: 2px 0;
}

.md-header .view-page-operate a {
	color: #31708f;
	font-size: 12px;
	font-style: italic;
	padding: 2px 0;
	margin-left: 10px;
}

.md-header .view-page-operate a:hover {
	text-decoration: underline;
}

.md-header .nickname, .md-header .time {
	color: #31708f;
	font-style: italic;
}

.md-header .version {
	color: #31708f;
	font-style: italic;
	text-decoration: underline;
}

.md-header .layui-btn-container {
	text-align: right;
	padding-top: 5px;
}

.md-header .layui-btn-container button:last-child {
	margin-right: 0;
}

.md-body.md-hide {
	display: none !important;
}

.md-body.no-header {
	margin-top: 0;
	border-top: none;
}

.md-body {
	margin-top: 0;
	margin-left: 10px;
}

.md-body.catalog-hide .md-catalog {
	display: none;
}

.md-body .md-catalog {
	position: static;
	position: -webkit-sticky;
	position: sticky;
	top: 5px;
	float: left;
	padding-top: 15px;
	max-width: 210px;
	min-width: 210px;
}

.md-body .md-catalog .catalog.container ul.markdown-toc-list {
	margin: 0;
	padding-left: 10px;
}

.md-body .md-catalog .catalog.container ul {
	margin: 0;
	padding-left: 16px;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
}

.md-body .md-catalog .catalog.container ul li {
	list-style: initial;
	list-style-position: inside;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.md-body .md-catalog .catalog.container ul li.on::marker, .md-body .md-catalog .catalog.container ul li.on>a
	{
	color: #fe7300;
	font-weight: 600;
}

.md-body.catalog-hide .md-content {
	border-left: none;
}

.md-body .md-content {
	width: auto !important;
	padding-left: 45px !important;
	padding-right: 20px !important;
	border-left: 1px solid #dce3e8;
}

iframe.loading {
	content: ' ';
	display: block;
	background:
		url(../markdown/editor.md-1.5.0/lib/layui/2.6.8/css/modules/layer/default/loading-2.gif)
		no-repeat 50% 50%;
}

.graph-body {
	width: auto !important;
	height: 600px;
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 0;
}

.md-body+.graph-body {
	padding-top: 0 !important;
}

.graph-body.graph-hide {
	visibility: hidden;
}

.graph-body .graph-opts {
	position: absolute;
	right: 30px;
	margin-top: 6px;
}

.graph-body .layui-form.graph-opts .layui-form-select {
	float: left;
	margin-top: -6px;
}

.graph-body .layui-form.graph-opts .layui-form-select>dl {
	max-height: 375px;
}

.graph-body .layui-form.graph-opts .layui-form-select .layui-select-title input
	{
	height: 39px;
}

.graph-body .graph-opts a {
	font-size: 18px;
	margin: 0 0 0 10px;
}

.graph-body iframe {
	width: 100%;
	height: 100%;
	border: 1px solid #dce3e8;
}

.dataTable-body {
	width: auto !important;
	height: 600px;
	padding-top: 10px;
	margin-left: 10px;
	margin-right: 0;
	border: none;
}

.md-body+.dataTable-body {
	padding-top: 0 !important;
}

.dataTable-body.dataTable-hide {
	visibility: hidden;
}

.dataTable-body .dataTable-opts {
	position: absolute;
	right: 30px;
	margin-top: 4px;
}

.dataTable-body .dataTable-opts a {
	font-size: 18px;
	margin: 0 0 0 10px;
}

.dataTable-body iframe {
	width: 100%;
	height: 100%;
}