* {
	margin: 0px;
	padding: 0px;
}

html, body {
	width: 100%;
	height: 100%;
}

.editormd.noborder {
	border: none;
}

.editormd-html-preview {
	width: 90%;
	margin: 0 auto;
}

.json5>pre {
	border: none !important;
}

.layui .layui-elem-quote {
	margin-bottom: 10px !important;
	padding: 15px !important;
	line-height: 1.6 !important;
	border-left: 5px solid #5FB878 !important;
	border-radius: 0 2px 2px 0 !important;
	background-color: #FAFAFA !important;
}

.echarts div {
	border-radius: 4px;
}

.md-header {
	padding: 5px 0 0 10px;
	font-family: "Microsoft YaHei", "MicrosoftJhengHei", STHeiti, MingLiu;
}

.md-header .view-page-title {
	font-weight: bold;
}

.md-header .view-page-path {
	font-size: 12px;
	padding: 2px 0;
}

.md-header .view-page-path a {
	color: #31708f;
}

.md-header .view-page-time {
	font-size: 12px;
	padding: 2px 0;
}

.md-header .nickname, .md-header .time {
	color: #31708f;
	font-style: italic;
}

.md-header .version {
	color: #31708f;
	font-style: italic;
	text-decoration: underline;
}

.md-header .layui-btn-container {
	text-align: right;
	padding-top: 5px;
}

.md-header .layui-btn-container button:last-child {
	margin-right: 0;
}

.md-body.md-hide {
	display: none !important;
}

.md-body {
	margin-top: 10px;
	margin-left: 10px;
	border-top: 1px solid #dce3e8;
}

.md-body.catalog-hide .md-catalog {
	display: none;
}

.md-body .md-catalog {
	position: static;
	position: -webkit-sticky;
	position: sticky;
	top: 5px;
	float: left;
	padding-top: 15px;
	max-width: 210px;
}

.md-body .md-catalog .catalog.container ul.markdown-toc-list {
	margin: 0;
	padding-left: 10px;
}

.md-body .md-catalog .catalog.container ul {
	margin: 0;
	padding-left: 16px;
	font-size: 13px;
	font-weight: 400;
	line-height: 28px;
}

.md-body .md-catalog .catalog.container ul li {
	list-style: initial;
	list-style-position: inside;
	overflow: hidden;
	white-space: nowrap;
	text-overflow: ellipsis;
}

.md-body .md-catalog .catalog.container ul li.on>a {
	color: #fe7300;
	font-weight: 600;
}

.md-body.catalog-hide .md-content {
	border-left: none;
}

.md-body .md-content {
	width: auto !important;
	min-height: calc(50vh);
	padding-left: 20px !important;
	padding-right: 0px !important;
	border-left: 1px solid #dce3e8;
}