<div class="easyui-layout"
	data-options="fit:true">
	<div data-options="region:'center',
			split:true,
			border:false
		">
    	<table id="markdownHistoryDataGrid" 
      		class="easyui-datagrid"
           	th:data-options="|border:false,
     			bodyCls:'border_left',
				fit:true,
				fitColumns:true,
				singleSelect:true,
				checkOnSelect:false,
				selectOnCheck:false,
				toolbar:'#markdownHistoryDataGridToolbar',
				pagination:true,
				pageSize:20,
				method:'get',
				url:ctx+'/markdownHistory/ajax/docPage?docProjectUuid=${docProjectUuid}&docCategoryUuid=${docCategoryUuid}',
         		onBeforeLoad:$.pageOnBeforeLoad
        	|">
         	<thead>
           		<tr>
                	<th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#markdownHistoryDataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
                  	<th data-options="field:'version',title:'版本',width:60,align:'right',formatter:$.markdownHistoryVersionFormatter"></th>
                  	<th data-options="field:'changeLabel',title:'变更说明',width:80"></th>
                    <th data-options="field:'operatorNickname',title:'操作人',width:80"></th>
               		<th data-options="field:'operateAt',title:'操作时间',width:120,align:'right',formatter:$.updatedAtFormatter"></th>
           		</tr>
      		</thead>
		</table>
	</div>
</div>
<div id="markdownHistoryDataGridToolbar" class="myui-toolbar">
	<a href="javascript:void(0);"
      	class="easyui-menubutton myui-btn-normal"
      	th:text="${docCategoryName}"
     	data-options="iconCls:'fa fa-table',
        	hasDownArrow:false
    	">
	</a>
 	<form id="markdownHistoryDataGridForm" class="search-box">
   		<input type="text" name="keywords"
    		id="markdownHistoryDataGridKeywords" 
   			class="easyui-textbox"
        	data-options="prompt:'关键词',
        		width:220
        	"/>
        <a href="javascript:searchMarkdownHistoryDataGrid();" 
        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
       		data-options="iconCls:'fa fa-search'
         	">查询
    	</a>
    	<a href="javascript:resetMarkdownHistoryDataGrid();"
      		class="easyui-linkbutton myui-btn-brown myui-btn-normal"
      		data-options="iconCls:'fa fa-trash'
      		">清空
    	</a>
    </form>
</div>
<script type="text/javascript">
	/**
	 * 查询历史记录
	 */
	function searchMarkdownHistoryDataGrid () {
		$('#markdownHistoryDataGrid').datagrid('load', {
			keywords: $('#markdownHistoryDataGridKeywords').textbox('getValue')
		});
	}
	
	/**
	 * 清空历史记录
	 */
	function resetMarkdownHistoryDataGrid () {
		$('#markdownHistoryDataGridForm').form('clear');
		searchMarkdownHistoryDataGrid();
	}
</script>