<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title th:text="${markdown.name}">Markdown文档</title>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<!-- Ico -->
    <link th:href="@{/static/favicon.ico}" rel="shortcut icon" />
	<!-- Jquery -->
	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<!-- Js-base64 -->
	<script th:src="@{/static/markdown/editor.md-1.5.0/lib/js-base64/2.3.2/base64.min.js}"></script>
	<!-- Editor.md -->
	<link rel="stylesheet" th:href="@{/static/markdown/editor.md-1.5.0/css/editormd.min.css}" />
	<script th:src="@{/static/markdown/editor.md-1.5.0/editormd.js}"></script>
	<!-- Layui -->
	<link th:href="@{/static/markdown/editor.md-1.5.0/lib/layui/2.6.8/css/layui.css}" rel="stylesheet" />
	<script th:src="@{/static/markdown/editor.md-1.5.0/lib/layui/2.6.8/layui.js}"></script>
	<!-- 样式修正 -->
	<link rel="stylesheet" th:href="@{/static/css/markdown.css}" />
</head>
<body>
	<div id="editormd" class="noborder"></div>
	<textarea id="markdown" style="display: none;" th:text="${markdown.content}"></textarea>
	<script type="text/javascript">
		$(function () {
			editormd("editormd", {
				width: document.body.clientWidth,
				height: document.body.clientHeight,
            	path: "[(@{/static/markdown/editor.md-1.5.0/lib/})]",
                theme: "default",
                previewTheme: "default",
                editorTheme: "default",
                markdown: $("#markdown").val(),
                codeFold: true,
                saveHTMLToTextarea: true,
                searchReplace: true,
                htmlDecode: "style,script,iframe|on*",  
                emoji: false,
                taskList: true,
                tocm: true,
                tex: true,
                flowChart: true,
                sequenceDiagram: true,
                json5: true,
                imageUpload: true,
                imageFormats: ["jpg", "jpeg", "gif", "png", "bmp", "webp"],
                imageUploadURL: "[(@{/markdown/ajax/upload})]",
                toolbarIcons: function () {
                	var toolbarIcons = editormd.toolbarModes.full;
                	if (toolbarIcons.indexOf("emoji") >= 0) {
                		toolbarIcons.splice(toolbarIcons.indexOf("emoji"), 1);
                	}
                	if (toolbarIcons.indexOf("fullscreen") >= 0) {
                		toolbarIcons.splice(toolbarIcons.indexOf("fullscreen"), 1);
                	}
                	if (toolbarIcons.indexOf("info") >= 0) {
                		toolbarIcons.splice(toolbarIcons.indexOf("info"), 1);
                	}
                	if (toolbarIcons.indexOf("save") < 0) {
                		toolbarIcons.unshift("|");
                		toolbarIcons.unshift("Json5");
                    	toolbarIcons.unshift("save");
                	}
                	return toolbarIcons;
                },
                toolbarIconsClass: {
                	save: "fa fa-save",
                	Json5: "fa fa-file-excel-o"
                },
                lang: {
                    toolbar: {
                    	save: "保存",
                    	Json5: "Json文档"
                    }
                },
                toolbarHandlers: {
                	save: function (cm, icon, cursor, selection) {
                		var that = this;
                		layer.load(2);
                		$.post("[(@{/markdown/ajax/save})]", {
                			"[(${_csrf.parameterName})]": "[(${_csrf.token})]",
                			uuid: "[(${markdown.uuid})]",
                			name: "[(${markdown.name})]",
                			content: that.getMarkdown()
                		}, function (resultJson) {
                			layer.closeAll();
                			if(resultJson.statusCode == 200) {
    							layer.msg(resultJson.message ? resultJson.message:"已保存", { icon: 1, time: 1500 });
    						} else {
    							layer.msg(resultJson.message ? resultJson.message:"出错了", { icon: 5, shift:6 });
    						}
                		});
                	},
                	Json5: function (cm, icon, cursor, selection) {
                		var $Json5EditorId = "Json5Editor-" + (new Date()).getTime();
                		this.createDialog({
                            title: this.lang.toolbar.Json5,
                            width: 480,
                            height: 400,
                            content: "<textarea class='form-control border' style='width: 100%; height: 277px;' id='" + $Json5EditorId + "'></textarea>",
                            mask: true,
                            drag: true,
                            lockScreen: true,
                            buttons: {
                                enter: ["确定", function () {
                                	var $jsonEditorStr = $("#" + $Json5EditorId).val();
                                	var $jsonEditorData = JSON5.parse($jsonEditorStr);
                                	var $fields = editormd.json5Parse($jsonEditorData);
                                	var $codeJson = "```json5\r\n";
                                		$codeJson+= "{\r\n";
                                		$codeJson+= "    $TypeScript:\r\n";
                                		$codeJson+= "{\r\n";
                                		$.each($fields,function($i,$field){
                                			$codeJson+= "    '"+$field.fullkey+"': ";
                                			$codeJson+= JSON5.stringify({type:$field.type,required:$field.required,comment:$field.explain?$field.explain:''});
                                			if ($i < $fields.length - 1) {
                                				$codeJson+= ",";
                                			}
                                			$codeJson+= "\r\n";
                    					});
                                		$codeJson+= "},\r\n";
                                		$codeJson+= "    $Example:\r\n";
                                		$codeJson+= JSON5.stringify($jsonEditorData,(k,v)=>{return v;},4);
                                		$codeJson+= "\r\n}";
                                		$codeJson+= "\r\n```";
                                	cm.replaceSelection($codeJson);
                                	this.hide().lockScreen(false).hideMask();
                                    return false;
                                }],
                                cancel: ["取消", function () {
                                    this.hide().lockScreen(false).hideMask();
                                    return false;
                                }]
                            }
                        });
                	}
                },
                onload: function () {
                	var that = this;
    	    		var originFn = window.onresize;
    	       		window.onresize = function () { 
    	       			originFn && originFn();
    	       			that.resize(document.body.clientWidth, document.body.clientHeight);
    	       		}
                }
            });
		});
	</script>
</body>
</html>