<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title th:text="${markdown.name}">Markdown文档</title>
	<meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
	<!-- Ico -->
    <link th:href="@{/static/favicon.ico}" rel="shortcut icon" />
	<!-- Jquery -->
	<script type="text/javascript" th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
	<!-- Json-viewer -->
	<link th:href="@{/static/jquery.json-editor/json-viewer.css}" rel="stylesheet" />
	<script th:src="@{/static/jquery.json-editor/json-editor.min.js}"></script>
	<script th:src="@{/static/jquery.json-editor/json5.min.js}"></script>
	<!-- Editor.md -->
	<link rel="stylesheet" th:href="@{/webjars/editor.md/css/editormd.preview.min.css}" />
	<script th:src="@{/webjars/editor.md/lib/marked.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/prettify.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/raphael.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/underscore.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/sequence-diagram.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/flowchart.min.js}"></script>
	<script th:src="@{/webjars/editor.md/lib/jquery.flowchart.min.js}"></script>
	<script th:src="@{/webjars/editor.md/editormd.js}"></script>
	<!-- 样式修正 -->
	<link rel="stylesheet" th:href="@{/static/css/scrollbar.css}" />
	<link rel="stylesheet" th:href="@{/static/css/markdown.css}" />
</head>
<body>
	<div id="editormd" class="noborder"></div>
	<textarea id="markdown" style="display: none;" th:text="${markdown.content}"></textarea>
	<script type="text/javascript">
		$(function () {
			editormd.markdownToHTML("editormd", {
                markdown		: $("#markdown").val(),
                htmlDecode      : "style,script,iframe",
              	tocm            : true,
             	emoji           : false,
              	taskList        : true,
              	tex             : true,
              	flowChart       : true,
             	sequenceDiagram : true
            });
		});
	</script>
</body>
</html>