<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
	<title>工作台</title>
	<!-- MyUI -->
	<link rel="stylesheet" type="text/css" th:href="@{/static/MyUI/themes/default/sidemenu.css}" />
	<link rel="stylesheet" type="text/css" th:href="@{/static/MyUI/themes/default/newStyle.css}" />
</head>
<body layout:fragment="content" class="myui panel-noscroll">
	<div id="loading" class="loading-wrap">
		<div class="loading-content">
	        <div class="loading-round"></div>
	        <div class="loading-dot"></div>
	    </div>
	</div>
	
	<div id="mm" class="submenubutton" style="width: 140px;">
	    <div id="mm-tabclose" name="6" iconCls="fa fa-refresh">刷新</div>
	    <div class="menu-sep"></div>
	    <div id="Div1" name="1" iconCls="fa fa-close">关闭</div>
	    <div id="mm-tabcloseother" name="3">关闭其他</div>
	    <div id="mm-tabcloseall" name="2">关闭全部</div>
	    <div class="menu-sep"></div>
	    <div id="mm-tabcloseright" name="4">关闭右侧标签</div>
	    <div id="mm-tabcloseleft" name="5">关闭左侧标签</div>
	    <div class="menu-sep"></div>
	    <div id="mm-newwindow" name="7">新窗口中打开</div>
	</div>
	
	<div id="indexLayout" class="easyui-layout" data-options="fit:true">
		<div id="north" 
			class="banner"
	  		style="height: 50px;padding: 0;margin: 0;overflow: hidden;"
			data-options="region:'north',border:false,split:false">
			<div class="nav-bar">
	        	<div class="nav-left webname">
	                <span class="admin-nav-logo fa fa-image"></span>
	                <span class="systemname" style="margin-left: 8px;">MyGraph 在线画图</span>
	            </div>
	         	<div class="menu-collapse">
	            	<span class="collapseMenu" style="text-align: center;cursor: pointer;font-size: 18px;">
	              		<span id="menuCollapseIcon" class="fa fa-outdent"></span>
	          		</span>
	            </div>
	         	<div class="nav-right">
	                <span style="padding-right: 8px;height: 50px;line-height: 50px;">
	                	<a href="javascript:void(0);" 
	                		class="easyui-linkbutton"
	                     	style="color: #fff;"
	                     	data-options="iconCls:'fa fa-user',plain:true">
	                     	<span id="user-nickname" sec:authentication="principal.nickname"></span>
	                 	</a>|
	                  	<a href="javascript:void(0);"
	                  		class="easyui-menubutton"
	                  		style="color: #fff;"
	                    	data-options="menu:'#mmSetting',iconCls:'fa fa-cog',hasDownArrow:true">设置
	                   	</a>
	                	<div id="mmSetting" style="width:74px;">
	                  		<div data-options="iconCls:'fa fa-info-circle'" onclick="MyUI.modifyPwd();">个人信息</div>
	                       	<div class="menu-sep"></div>
	                     	<div data-options="iconCls:'fa fa-key'" onclick="MyUI.modifyPwd();">修改密码</div>
	                	</div>|
	                   	<form class="easyui-menubutton"
	                   		style="color: #fff;cursor: pointer;"
	                   		data-options="iconCls:'fa fa-sign-out',hasDownArrow:false"
							th:action="@{/logout}" method="post" onclick="this.submit();">
							<button type="submit" style="border: none;background-color: transparent;color: #fff;cursor: pointer;">注销</button>
						</form>
	           		</span>
	        	</div>
				<div class="nav-center">
	          		<a class="nav-btn nav-left-btn topmenu hide" href="#" style="float: left;">
	          			<i class="fa fa-angle-double-left" aria-hidden="true"></i>
	          		</a>
	                <a class="nav-btn nav-right-btn topmenu hide" href="#" style="float: right;">
	                	<i class="fa fa-angle-double-right" aria-hidden="true"></i>
	                </a>
	          		<div style="overflow: hidden;position: relative;text-align: left;">
	             		<ul class="nav-group">
	             			<th:block th:each="r1,iterStat1 : ${#authentication.principal.resources}">
	             				<li th:if="${r1.resourceTypeCode == 'menu' and r1.level == 1}" 
	             					th:id="${r1.resourceId}"
	             					th:title="${r1.text}" 
	             					th:class="|topmenu${iterStat1.index == 0?' selected':''}|">
		                      		<a class="l-btn-text bannerMenu" href="javascript:void(0);">
		                                <p th:if="${#strings.isEmpty(r1.iconClsColour)}"><lable th:class="${r1.iconCls}"></lable></p>
		                                <p th:if="${!#strings.isEmpty(r1.iconClsColour)}"><lable th:class="${r1.iconCls}" th:style="|color: ${r1.iconClsColour};|"></lable></p>
		                                <p th:if="${#strings.isEmpty(r1.textColour)}"><span th:text="${r1.text}" style="white-space: nowrap;"></span></p>
		                                <p th:if="${!#strings.isEmpty(r1.textColour)}"><span th:text="${r1.text}" th:style="|color: ${r1.textColour};white-space: nowrap;|"></span></p>
		                       		</a>
		                        </li>
		                        <li th:if="${r1.resourceTypeCode == 'urlInsidePage' and r1.level == 1}"
	             					th:id="${r1.resourceId}"
	             					th:title="${r1.text}"
	             					th:class="|topmenu${iterStat1.index == 0?' selected':''}|"
		                        	data-type="lastMenuTab"
		                        	th:data-href="${r1.url}"
		                        	th:data-icon-cls="${r1.iconCls}"
		                        	th:onclick="|MyUI.addIndexTab({href:this.getAttribute('data-href'),title:this.getAttribute('title'),iconCls:this.getAttribute('data-icon-cls')});|">
		                            <a class="l-btn-text bannerMenu" href="javascript:void(0);">
		                                <p th:if="${#strings.isEmpty(r1.iconClsColour)}"><lable th:class="${r1.iconCls}"></lable></p>
		                                <p th:if="${!#strings.isEmpty(r1.iconClsColour)}"><lable th:class="${r1.iconCls}" th:style="|color: ${r1.iconClsColour};|"></lable></p>
		                                <p th:if="${#strings.isEmpty(r1.textColour)}"><span th:text="${r1.text}" style="white-space: nowrap;"></span></p>
		                                <p th:if="${!#strings.isEmpty(r1.textColour)}"><span th:text="${r1.text}" th:style="|color: ${r1.textColour};white-space: nowrap;|"></span></p>
		                       		</a>
		                        </li>
		                        <li th:if="${r1.resourceTypeCode == 'more' and r1.level == 1}"
	             					th:id="${r1.resourceId}" 
	             					th:class="|topmenu${iterStat1.index == 0?' selected':''}|"
	             					class="topmenu lastMenu" data-type="lastMenu">
		                            <a class="l-btn-text bannerMenu moreBox" target="_blank">
		                                <p><lable class="fa fa-th"></lable></p>
		                                <p><span style="white-space: nowrap;">更多功能</span></p>
		                            </a>
		                            <div id="moreMenu">
		                           		<ul style="padding: 0;">
		                                    <li id="moreMenu1" class="topmenu" th:onclick="|MyUI.addIndexTab({href:'@{/compile}',title:'在线调试',iconCls:'fa fa-code'});|">
		                                   		<div class="l-btn-text bannerMenu">
		                                       		<p><lable class="fa fa-code" style="color: rebeccapurple;"></lable></p>
		                                            <p><span style="white-space: nowrap;">在线调试</span></p>
		                                        </div>
		                                    </li>
		                                    <li id="moreMenu2" class="topmenu" data-type="lastMenuSub" data-url="http://www.jeasyui.cn/?from=demo">
		                                        <div class="l-btn-text bannerMenu">
		                                            <p><lable class="fa fa-link"></lable></p>
		                                            <p><span style="white-space: nowrap;">EasyUI中文站</span></p>
		                                        </div>
		                                    </li>
		                            	</ul>
		                          	</div>
		                      	</li>
	             			</th:block>
	                 	</ul>
	             	</div>
	        	</div>
	    	</div>
		</div>
		
	    <div id="west"
	    	data-options="region:'west',split:true,width:260,border:false,headerCls:'border_right',bodyCls:'border_right'">
	     	<div id="rightAccordion"></div>
	    </div>
	
	    <div id="center"
	    	style="overflow:hidden;"
	    	data-options="region:'center',border:false">
	        <div id="indexTabs" class="easyui-tabs" style="width: 100%;height: 100%;">
	        	<div title="系统首页" 
	        		th:data-options="|border:false,
	        			iframe:true,
	        			iconCls:'fa fa-home',
            			content:'<iframe src=\'@{welcome}\' scrolling=\'auto\' frameborder=\'0\' style=\'width:100%;height:100%;\'></iframe>'
            		|">
            	</div>
	    	</div>
	    </div>
	
	    <div id="south" 
	    	style="text-align: center;height: 30px;line-height: 30px;border-bottom: 0;overflow: hidden;"
	    	data-options="region:'south',border:true">
	     	<span style="float: left;padding-left: 5px;width: 30%;text-align: left;">当前用户：<span id="user-username" sec:authentication="principal.username"></span></span>
	       	<span style="padding-right: 5px;width: 40%">
	            版权所有 © 2022 Renlm 
	            <a href="https://beian.miit.gov.cn" target="_blank" style="text-decoration: underline;color: black;">京ICP备2021000671号</a>
	        </span>
	   		<span style="float: right;padding-right: 5px;width: 30%;text-align: right;">版本：1.0.1</span>
		</div>
	</div>
	<script type="text/javascript">
		MyUI.init({
			ctx: ctx, 
			menuApi: '/static/MyUI/menu.json'
		});
	</script>
</body>
</html>