<!doctype html>
<html lang="zh-CN">
<head>
	<meta charset="UTF-8">
	<title>在线画图</title>
	<meta name="renderer" content="webkit|ie-comp|ie-stand">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, minimum-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<meta http-equiv="Cache-Control" content="no-siteapp" />
	<link rel="shortcut icon" href="./static/favicon.ico" type="image/x-icon" />
	<link rel="stylesheet" href="./static/skin/css/font.css">
	<link rel="stylesheet" href="./static/skin/css/weadmin.css">
</head>
<body class="login-bg">
	<div class="login">
		<div class="message">图形设计登录</div>
		<div id="darkbannerwrap"></div>
		<form method="post" class="layui-form" th:action="@{/auth}">
			<input name="username" 
				placeholder="用户名" 
				type="text" 
				lay-verify="required" 
				class="layui-input" 
				/>
			<hr class="hr15">
			<input name="password" 
				lay-verify="required" 
				placeholder="密码" 
				type="password" 
				class="layui-input" 
				autocomplete="new-password"
				/>
			<hr class="hr15">
			<input class="loginin" 
				value="登录" 
				lay-submit 
				lay-filter="login" 
				style="width: 100%;" 
				type="submit" 
				/>
			<hr class="hr20">
		</form>
	</div>
</body>
</html>