<div class="myui-fluid">
    <div class="myui-row"></div>
    <div class="myui-row">
		<div class="myui-col-sm4">
			<div class="layui-card avatar" style="box-shadow: none;margin: 21px 60px;width: 168px;height: 168px;">
				<div class="layui-card-body" style="text-align: center;padding-top: 60px;">
					<div class="layui-upload-drag" style="border: none;padding: 0px;">
						<input type="hidden" name="avatar" />
						<img style="max-width: 100%;max-height: 168px;display: none;" />
						<i class="layui-icon layui-icon-upload" style="font-size: 80px;"></i>
						<p>上传头像</p>
					</div>
				</div>
			</div>
		</div>
		<div class="myui-col-sm8">
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">登录账号</label>
					<div class="myui-input-block">
						<input type="text" name="username" 
							class="easyui-textbox"
							data-options="width:'100%',
								disabled:true
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">昵称</label>
					<div class="myui-input-block">
						<input type="text" name="nickname" 
							class="easyui-textbox"
							data-options="width:'100%',
								required:true,
								prompt:'必填',
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">真实姓名</label>
					<div class="myui-input-block">
						<input type="text" name="realname" 
							class="easyui-textbox"
							data-options="width:'100%',
								prompt:'真实姓名',
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">性别</label>
					<div class="myui-input-block">
						<input type="text" name="sex" 
							class="easyui-combobox"
							data-options="width:'100%',
		                  		prompt:'请选择',
								valueField:'value',
								textField:'text',
								panelHeight:'auto',
								data: [
								    {text:'请选择',value:null},
								    {text:'男',value:'M'},
								    {text:'女',value:'F'}
								]
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">出生日期</label>
					<div class="myui-input-block">
						<input type="text" name="birthday" 
							class="easyui-datebox"
							data-options="width:'100%',
								prompt:'出生日期',
			        			parser:function(s){
							        if(s){
								        if(!isNaN(s)){
									        return new Date(s);
									    }else{
									        var t = Date.parse(s);
									        if(!isNaN(t)){
									        	return new Date(t);
										    }
									    }
								    }
								    return new Date();
			        			}
			        		"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">手机号码</label>
			<div class="myui-input-block">
				<input type="text" name="mobile" 
					class="easyui-textbox"
					data-options="width:'100%',
						prompt:'手机号码',
						validType:'cellphone'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">邮箱地址</label>
			<div class="myui-input-block">
				<input type="text" name="email" 
					class="easyui-textbox"
					data-options="width:'100%',
						prompt:'邮箱地址',
						validType:'email'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">个性签名</label>
			<div class="myui-input-block">
				<input type="text" name="sign" 
					class="easyui-textbox"
					data-options="width:'100%',
						prompt:'个性签名',
						validType:'maxLength[255]'
					"/>
			</div>
		</div>
	</div>
</div>