<div class="myui-fluid">
    <div class="myui-row"></div>
	<div class="myui-row">
		<div class="myui-col-sm6">
			<label class="myui-form-label">登录账号</label>
			<div class="myui-input-block">
				<input type="text" name="username" 
					class="easyui-textbox"
					data-options="width:254,
						disabled:true
					"/>
			</div>
		</div>
		<div class="myui-col-sm6">
			<label class="myui-form-label">昵称</label>
			<div class="myui-input-block">
				<input type="text" name="nickname" 
					class="easyui-textbox"
					data-options="width:254,
						required:true,
						prompt:'必填'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm6">
			<label class="myui-form-label">真实姓名</label>
			<div class="myui-input-block">
				<input type="text" name="realname" 
					class="easyui-textbox"
					data-options="width:254,
						prompt:'真实姓名'
					"/>
			</div>
		</div>
		<div class="myui-col-sm6">
			<label class="myui-form-label">身份证号</label>
			<div class="myui-input-block">
				<input type="text" name="idCard" 
					class="easyui-textbox"
					data-options="width:254,
						prompt:'身份证号'
					"/>
			</div>
		</div>
	</div>
</div>