<div class="myui-fluid">
    <div class="myui-row"></div>
    <div class="myui-row">
		<div class="myui-col-sm4">
			<img src="https://zysd-emis.oss-cn-shanghai.aliyuncs.com/user/avatar/ewsd0001/50725081e8bc43d4971de918506f28d0.jpg" id="avatar" style="margin:21px 80px;width: 168px;height: 168px;display: block;" />
		</div>
		<div class="myui-col-sm8">
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">登录账号</label>
					<div class="myui-input-block">
						<input type="text" name="username" 
							class="easyui-textbox"
							data-options="width:334.656,
								disabled:true
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">昵称</label>
					<div class="myui-input-block">
						<input type="text" name="nickname" 
							class="easyui-textbox"
							data-options="width:334.656,
								required:true,
								prompt:'必填',
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">真实姓名</label>
					<div class="myui-input-block">
						<input type="text" name="realname" 
							class="easyui-textbox"
							data-options="width:334.656,
								prompt:'真实姓名',
								validType:'maxLength[255]'
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">性别</label>
					<div class="myui-input-block">
						<input type="text" name="sex" 
							class="easyui-combobox"
							data-options="width:334.656,
		                  		prompt:'请选择',
								valueField:'value',
								textField:'text',
								panelHeight:'auto',
								data: [
								    {text:'请选择',value:null},
								    {text:'男',value:'M'},
								    {text:'女',value:'F'}
								]
							"/>
					</div>
				</div>
			</div>
			<div class="myui-row">
				<div class="myui-col-sm12">
					<label class="myui-form-label">出生日期</label>
					<div class="myui-input-block">
						<input type="text" name="birthday" 
							class="easyui-datebox"
							data-options="width:334.656,
								prompt:'出生日期',
			        			parser:function(s){
							        if(s){
								        if(!isNaN(s)){
									        return new Date(s);
									    }else{
									        var t = Date.parse(s);
									        if(!isNaN(t)){
									        	return new Date(t);
										    }
									    }
								    }
								    return new Date();
			        			}
			        		"/>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">个性签名</label>
			<div class="myui-input-block">
				<input type="text" name="sign" 
					class="easyui-textbox"
					data-options="width:568,
						prompt:'个性签名',
						validType:'maxLength[255]'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">手机号码</label>
			<div class="myui-input-block">
				<input type="text" name="mobile" 
					class="easyui-textbox"
					data-options="width:568,
						prompt:'手机号码',
						validType:'cellphone'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">邮箱地址</label>
			<div class="myui-input-block">
				<input type="text" name="email" 
					class="easyui-textbox"
					data-options="width:568,
						prompt:'邮箱地址',
						validType:'email'
					"/>
			</div>
		</div>
	</div>
	<div class="myui-row">
		<div class="myui-col-sm12">
			<label class="myui-form-label">备注</label>
			<div class="myui-input-block">
				<input type="text" name="remark" 
					class="easyui-textbox"
					data-options="width:568,
						multiline:true,
						prompt:'备注',
						validType:'maxLength[800]'
					"/>
			</div>
		</div>
	</div>
</div>