<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务器</title>
    <meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link th:href="@{/static/favicon.ico}" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/css/oshi.css}" />
</head>
<body>
    <div id="container">
        <div data-popo="caption" title="大屏监控" class="se-title"></div>
        <div data-popo="chart1" title="Cpu"></div>
        <div data-popo="chart2" title="内存"></div>
        <div data-popo="chart3" title="磁盘"></div>
        <div data-popo="chart4" title="Cpu使用率"></div>
        <div data-popo="chart5" title="在线人数"></div>
        <div data-popo="chart6" title="系统资源"></div>
        <div data-popo="chart7" title="Jvm"></div>
        <div data-popo="chinamap" title="占位特效"></div>
    </div>
    <script th:src="@{/static/popo/popo.min.js}"></script>
    <script th:src="@{/webjars/reconnecting-websocket/reconnecting-websocket.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/js-base64/base64.min.js}"></script>
    <script th:src="@{/webjars/layui/layui.js}"></script>
    <script th:src="@{/static/js/main.js}"></script>
    <script th:src="@{/webjars/echarts/echarts.min.js}"></script>
    <script async th:src="@{/webjars/es-module-shims/dist/es-module-shims.js}"></script>
    
    <script type="text/javascript">
		var initWebglShadersOcean = null;
    </script>
    
    <script type="importmap">
		{
			"imports": {
				"three": "[(@{/webjars/three.js/three.module.js})]"
			}
		}
	</script>
	
	<script type="module">

		import * as THREE from 'three';

		import Stats from '[(@{/static/threejs/examples/jsm/libs/stats.module.js})]';

		import { GUI } from '[(@{/static/threejs/examples/jsm/libs/lil-gui.module.min.js})]';
		import { OrbitControls } from '[(@{/static/threejs/examples/jsm/controls/OrbitControls.js})]';
		import { Water } from '[(@{/static/threejs/examples/jsm/objects/Water.js})]';
		import { Sky } from '[(@{/static/threejs/examples/jsm/objects/Sky.js})]';

		let container, stats;
		let camera, scene, renderer;
		let controls, water, sun, mesh;

		initWebglShadersOcean = function (target) {

			if(container || !target) {
				return;
			}

			init(target);
			animate();
		}

		function init(target) {

			container = target;

			//

			renderer = new THREE.WebGLRenderer();
			renderer.setPixelRatio( window.devicePixelRatio );
			renderer.setSize( window.innerWidth, window.innerHeight );
			renderer.toneMapping = THREE.ACESFilmicToneMapping;
			container.appendChild( renderer.domElement );

			//

			scene = new THREE.Scene();

			camera = new THREE.PerspectiveCamera( 55, window.innerWidth / window.innerHeight, 1, 20000 );
			camera.position.set( 30, 30, 100 );

			//

			sun = new THREE.Vector3();

			// Water

			const waterGeometry = new THREE.PlaneGeometry( 10000, 10000 );

			water = new Water(
				waterGeometry,
				{
					textureWidth: 512,
					textureHeight: 512,
					waterNormals: new THREE.TextureLoader().load( '[(@{/static/threejs/examples/textures/waternormals.jpg})]', function ( texture ) {

						texture.wrapS = texture.wrapT = THREE.RepeatWrapping;

					} ),
					sunDirection: new THREE.Vector3(),
					sunColor: 0xffffff,
					waterColor: 0x001e0f,
					distortionScale: 3.7,
					fog: scene.fog !== undefined
				}
			);

			water.rotation.x = - Math.PI / 2;

			scene.add( water );

			// Skybox

			const sky = new Sky();
			sky.scale.setScalar( 10000 );
			scene.add( sky );

			const skyUniforms = sky.material.uniforms;

			skyUniforms[ 'turbidity' ].value = 10;
			skyUniforms[ 'rayleigh' ].value = 2;
			skyUniforms[ 'mieCoefficient' ].value = 0.005;
			skyUniforms[ 'mieDirectionalG' ].value = 0.8;

			const parameters = {
				elevation: 2,
				azimuth: 180
			};

			const pmremGenerator = new THREE.PMREMGenerator( renderer );

			function updateSun() {

				const phi = THREE.MathUtils.degToRad( 90 - parameters.elevation );
				const theta = THREE.MathUtils.degToRad( parameters.azimuth );

				sun.setFromSphericalCoords( 1, phi, theta );

				sky.material.uniforms[ 'sunPosition' ].value.copy( sun );
				water.material.uniforms[ 'sunDirection' ].value.copy( sun ).normalize();

				scene.environment = pmremGenerator.fromScene( sky ).texture;

			}

			updateSun();

			//

			const geometry = new THREE.BoxGeometry( 30, 30, 30 );
			const material = new THREE.MeshStandardMaterial( { roughness: 0 } );

			mesh = new THREE.Mesh( geometry, material );
			scene.add( mesh );

			//

			controls = new OrbitControls( camera, renderer.domElement );
			controls.maxPolarAngle = Math.PI * 0.495;
			controls.target.set( 0, 10, 0 );
			controls.minDistance = 40.0;
			controls.maxDistance = 200.0;
			controls.update();

			//

			stats = new Stats();
			container.appendChild( stats.dom );

			// GUI

			const gui = new GUI();

			const folderSky = gui.addFolder( 'Sky' );
			folderSky.add( parameters, 'elevation', 0, 90, 0.1 ).onChange( updateSun );
			folderSky.add( parameters, 'azimuth', - 180, 180, 0.1 ).onChange( updateSun );
			folderSky.open();

			const waterUniforms = water.material.uniforms;

			const folderWater = gui.addFolder( 'Water' );
			folderWater.add( waterUniforms.distortionScale, 'value', 0, 8, 0.1 ).name( 'distortionScale' );
			folderWater.add( waterUniforms.size, 'value', 0.1, 10, 0.1 ).name( 'size' );
			folderWater.open();

			//

			window.addEventListener( 'resize', onWindowResize );

		}

		function onWindowResize() {

			camera.aspect = window.innerWidth / window.innerHeight;
			camera.updateProjectionMatrix();

			renderer.setSize( window.innerWidth, window.innerHeight );

		}

		function animate() {

			requestAnimationFrame( animate );
			render();
			stats.update();

		}

		function render() {

			const time = performance.now() * 0.001;

			mesh.position.y = Math.sin( time ) * 20 + 5;
			mesh.rotation.x = time * 0.5;
			mesh.rotation.z = time * 0.51;

			water.material.uniforms[ 'time' ].value += 1.0 / 60.0;

			renderer.render( scene, camera );

		}

	</script>
    
    <script type="text/javascript">
    	$(function() { 
    		var OnlineUserNumber = 0;
    		var OSHI_IP = {};
    		var OSHI_UID = [];
    		var OSHI_POOL = [];
    		var POPO_TARGET = {};
    		var COLORS = ['#5470c6', '#91cc75', '#fac858', '#ee6666', '#73c0de', '#3ba272', '#fc8452', '#9a60b4', '#ea7ccc'];
    		initPopo();
    		/**
        	 * 扩展数组方法
        	 */
    		Array.prototype.contains = function(obj) {
    			var i = this.length;
    			while (i--) {
    				if (this[i] === obj) {
    			   		return true;
    				}
    			}
    			return false;
    		}
    		
    		/**
        	 * 初始化布局
        	 */
	    	function initPopo() {
	    		$.getJSON("[(@{/static/popo/data/popo.json})]", function (result) {
	                if (!result) {
	                	return;
	                }
	                var width = P.Browser.width,
	                    height = P.Browser.height,
	                    option = null,
	                    base = result.base,
	                    mobile = result.mobile,
	                    screen_1920 = result.screen_1920,
	                    screen_1440 = result.screen_1440,
	                    screen_bigger = result.screen_bigger;
	
	                if (P.Browser.mobile) {
	                    option = mobile;
	                } else if (width <= 1440) {
	                	option = screen_1440;
	                } else if (width >= 3840 && height >= 1000) {
	                	option = screen_bigger;
	                } else {
	                    option = screen_1920;
	                    option.layout = [
		                        [ 4, [ 4, 4, 4 ] ],
		                        [ 16, [ 1, 7, 4 ] ],
		                        [ 4, [ 3, 5, 4 ] ]
	                    	];
	                }
	                
	                if (option) {
	                    option.onload = function (popo) { 
	                    	popo.getAlias().forEach(function (alias) {
	                    		var target = popo.center(alias.name);
	                            if (target) {
	                            	POPO_TARGET[alias.name] = { alias: alias, target: target };
	                            }
	                        });
	        	    		// 占位特效
	        	    		initWebglShadersOcean(POPO_TARGET['chinamap'].target);
	    	                // 初始化 WebSocket
	    	                initWs();
	                    };
	                    option.update = function (popo) { 
	                    	popo.each(function (elements) {
	                            if (elements.center) {
	                                var chart = echarts.getInstanceByDom(elements.center);
	                                chart && chart.resize();
	                            }
	                        });
	                    };
	                    bigscreen = P.init(P.Util.merge(option, base)).addTo("container");
	                }
	            });
	    	}
	    	
	    	/**
	    	 * 初始化 WebSocket
	    	 */
	    	function initWs() {
	    		var protocol = document.location.protocol;
	    		var timestamp = new Date().getTime();
	    		var webSocketHost = protocol.indexOf("https") > -1?"[(${#MyConfig.wssHost})]":"[(${#MyConfig.wsHost})]";
	    		var token = Base64.encodeURI("[(${session.SPRING_SECURITY_CONTEXT.authentication.principal.token})]@" + timestamp);
	    		var WS = new ReconnectingWebSocket(webSocketHost + "[(@{/ws/})]" + token);
	    		
	    		// 打开连接
	    		WS.onopen = function (evt) {
	    			WS.send(JSON.stringify({type: "online"}));
	    			WS.send(JSON.stringify({type: "oshi"}));
	    		}
	
	    		// 接收消息
	    		WS.onmessage = function (evt) {
	    			var message = JSON.parse(evt.data);
	    			// 服务器信息
	    			if(message.type == "oshi") {
	    				// 记录监控数据
	    				$.each(message.data, function (key, data) {
	    					if(data instanceof Array) {
	    						$.each(data, function (i, item) {
	    							if(!OSHI_UID.contains(item.uid)) { OSHI_UID.push(item.uid); OSHI_POOL.push(item); OSHI_IP[item.ip]=item; }
	            					if(OSHI_UID.length > 12) { OSHI_UID.shift(); }
	            					if(OSHI_POOL.length > 12 * 60) { OSHI_POOL.shift(); }
	    			   			});
	    					} else {
	    						if(!OSHI_UID.contains(data.uid)) { OSHI_UID.push(data.uid); OSHI_POOL.push(data); OSHI_IP[data.ip]=data; }
	        					if(OSHI_UID.length > 12) { OSHI_UID.shift(); }
	        					if(OSHI_POOL.length > 12 * 60) { OSHI_POOL.shift(); }
	    					}
	    				});
	    				// 删除下线服务器
	    				var ips = Object.keys(OSHI_IP);
	    				$.each(ips, function (i, ip) {
	    					if(!message.data[ip]) {
	    						delete OSHI_IP[ip];
	    					}
	    				});
	    				// 创建图形（服务器信息）
	    				createOshiCharts();
	    			}
	    			// 上线
	    			else if (message.type == "online") {
	    				OnlineUserNumber = message.data
	    			}
	    			// 离线
	    			else if (message.type == "offline") {
	    				OnlineUserNumber = message.data
	    			}
	    		}
	
	    		// 连接关闭
	    		WS.onclose = function (evt) {
	    			console.log("WebSocket closed");
	    		}
	    	}
	    	
	    	/**
	    	 * 服务器信息
	    	 */
	    	function createOshiCharts() {
	    		// Cpu
	    		renderParallelUsedRate('chart1', 'cpu', { dim: 0, name: '核心数' });
	    		// 内存
	    		renderParallelUsedRate('chart2', 'memory', { dim: 0, name: '总量' });
	    		// 磁盘
	    		renderParallelUsedRate('chart3', 'disk', { dim: 0, name: '大小' });
	    		// Jvm
	    		renderParallelUsedRate('chart7', 'jvmMemory', { dim: 0, name: '内存' });
	    		// Cpu使用率
	    		renderCpuDynamicUsedRate('chart4');
	    		// 饼图（在线人数）
	    		renderPieOnline('chart5');
	    		// 雷达图（系统资源）
	    		renderRadarResourceUtilization('chart6');
	    	}
	    	
	    	/**
	    	 * Cpu使用率
	    	 */
	    	function renderCpuDynamicUsedRate (name) {
	    		renderChart(name, {
	    			title: {
	    				text: 'Cpu使用率',
	    				left: 30,
	    				top: 10
	    			},
	    			grid: {
	    				bottom: 80,
	    				left: 80,
	    				right: Object.keys(OSHI_IP).length > 1 ? 80 : 40
	    			},
	    			tooltip: {
	    				trigger: 'axis',
	    				axisPointer: {
	    					type: 'cross',
	    				 	animation: false,
	    				 	label: {
	    				 		backgroundColor: '#505765'
	    					}
	    				}
	    			},
	    			legend: {
	    				top: 20,
	    				right: 40,
	    				textStyle: {
	    					color: '#fff'
	    				},
	    				data: (function () {
				    		var legend = [];
				    		$.each(OSHI_IP, function (ip, oshi) {
				    			legend.push(ip);
				    		});
				    		return legend;
			    		})()
	    			},
	    			dataZoom: [
	    				{
	    					show: true,
	    					realtime: true,
	    				 	start: 0,
	    					end: 100
	    				},
	    				{
	    					type: 'inside',
	    					realtime: true,
	    					start: 0,
	    					end: 100
	    				}
	    			],
	    			xAxis: {
	    				type: 'time',
	    		        splitLine: {
	    		            show: false
	    		        },
        		        axisLabel: {
        		        	color: '#fff'
        		        }
	    			},
	    			yAxis: [
	    				{
	    				 	alignTicks: true,
	    					type: 'value',
	    					min: 0,
	    					max: function (value) {
	    					    return Math.max(value.max, 100);
	    					},
	        		        splitLine: {
	        		            show: false
	        		        },
	    					axisLine: { 
	    						show: true
	    					},
	        		        axisTick: {
	        		        	show: true
	        		        },
	        		        axisLabel: {
	        		        	show: true,  
	                          	interval: 'auto',  
	                          	formatter: '{value} %',
	                          	color: '#fff'
	        		        }
	    				},
	    				{
	    					show: Object.keys(OSHI_IP).length > 1,
	    				 	alignTicks: true,
	    				 	type: 'value',
	    				 	inverse: true,
	    					min: 0,
	    					max: function (value) {
	    					    return Math.max(value.max, 100);
	    					},
	        		        splitLine: {
	        		            show: false
	        		        },
	    					axisLine: { 
	    						show: true
	    					},
	        		        axisTick: {
	        		        	show: true
	        		        },
	        		        axisLabel: {
	        		        	show: true,  
	                          	interval: 'auto',  
	                          	formatter: '{value} %',
	                          	color: '#fff'
	        		        }
	    				}
	    			],
	    			series: (function () {
	    				var series = [];
	    				var index = 0;
	    				$.each(OSHI_IP, function (ip, oshi) {
	    					index++;
	    					series.push({
		    					name: ip,
		    				  	type: 'line',
		    				  	yAxisIndex: 1 - index % 2,
		    				  	symbol: 'none',
		    				  	areaStyle: {},
		    					lineStyle: {
		    				   		width: 1
		    				  	},
		    				 	emphasis: {
		    				  		focus: 'series'
		    					},
		    					data: (function () {
		    				 		var seriesData = [];
		    				 		$.each(OSHI_POOL, function (i, item) {
		    				 			if(item.ip === ip) {
		    				 				seriesData.push({
		    				 					name: item.time.toString(),
		    				 				 	value: [
		    				 				    	layui.util.toDateString(item.time, "yyyy-MM-dd HH:mm:ss"),
		    				 				     	item.cpuUsedRate
		    				 				  	]
	    				 					});
		    				 			}
		    				 		});
		    				 		return seriesData;
		    				 	})()
		    				});
	    				});
	    				return series;
	    			})()
	    		});
	    	}
	    	
	    	/**
	    	 * 饼图（在线人数）
	    	 */
	    	function renderPieOnline (name) {
	    		renderChart(name, {
	    			series: [
	    				{
	    					name: '在线人数',
	    					type: 'pie',
	    					radius: ['80%', '80%'],
	    					center: ['50%', '50%'],
	    					roseType: 'area',
	    					itemStyle: {
	    						borderRadius: 8
	    					},
	    					label: {
	    				    	show: true,
	    				        position: 'center',
	    				        formatter: '{c}',
	    				        color: '#fff',
	    				        fontStyle: 'oblique',
	    				        fontWeight: 'bolder',
	    				        fontSize: 32
	    				 	},
	    				 	data: [
	    				  		{ value: OnlineUserNumber, name: '在线人数' }
	    					]
	    				}
	    			]
	    		});
	    	}
	    	
	    	/**
	    	 * 雷达图（系统资源）
	    	 */
	    	function renderRadarResourceUtilization (name) {
	    		renderChart(name, {
	    			title: {
	    			    text: '服务器（' + Object.keys(OSHI_IP).length + '）',
	    			    textStyle: {
	    			    	fontSize: 12
	    			    },
	    			    right: 0
	    			},
	    			tooltip: {
	    				trigger: 'item',
	    				formatter: function (params) {
	    		        	var htmlStr = params.name + '<br/>';
	                			htmlStr += '<div>';
	                			htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
					          	htmlStr +=     'Cpu：' + params.data.value[0] + ' %';
					          	htmlStr += '</div>';
	                			htmlStr += '<div>';
	                			htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#3eb177;"></span>';
					          	htmlStr +=     '内存：' + params.data.value[1] + ' %';
					          	htmlStr += '</div>';
	                			htmlStr += '<div>';
	                			htmlStr +=	   '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#fbd444;"></span>';
					          	htmlStr +=     '磁盘：' + params.data.value[2] + ' %';
					          	htmlStr += '</div>';
	                			htmlStr +=	   '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#73c0de;"></span>';
					          	htmlStr +=     'Jvm：' + params.data.value[3] + ' %';
					          	htmlStr += '</div>';
	                		return htmlStr;
	    		        }
	    			},
	    			radar: {
	    				center: ['50%', '50%'],
	    				radius: '60%',
	    				axisName: {
	    					color: '#fff'
	    				},
	    				indicator: [
	    					{ text: 'Cpu', max: 100 },
	    					{ text: '内存', max: 100 },
	    					{ text: '磁盘', max: 100 },
	    					{ text: 'Jvm', max: 100 }
	    				]
	    			},
	    			series: (function () {
	    				var series = [];
	    				$.each(OSHI_IP, function (ip, oshi) {
	    					series.push({
	    				   		type: 'radar',
	    				        symbol: 'none',
	    				        lineStyle: {
	    				      		width: 2
	    				        },
	    				        emphasis: {
	    				       		areaStyle: {
	    				            	color: 'rgba(0,250,0,0.3)'
	    				          	}
	    				        },
	    				        data: [
	    				      		{
	    				            	value: [
	    				            		oshi.cpuUsedRate,
	    				            		oshi.memoryUsedRate,
	    				            		oshi.diskUsedRate,
	    				            		oshi.jvmMemoryUsedRate
	    				            	],
	    				            	name: ip,
	    				            	symbolSize: 12,
	    				                lineStyle: {
	    				               		type: 'dashed'
	    				                }
	    				       		}
	    				      	]
	    					});
	    				});
	    				return series;
	    			})()
	    		});
	    	}
	    	
	    	/**
	    	 * 平行坐标系（使用率）
	    	 */
	    	function renderParallelUsedRate (name, field, parallelAxis0) {
	    		parallelAxis0.max = function (value) {
					var max = value.max;
					$.each(OSHI_IP, function (ip, oshi) {
		    			if(field === 'cpu') {
		    				max = Math.max(max, oshi.cpuCores);
    					} else if(field === 'memory') {
    						max = Math.max(max, oshi.memory);
    					} else if(field === 'disk') {
    						max = Math.max(max, oshi.disk);
    					} else if(field === 'jvmMemory') {
    						max = Math.max(max, oshi.jvmMemory);
    					}
		    		});
				    return max;
				};
	    		parallelAxis0.axisLabel = {
	    				formatter: function (value, index) {
	    					if(field === 'cpu') {
	    						return value;
	    					} else if(field === 'memory') {
	    						return $.formatBytes(value);
	    					} else if(field === 'disk') {
	    						return $.formatBytes(value);
	    					} else if(field === 'jvmMemory') {
	    						return $.formatBytes(value);
	    					}
		    			}	
	    			};
	    		renderChart(name, {
	    			tooltip: {
	    				trigger: 'item',
	    				confine: true,
	    				formatter: function (params) {
	    		        	var htmlStr = params.value[2] + '<br/>';
		    		        	htmlStr += '<div>';
		    		        	if(field === 'cpu') {
		    		        		htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
			    		        	htmlStr +=     parallelAxis0.name + '：' + params.value[0];
			    		        	htmlStr += '</div>';
		    					} else if(field === 'memory') {
		    						htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
			    		        	htmlStr +=     parallelAxis0.name + '：' + OSHI_IP[params.value[2]].memoryStr;
			    		        	htmlStr += '</div>';
			    		        	htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#3eb177;"></span>';
			    		        	htmlStr +=     '已使用：' + OSHI_IP[params.value[2]].memoryUsedStr;
			    		        	htmlStr += '</div>';
		    					} else if(field === 'disk') {
		    						htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
			    		        	htmlStr +=     parallelAxis0.name + '：' + OSHI_IP[params.value[2]].diskStr;
			    		        	htmlStr += '</div>';
			    		        	htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#3eb177;"></span>';
			    		        	htmlStr +=     '已使用：' + OSHI_IP[params.value[2]].diskUsedStr;
			    		        	htmlStr += '</div>';
		    					} else if(field === 'jvmMemory') {
		    						htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
			    		        	htmlStr +=     parallelAxis0.name + '：' + OSHI_IP[params.value[2]].jvmMemoryStr;
			    		        	htmlStr += '</div>';
			    		        	htmlStr += '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#3eb177;"></span>';
			    		        	htmlStr +=     '已使用：' + OSHI_IP[params.value[2]].jvmMemoryUsedStr;
			    		        	htmlStr += '</div>';
		    					}
	                			htmlStr += '<div>';
					          	htmlStr +=	   '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#fbd444;"></span>';
					          	htmlStr +=     '使用率：' + params.value[1] + ' %';
					          	htmlStr += '</div>';
	                		return htmlStr;
	    		        }
	    			},
	    			parallel: {
	    		        left: '10%',
	    		        right: '20%',
	    		        bottom: 0,
	    		        top: 'middle',
	    		        parallelAxisDefault: {
	    		        	type: 'value',
	    		            nameLocation: 'end',
	    		            nameGap: 20,
	    		            nameTextStyle: {
	    		           		color: '#fff',
	    		             	fontSize: 12
	    		           	},
	    		            axisLabel: {
	    		           		color: '#fff'
	    		         	}
	    		   		}
	    		  	},
	    			parallelAxis: [
	    				parallelAxis0,
				    	{ 
	    					dim: 1, 
	    					name: '使用率',
	    					max: function (value) {
	    					    return Math.max(value.max, 100);
	    					} 
	    				},
				    	{ 
				    		dim: 2, 
				    		name: '服务器', 
				    		type: 'category',
				    		axisLabel: {
				    			formatter: function (value, index) {
				    				var arr = value.split('.');
				    			    return arr[arr.length - 2] + '.' + arr[arr.length - 1];
				    			}
				    		},
				    		data: (function () {
					    		var category = [];
					    		$.each(OSHI_IP, function (ip, oshi) {
					    			category.push(ip);
					    		});
					    		return category;
				    		})()
				   		}
	    			],
	    			series: (function () {
    					var series = [];
    					$.each(OSHI_IP, function (ip, oshi) {
    						series.push({
    		    				type: 'parallel',
    		    				lineStyle: {
    		    					width: 2,
    		    					type: 'dashed',
    		    					opacity: 1
    		    				},
    		    				data: (function () {
    		    					if(field === 'cpu') {
    		    						return [
    	    		    					[
    	    		    						oshi.cpuCores, 
    	    		    						oshi.cpuUsedRate, 
    	    		    						oshi.ip
    	    				  	   			]
    	    		    				];
    		    					} else if(field === 'memory') {
    		    						return [
    	    		    					[
    	    		    						oshi.memory, 
    	    		    						oshi.memoryUsedRate, 
    	    		    						oshi.ip
    	    				  	   			]
    	    		    				];
    		    					} else if(field === 'disk') {
    		    						return [
    	    		    					[
    	    		    						oshi.disk, 
    	    		    						oshi.diskUsedRate, 
    	    		    						oshi.ip
    	    				  	   			]
    	    		    				];
    		    					} else if(field === 'jvmMemory') {
    		    						return [
    	    		    					[
    	    		    						oshi.jvmMemory, 
    	    		    						oshi.jvmMemoryUsedRate, 
    	    		    						oshi.ip
    	    				  	   			]
    	    		    				];
    		    					}
    		    				})()
    		    			});
    					});
    					return series;
    		    	})()
	    		});
	    	}
	    	
	    	/**
	    	 * 创建图形
	    	 */
	    	function renderChart (name, option) {
	    		if(!POPO_TARGET[name]) {
	    			return;
	    		}
	    		var target = POPO_TARGET[name].target;
	    		if(!target || !option) {
	    			return;
	    		}
	    		var myChart = echarts.init(target, 
	    				'dark', 
	    				{
	    					renderer: 'svg',
			    			width: $(target).width(),
			    			height: $(target).height()
	    				});
	    		option.color = COLORS;
	    		option.backgroundColor = 'transparent';
	    		myChart.setOption(option, true);
	    		// 自适应
	    		var originFn = window.onresize;
	       		window.onresize = function () { 
	       			originFn && originFn();
	       			myChart.resize({ 
	       				width: $(target).width(),
		    			height: $(target).height()
	    			});
	       		}
	    	}
  		});
    </script>
</body>
</html>