<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title>服务器</title>
    <meta charset="UTF-8" />
	<meta name="renderer" content="webkit" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0" />
    <link th:href="@{/static/favicon.ico}" rel="shortcut icon" />
    <link rel="stylesheet" th:href="@{/static/css/oshi.css}" />
</head>
<body>
    <div id="container">
        <div data-popo="caption" title="实时监控" class="se-title"></div>
        <div data-popo="chart1" title="Cpu"></div>
        <div data-popo="chart2" title="内存"></div>
        <div data-popo="chart3" title="磁盘"></div>
        <div data-popo="chart4" title="Chart D"></div>
        <div data-popo="chart5" title="在线人数"></div>
        <div data-popo="chart6" title="服务节点数"></div>
        <div data-popo="chart7" title="Java虚拟机"></div>
        <div data-popo="chart8" title="Chart H"></div>
    </div>
    <script th:src="@{/static/popo/popo.min.js}"></script>
    <script th:src="@{/webjars/reconnecting-websocket/reconnecting-websocket.js}"></script>
    <script th:src="@{/webjars/jquery/jquery.min.js}"></script>
    <script th:src="@{/webjars/js-base64/base64.min.js}"></script>
    <script th:src="@{/webjars/echarts/echarts.min.js}"></script>
    <script type="text/javascript">
    	$(function() { 
    		var OSHI_IP = {};
    		var OSHI_UID = [];
    		var OSHI_POOL = [];
    		var POPO_TARGET = {};
    		initPopo();
    		/**
        	 * 初始化布局
        	 */
	    	function initPopo() {
	    		$.getJSON("[(@{/static/popo/data/popo.json})]", function (result) {
	                if (!result) {
	                	return;
	                }
	                var width = P.Browser.width,
	                    height = P.Browser.height,
	                    option = null,
	                    base = result.base,
	                    mobile = result.mobile,
	                    screen_1920 = result.screen_1920,
	                    screen_1440 = result.screen_1440,
	                    screen_bigger = result.screen_bigger;
	
	                if (P.Browser.mobile) {
	                    option = mobile;
	                } else {
	                    option = width <= 1440 ? screen_1440 : (width >= 3840 && height >= 1000 ? screen_bigger : screen_1920);
	                }
	                
	                if (option) {
	                    option.onload = function (popo) { 
	                    	popo.getAlias().forEach(function (alias) {
	                    		var target = popo.center(alias.name);
	                            if (target) {
	                            	POPO_TARGET[alias.name] = { alias: alias, target: target };
	                            }
	                        });
	    	                // 初始化 WebSocket
	    	                initWs();
	                    };
	                    option.update = function (popo) { 
	                    	popo.each(function (elements) {
	                            if (elements.center) {
	                                var chart = echarts.getInstanceByDom(elements.center);
	                                chart && chart.resize();
	                            }
	                        });
	                    };
	                    bigscreen = P.init(P.Util.merge(option, base)).addTo("container");
	                }
	            });
	    	}
	    	
	    	/**
	    	 * 初始化 WebSocket
	    	 */
	    	function initWs() {
	    		var protocol = document.location.protocol;
	    		var timestamp = new Date().getTime();
	    		var webSocketHost = protocol.indexOf("https") > -1?"[(${#MyConfig.wssHost})]":"[(${#MyConfig.wsHost})]";
	    		var token = Base64.encodeURI("[(${session.SPRING_SECURITY_CONTEXT.authentication.principal.token})]@" + timestamp);
	    		var WS = new ReconnectingWebSocket(webSocketHost + "[(@{/ws/})]" + token);
	    		
	    		// 扩展数组方法
	    		Array.prototype.contains = function(obj) {
	    			var i = this.length;
	    			while (i--) {
	    				if (this[i] === obj) {
	    			   		return true;
	    				}
	    			}
	    			return false;
	    		}
	    		
	    		// 打开连接
	    		WS.onopen = function (evt) {
	    			WS.send(JSON.stringify({type: "oshi"}));
	    		}
	
	    		// 接收消息
	    		WS.onmessage = function (evt) {
	    			var message = JSON.parse(evt.data);
	    			// 服务器信息
	    			if(message.type == "oshi") {
	    				$.each(message.data, function (key, data) {
	    					if(data instanceof Array) {
	    						$.each(data, function (i, item) {
	    							if(!OSHI_UID.contains(item.uid)) { OSHI_UID.push(item.uid); OSHI_POOL.push(item); OSHI_IP[item.ip]=item; }
	            					if(OSHI_UID.length > 12) { OSHI_UID.shift(); }
	            					if(OSHI_POOL.length > 12 * 60) { OSHI_POOL.shift(); }
	    			   			});
	    					} else {
	    						if(!OSHI_UID.contains(data.uid)) { OSHI_UID.push(data.uid); OSHI_POOL.push(data); OSHI_IP[data.ip]=data; }
	        					if(OSHI_UID.length > 12) { OSHI_UID.shift(); }
	        					if(OSHI_POOL.length > 12 * 60) { OSHI_POOL.shift(); }
	    					}
	    				});
	    				// 创建图形（服务器信息）
	    				createOshiCharts();
	    			}
	    		}
	
	    		// 连接关闭
	    		WS.onclose = function (evt) {
	    			console.log("WebSocket closed");
	    		}
	    	}
	    	
	    	/**
	    	 * 服务器信息
	    	 */
	    	function createOshiCharts() {
	    		renderCpu('chart1');
	    	}
	    	
	    	/**
	    	 * Cpu
	    	 */
	    	function renderCpu (name) {
	    		renderChart(name, {});
	    	}
	    	
	    	/**
	    	 * 创建图形
	    	 */
	    	function renderChart (name, option) {
	    		var target = POPO_TARGET[name].target;
	    		var myChart = echarts.init(target, 
	    				'dark', 
	    				{
	    					renderer: 'svg',
			    			width: $(target).width(),
			    			height: $(target).height()
	    				});
	    		myChart.setOption(option);
	    		// 自适应
	    		var originFn = window.onresize;
	       		window.onresize = function () { 
	       			originFn && originFn();
	       			myChart.resize({ 
	       				width: $(target).width(),
		    			height: $(target).height()
	    			});
	       		}
	    	}
  		});
    </script>
</body>
</html>