<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/hadmin}">
<head>
	<title>更新记录</title>
</head>
<body layout:fragment="content" class="gray-bg">
	<div class="wrapper wrapper-content">
		<div class="ibox-content timeline">
			<div class="timeline-item">
				<div class="row">
					<div class="col-xs-3 date">
						<i class="fa fa-coffee"></i>
						2022-03-06 14:55 
						<br> 
						<small class="text-navy">完成设计</small>
					</div>
					<div class="col-xs-7 content">
						<p class="m-b-xs">
							<strong>确定方案，完成项目设计及前期准备工作</strong>
						</p>
						<p>1、前端模板选用Bootstrap及Layui组件。</p>
						<p>2、画图采用开源的Mxgraph插件。</p>
						<p>3、文档编辑采用支持Markdown语法的editor.md插件。</p>
						<p>4、后端采用SpringBoot，集成SpringSecurity安全框架。</p>
					</div>
				</div>
			</div>
			<div class="timeline-item">
				<div class="row">
					<div class="col-xs-3 date">
						<i class="fa fa-user-md"></i>
						2022-02-26 17:05 
						<br> 
						<small class="text-navy">项目启动</small>
					</div>
					<div class="col-xs-7 content">
						<p class="m-b-xs">
							<strong>核心目标</strong>
						</p>
						<p>1、完全开源。</p>
						<p>2、实现在线画图（ER模型、UML、流程图等）、设计分享。</p>
						<p>3、实现文档的在线管理与分享，消除Swagger对代码的污染及其带来的混乱。</p>
					</div>
				</div>
			</div>
		</div>
	</div>
</body>
</html>