<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/hadmin}">
<head>
	<title>数据源</title>
</head>
<body layout:fragment="content" class="fixed-sidebar full-height-layout gray-bg" style="overflow:hidden">
	<div id="wrapper">
		<!--左侧导航开始-->
        <nav class="navbar-default navbar-static-side" role="navigation">
            <div class="sidebar-collapse">
            	<ul class="nav nav-first-level" id="side-menu">
                    <li>
                        <a class="J_menuItem" th:href="@{/welcome}">
                            <i class="fa fa-windows"></i>
                            <span class="nav-label">主页</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                        	<i class="fa fa-envelope"></i>
                        	<span class="nav-label">信箱 </span>
                        	<span class="label label-warning pull-right">16</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                            <i class="fa fa-server"></i>
                            <span class="nav-label">数据源</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                            <i class="fa fa-sitemap"></i>
                            <span class="nav-label">我的设计</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">文档</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                        	<i class="fa fa-book"></i> 
                        	<span class="nav-label">Markdown</span>
                        </a>
                    </li>
                    <li class="line dk"></li>
                    <li class="hidden-folded padder m-t m-b-sm text-muted text-xs">
                        <span class="ng-scope">系统</span>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                        	<i class="fa fa-file-text"></i> 
                        	<span class="nav-label">文件管理</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                        	<i class="fa fa-user-secret"></i> 
                        	<span class="nav-label">用户列表</span>
                        </a>
                    </li>
                    <li>
                        <a class="J_menuItem" href="index_v1.html">
                        	<i class="fa fa-bookmark-o"></i> 
                        	<span class="nav-label">更新记录</span>
                        </a>
                    </li>
                </ul>
            </div>
        </nav>
        <!--左侧导航结束-->
        <!--右侧部分开始-->
        <div id="page-wrapper" class="gray-bg dashbard-1">
            <div class="row border-bottom">
                <nav class="navbar navbar-static-top" role="navigation" style="margin-bottom: 0">
                    <div class="navbar-header">
                    	<a class="navbar-minimalize minimalize-styl-2 btn btn-info" href="#"><i class="fa fa-bars"></i></a>
                        <form role="search" class="navbar-form-custom" method="post" action="search_results.html">
                            <div class="form-group">
                            	<input type="text" placeholder="请输入您需要查找的内容 …" class="form-control" name="top-search" id="top-search" />
                            </div>
                        </form>
                    </div>
                    <ul class="nav navbar-top-links navbar-right">
                   		<li class="dropdown">
                          	<a class="dropdown-toggle count-info" data-toggle="dropdown" href="#">
                                <i class="fa fa-envelope"></i> 
                                <span class="label label-warning">16</span>
                            </a>
                            <ul class="dropdown-menu dropdown-messages">
                                <li class="m-t-xs">
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" th:src="@{/static/images/avatar.jpg}" />
                                        </a>
                                        <div class="media-body">
                                            <small class="pull-right">46小时前</small>
                                            <strong>小四</strong> 是不是只有我死了,你们才不骂爵迹
                                            <br>
                                            <small class="text-muted">3天前 2014.11.8</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="dropdown-messages-box">
                                        <a href="profile.html" class="pull-left">
                                            <img alt="image" class="img-circle" th:src="@{/static/images/avatar.jpg}">
                                        </a>
                                        <div class="media-body ">
                                            <small class="pull-right text-navy">25小时前</small>
                                            <strong>二愣子</strong> 呵呵
                                            <br>
                                            <small class="text-muted">昨天</small>
                                        </div>
                                    </div>
                                </li>
                                <li class="divider"></li>
                                <li>
                                    <div class="text-center link-block">
                                        <a class="J_menuItem" href="mailbox.html">
                                            <i class="fa fa-envelope"></i> <strong> 查看所有消息</strong>
                                        </a>
                                    </div>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </nav>
            </div>
            <div class="row J_mainContent" id="content-main">
                <iframe id="J_iframe" width="100%" height="100%" th:src="@{/welcome}" frameborder="0" data-id="welcome" seamless></iframe>
            </div>
        </div>
        <!--右侧部分结束-->
    </div>
</body>
</html>