<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
	<title>工作台</title>
</head>
<body layout:fragment="content">
	<div class="easyui-layout" style="width: 100%;height: 100%;">
		<div region="west" split="true" style="width:230px;">
			<div style="margin:20px 0;">
				<a href="javascript:;" class="easyui-linkbutton" onclick="toggle()">Toggle</a>
			</div>
			<div id="sm" class="easyui-sidemenu" data-options="data:data"></div>
		</div>
		<div id="content" region="center" style="padding:5px;">
		</div>
	</div>
	<script type="text/javascript">
		var data = [{
	        text: 'Item1',
	        iconCls: 'icon-sum',
	        state: 'open',
	        children: [{
	            text: 'Option1'
	        },{
	            text: 'Option2'
	        },{
	            text: 'Option3',
	            children: [{
	                text: 'Option31'
	            },{
	                text: 'Option32'
	            }]
	        }]
	    },{
	        text: 'Item2',
	        iconCls: 'icon-more',
	        children: [{
	            text: 'Option4'
	        },{
	            text: 'Option5'
	        },{
	            text: 'Option6'
	        }]
	    }];
 
		function toggle(){
			var opts = $('#sm').sidemenu('options');
			$('#sm').sidemenu(opts.collapsed ? 'expand' : 'collapse');
			opts = $('#sm').sidemenu('options');
			$('#sm').sidemenu('resize', {
				width: opts.collapsed ? 60 : 200
			})
		}
	</script>
</body>
</html>