<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
	<title>工作台</title>
    <!-- TopJUI框架样式 -->
    <link type="text/css" th:href="@{/static/TopJUI-free/topjui/themes/default/topjui.core.min.css}" rel="stylesheet">
    <link type="text/css" th:href="@{/static/TopJUI-free/topjui/themes/default/topjui.smartness-blue.css}" rel="stylesheet" id="dynamicTheme"/>
    <link type="text/css" th:href="@{/static/TopJUI-free/topjui/themes/default/sidemenu_style.css}" rel="stylesheet" id="dynamicTheme"/>
</head>
<body layout:fragment="content" class="panel-noscroll">
	<div id="index_layout" class="easyui-layout" data-options="fit:true">
		<div id="north" 
			class="banner"
	  		style="height: 50px; padding:0;margin:0; overflow: hidden;"
			data-options="region:'north',border:false,split:false">
			<div class="nav-bar">
	        	<div class="nav-left webname">
	                <span class="admin-nav-logo fa fa-image"></span>
	                <span class="systemname" style="margin-left: 8px;">MyGraph 在线画图</span>
	            </div>
	         	<div class="menu-collapse">
	            	<span class="collapseMenu" style="text-align: center;cursor: pointer;font-size: 18px;">
	              		<span id="menuCollapseIcon" class="fa fa-outdent"></span>
	          		</span>
	            </div>
	         	<div class="nav-right">
	                <span style="padding-right: 8px; height: 50px; line-height: 50px;">
	                	<a href="javascript:void(0);" 
	                		class="easyui-linkbutton"
	                     	style="color:#fff;"
	                     	data-options="iconCls:'fa fa-user',plain:true">
	                     	<span id="user-nickname" sec:authentication="principal.nickname"></span>
	                 	</a>|
	                  	<a href="javascript:void(0);"
	                  		class="easyui-menubutton"
	                  		style="color:#fff;"
	                    	data-options="menu:'#mm',iconCls:'fa fa-cog',hasDownArrow:true">设置
	                   	</a>
	                	<div id="mm" style="width:74px;">
	                  		<div data-options="iconCls:'fa fa-info-circle'" onclick="javascript:modifyPwd(0);">个人信息</div>
	                       	<div class="menu-sep"></div>
	                     	<div data-options="iconCls:'fa fa-key'" onclick="javascript:modifyPwd(0);">修改密码</div>
	                	</div>|
	                   	<form class="easyui-menubutton"
	                   		style="color: #fff;cursor: pointer;"
	                   		data-options="iconCls:'fa fa-sign-out',hasDownArrow:false"
							th:action="@{/logout}" method="post" onclick="this.submit();">
							<button type="submit" style="border: none;background-color: transparent;color: #fff;cursor: pointer;">注销</button>
						</form>
	           		</span>
	        	</div>
				<div class="nav-center">
	          		<a class="nav-btn nav-left-btn topmenu hide" href="#" style="float: left;">
	          			<i class="fa fa-angle-double-left" aria-hidden="true"></i>
	          		</a>
	                <a class="nav-btn nav-right-btn topmenu hide" href="#" style="float: right;">
	                	<i class="fa fa-angle-double-right" aria-hidden="true"></i>
	                </a>
	          		<div style="overflow: hidden;position: relative;text-align: left;">
	             		<ul class="nav-group">
	                    	<li id="1325" title="TopJUI静态演示" class="topmenu selected">
	                      		<a class="l-btn-text bannerMenu" href="javascript:void(0);">
	                                <p><lable class="fa fa-tree" style="color: #F7B824;"></lable></p>
	                                <p><span style="white-space:nowrap;">静态演示</span></p>
	                       		</a>
	                        </li>
	                        <li id="60" title="TopJUI开发文档" class="topmenu">
	                            <a class="l-btn-text bannerMenu" href="javascript:void(0);">
	                                <p><lable class="fa fa-book" style="color: #FF5722;"></lable></p>
	                                <p><span style="white-space:nowrap;">开发文档</span></p>
	                            </a>
	                        </li>
	                        <li id="9003" class="topmenu lastMenu" data-type="lastMenu">
	                            <a class="l-btn-text bannerMenu moreBox" target="_blank">
	                                <p><lable class="fa fa-th"></lable></p>
	                                <p><span style="white-space:nowrap;">更多功能</span></p>
	                            </a>
	                            <div id="moreMenu">
	                           		<ul style="padding: 0;">
	                               		<li id="90031" class="topmenu">
	                                   		<div class="l-btn-text bannerMenu" onclick="addParentTab({href:'http://www.topjui.com/compile',title:'在线编译'});">
	                                       		<p><lable class="fa fa-code" style="color: rebeccapurple;"></lable></p>
	                                            <p><span style="white-space:nowrap;">在线调试</span></p>
	                                        </div>
	                                    </li>
	                                    <li id="90032" class="topmenu" data-type="lastMenuSub" data-url="http://www.jeasyui.cn/?from=demo">
	                                        <div class="l-btn-text bannerMenu">
	                                            <p><lable class="fa fa-link"></lable></p>
	                                            <p><span style="white-space:nowrap;">EasyUI中文站</span></p>
	                                        </div>
	                                    </li>
	                            	</ul>
	                          	</div>
	                      	</li>
	                 	</ul>
	             	</div>
	        	</div>
	    	</div>
		</div>
		
	    <div id="west"
	    	data-options="region:'west',split:true,width:260,border:false,headerCls:'border_right',bodyCls:'border_right'">
	     	<div id="RightAccordion"></div>
	    </div>
	
	    <div id="center"
	    	style="overflow:hidden;"
	    	data-options="region:'center',border:false">
	        <div id="index_tabs" class="easyui-tabs" style="width: 100%;height: 100%;">
	        	<div title="系统首页" style="padding: 10px;">
					<iframe th:src="@{welcome}" scrolling="auto" frameborder="0" style="width: 100%;height: 100%;"></iframe>
				</div>
	    	</div>
	    </div>
	
	    <div id="south" 
	    	style="text-align: center;height: 30px;line-height: 30px;border-bottom: 0;overflow: hidden;"
	    	data-options="region:'south',border:true">
	     	<span style="float: left;padding-left: 5px;width: 30%;text-align: left;">当前用户：<span id="user-username" sec:authentication="principal.username"></span></span>
	       	<span style="padding-right: 5px;width: 40%">
	            版权所有 © 2022 Renlm 
	            <a href="https://beian.miit.gov.cn" target="_blank" style="text-decoration: underline;color: black;">京ICP备2021000671号</a>
	        </span>
	   		<span style="float: right;padding-right: 5px;width: 30%;text-align: right;">版本：1.0.1</span>
		</div>
	</div>
	<script type="text/javascript">
	/**
	 * 当菜单选中时
	 * @param item
	 */
	function menuOnSelect(item) {
	    // 判断是否已经打开tab
	    var tabsArr = $("#index_tabs").tabs('tabs');
	    for (var i = 0; i < tabsArr.length; i++) {
	        var tab = tabsArr[i];
	        var options = $(tab).panel("options");
	        if (item.id && options.id && item.id == options.id) {
	            $("#index_tabs").tabs("select", i);// 选中
	            // $.refreshTab(tab, "");// 刷新
	            return;
	        }
	    }
	    // 不存在则添加菜单
	    if(item.url){
	        $("#index_tabs").tabs("add", {
	            title: item.text,
	            id: item.id,
	            isNewTab: true,
	            bodyCls: 'spacing-0', // 去除间隔
	            iconCls: item.iconCls,
	            closable: true,
	            content: '<iframe scrolling="auto" frameborder="0"  src="' + item.url + '" style="width:100%;height:100%;"></iframe>',
	        })
	    }

	}
	
	//菜单拖拽拉伸是调整大小
	function onResize(){
	    $('#RightAccordion').sidemenu('resize')
	}
	
	$(function () {

		
		$.get(
	            '[(@{/static/TopJUI-free/menu_1325.json})]', {"levelId": "2"}, // 获取第一层目录
	            function (data) {
	                var menuData = MyUI.getMenuTree(data);
	                $('#RightAccordion').sidemenu({ data:menuData,onSelect:menuOnSelect,selected:1,width:'100%' });
	                $('#RightAccordion  .accordion').accordion('select',0)     //默然展开第一个菜单
	                $('#west').panel({onResize:onResize})     //菜单拖拽拉伸是调整大小
	            }, "json"
	        );
		
		$(".collapseMenu").on("click", function () {
	        var opts = $('#RightAccordion').sidemenu('options');
	        //改变面板布局
	        $('#index_layout').layout('panel','west').panel('resize', { width: opts.collapsed ? 260 : 60 })
	        $('#index_layout').layout();

	        // 改变slidemenu样式
	        $("#RightAccordion").sidemenu(opts.collapsed ? "expand" : "collapse")
	        $('#RightAccordion').sidemenu('resize', { width: opts.collapsed ? 60 : 260 })

	        /*改变图标样式*/
	        $("#menuCollapseIcon").addClass(opts.collapsed ? "fa-indent" : "fa-outdent")
	        $("#menuCollapseIcon").removeClass(opts.collapsed ? "fa-outdent" : "fa-indent")

	        // 选中菜单
	        if (!opts.collapsed) {
	            tabOnSelect();
	        }
	        // 改变菜单查询框
	        $(".systemname").css("display", opts.collapsed ? 'none' : 'inline-block');
	        $(".banner .nav-bar .webname").css("width", opts.collapsed ? 55 : 255);
	        $(".nav-bar .nav-center").css("marginLeft", opts.collapsed ? 0 : 255);
	        hideNavBtn();
	    });
	});
	
    function hideNavBtn() {
        var contentWidth,areaWidth;
        var $navContentBox = $(".nav-group");
        //1.得到滚动内容的总长度 contentWidth；
        contentWidth = parseInt($navContentBox.width());

        //2.得到滚动区域的总长度 areaWidth;
        areaWidth = parseInt( $navContentBox.parent().width());

        if(contentWidth < areaWidth){
            $(".nav-btn").addClass('hide');
            $navContentBox.css('left',0)
        }else{
            $(".nav-btn").removeClass('hide')
        }
    }

    /**
     * tab选中时，选中menu菜单
     * @param title
     * @param index
     */
    function tabOnSelect(title, index) {
        var tabOpts = $('#index_tabs').tabs('getSelected').panel("options");
        var tabId = tabOpts.id, panels = $("#RightAccordion .accordion").accordion('panels');
        if(tabOpts.isNewTab || !tabId){
            tabOpts.isNewTab = !tabOpts.isNewTab;
            return;
        }
        $.each(panels, function (index, item) {
            var $tree = item.find('.tree');
            var node = $tree.tree('find', {id: tabId});
            if (node) {
                $("#RightAccordion .accordion").accordion('select', index) // 选中面板
                $tree.tree('expandTo', node.target).tree('select', node.target);// 选中tree选项
                $tree.tree('scrollTo', node.target);// 选中tree选项
                return false;
            }
        })
    }
	</script>
</body>
</html>