<!DOCTYPE html>
<html lang="zh-CN">
<head>
	<title th:text="${#ConstUtil.getValue('cfgSystemName')}"></title>
	<meta charset="UTF-8" />
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" />
	<meta http-equiv="Access-Control-Allow-Origin" content="*" />
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1" />
	<meta name="apple-mobile-web-app-status-bar-style" content="black" />
	<meta name="apple-mobile-web-app-capable" content="yes" />
	<meta name="format-detection" content="telephone=no" />
    <link rel="shortcut icon" th:href="@{/static/favicon.ico}" type="image/x-icon" />
	<link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
	<link th:href="@{/webjars/font-awesome/css/font-awesome.min.css}" rel="stylesheet" />
	<link th:href="@{/static/css/login/classic.css}" rel="stylesheet" />
</head>
<body>
	<div class="box">
		<div class="bg"></div>
		<div class="login-box">
			<div class="login-title">
				<div style="float: left; margin-left: 10px;">
					<!-- <img th:src="@{/static/MyUI/images/avatar.jpg}" style="width: 60px; height: 60px;" /> -->
				</div>
				<h1 class="text-center">
					<small><span>[(${#ConstUtil.getValue('cfgSystemName')})]</span></small>
				</h1>
			</div>
			<div class="login-content" id="myDiv">
				<div class="tab">
					<div class="tab-item on">账号密码登录</div>
				</div>
				<div class="content-box">
					<div class="form active ">
						<form id="login-form" class="form-horizontal" th:action="@{/auth}" method="post">
							<div class="form-group">
								<div class="col-xs-10 col-xs-offset-1">
									<div class="input-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-user"></span>
										</span> 
										<input type="text" name="username" class="form-control" placeholder="用户名" autocomplete="off" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-10 col-xs-offset-1">
									<div class="input-group">
										<span class="input-group-addon">
											<span class="glyphicon glyphicon-lock"></span>
										</span> 
										<input type="password" name="password" class="form-control" placeholder="密码" autocomplete="new-password" />
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-xs-10 col-xs-offset-1">
									<div class="input-group code_box">
										<div style="width: 76%; display: flex; justify-content: space-between; align-items: center;">
											<span class="input-group-addon" style="line-height: 1.9; width: 12.5%">
												<span class="glyphicon glyphicon-question-sign"></span>
											</span> 
											<input type="text" name="captcha" class="form-control" placeholder="验证码" style="width: 87.5%">
										</div>
										<div style="width: 20%; height: 40px;cursor: pointer;">
											<img alt="验证码" th:src="@{/captcha}" title="单击图片刷新！" style="border-radius: 2px;"
                								onclick="this.src=this.src.split('?')[0]+'?'+new Date().getTime();">
										</div>
									</div>
								</div>
							</div>
							<div class="form-group form-actions">
								<div class="col-xs-12 text-center">
									<button type="button" class="btn btn-sm btn-success" id="dologin">
										<span class="fa fa-check-circle"></span> 登录
									</button>
									<button type="button" class="btn btn-sm btn-danger" id="reset">
										<span class="fa fa-close"></span> 重置
									</button>
								</div>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="footer">
        © 2021 Renlm <a href="https://beian.miit.gov.cn" target="_blank">[(${#ConstUtil.getValue('cfgSiteBeian')})]</a>
    </div>
<script th:src="@{/webjars/jquery/dist/jquery.min.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>

<input id="errMsg" type="hidden" th:value="${session.SPRING_SECURITY_LAST_EXCEPTION?.message}">
<script type="text/javascript">$(function(){ var errMsg = $("#errMsg").val(); if(errMsg) { alertMsg(errMsg); } });</script>

<div id="ie-warn">
    <p>
    	您正在使用低版本浏览器，建议您使用<a href="https://www.google.cn/chrome" target="_blank">谷歌浏览器</a>
		或使用<a href="http://se.360.cn/" target="_blank">360安全浏览器</a>的极速模式浏览
    </p>
</div>

<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
	<div class="modal-dialog modal-sm" role="document">
		<div class="modal-content">
			<div class="modal-body">
				<span class="text-danger"><i class="fa fa-warning"></i> <span id="alertMsg">用户名或密码错误，请重试！</span></span>
			</div>
		</div>
	</div>
</div>

<script type="text/javascript">
	// 禁止嵌入
	if(self != top) top.location.href = self.location.href;
	
	// 禁用IE
	if(!!window.ActiveXObject || "ActiveXObject" in window) {
		$("#ie-warn").show();
		$(".login-box").hide();
	}
	
	// 回车键
	document.onkeydown = function(event){
		if (event.keyCode == "13") document.getElementById("dologin").click();
	}
	
	// 提示消息
	function alertMsg(message) {
		$("#alertMsg").html(message);
        $("#myModal").modal();
	}
	
	// 登录
	$("#dologin").click(function(e) {
		e.preventDefault();
		var form = document.getElementById("login-form");
		if(!form.username.value) {
			alertMsg("用户名错误");
		} else if(!form.password.value) {
			alertMsg("密码错误");
		} else if(!form.captcha.value) {
			alertMsg("验证码错误");
		} else {
			document.getElementById("login-form").submit();
		}
	});
	
	// 重置
	$("#reset").click(function(e) {
		e.preventDefault();
		$("[name='username']").val("");
		$("[name='password']").val("");
		$("[name='captcha']").val("");
	});
</script>
</body>
</html>