<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.renlm.graph.modular.gateway.mapper.GatewayProxyLogMapper">
	<!-- 统计数据（访问用户数） -->
	<select id="getUvStatisticalData" parameterType="java.lang.String" resultType="cn.renlm.graph.dto.EchartsXyAxis">
		select convert((t.`year` * 10000 + t.`month` * 100 + t.`day`), char) as `xAxis`,
			count(distinct t.sys_user_id) as `yAxis`
		from gateway_proxy_log t
		where t.sys_user_id is not null
		group by t.`year`, t.`month`, t.`day`
	</select>
	
	<!-- 统计数据（页面访问量） -->
	<select id="getPvStatisticalData" parameterType="java.lang.String" resultType="cn.renlm.graph.dto.EchartsXyAxis">
		select convert((t.`year` * 10000 + t.`month` * 100 + t.`day`), char) as `xAxis`,
			count(t.id) as `yAxis`
		from gateway_proxy_log t
		group by t.`year`, t.`month`, t.`day`
	</select>
</mapper>
