<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>代理配置</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false
			">
            <table id="dataGrid" class="easyui-datagrid"
            	data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					toolbar:'#toolbar',
					pagination:true,
					pageSize:10,
					method:'get',
					url:ctx+'/gateway/proxyConfig/ajax/page',
                   	onBeforeLoad:$.pageOnBeforeLoad
               	">
                <thead>
	                <tr>
	                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#dataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
                      	<th data-options="field:'path',title:'代理路径',width:40,formatter:openProxyLogFormatter"></th>
	                    <th data-options="field:'name',title:'名称',width:60"></th>
	                    <th data-options="field:'accessKey',title:'Access Key',width:120"></th>
	                    <th data-options="field:'outgoingServers',title:'代理服务器地址',width:100"></th>
	                    <th data-options="field:'enabled',title:'是否启用',width:40,formatter:$.enabledFormatter"></th>
		            	<th data-options="field:'remark',title:'备注',width:100,formatter:$.remarkFormatter,styler:$.remarkStyler"></th>
		            	<th data-options="field:'actions',title:'操作',width:40,align:'center',formatter:proxyConfigOperateFormatter"></th>
	                </tr>
                </thead>
            </table>
        </div>
    </div>
    <div id="toolbar" class="myui-toolbar">
    	<a href="javascript:proxyConfigDialog();"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
        	">新增代理
       	</a>
       	<form id="proxyConfigDataGridForm" class="search-box">
	    	<input type="text" name="keywords"
	    		id="proxyConfigDataGridKeywords" 
	   			class="easyui-textbox"
	        	data-options="prompt:'关键词',
	        		width:220
	        	"/>
	        <a href="javascript:searchProxyConfig();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:resetProxyConfig();"
	      		class="easyui-linkbutton myui-btn-brown myui-btn-normal"
	      		data-options="iconCls:'fa fa-trash'
	      		">清空
	    	</a>
		</form>
    </div>
	<script type="text/javascript">
		/**
		 * 查看代理日志（格式化文本）
		 */
		function openProxyLogFormatter (value, row, index) {
			return '<a href=\'javascript:void(0);\' onclick="openProxyLogPage(\'' + row.uuid + '\', \'' + row.name + '\')" style=\'color: blue;font-style: italic;\'>' + row.path + '</a>';
		}
		
		/**
		 * 查看代理日志（打开页面）
		 */
		function openProxyLogPage (uuid, title) {
			top.MyUI.addIndexTab({
				id : "ProxyLog-" + uuid,
				title : title,
				href : '/gateway/proxyLog?proxyConfigUuid=' + uuid, 
				iconCls : 'fa fa-git-square'
			});
		}
		
		/**
		 * 查询
		 */
		function searchProxyConfig () {
			$('#dataGrid').datagrid('load', {
				keywords: $('#proxyConfigDataGridKeywords').textbox('getValue')
			});
		}
		
		/**
		 * 清空
		 */
		function resetProxyConfig () {
			$('#proxyConfigDataGridForm').form('clear');
			searchProxyConfig();
		}
		
		/**
		 * 操作
		 */
		function proxyConfigOperateFormatter (value, row, index) {
			var e = '<a href="javascript:proxyConfigDialog(\'' + row.uuid + '\');" class="l-btn myui-btn-green l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">编辑</span><span class="l-btn-icon fa fa-pencil"></span></span></a> ';
			return e;
		}
		
		/**
		 * 弹窗（新增|编辑）
		 */
		function proxyConfigDialog (uuid) {
			var $proxyConfigDialog = $('<form id=\'proxyConfigDialog\' method=\'post\' class=\'myui\'></form>');
		    $proxyConfigDialog.myuiDialog({
		        title: uuid ? '编辑' : '新增',
		        width: 890,
		        height: 503,
				collapsible: true,
				minimizable: false,
				maximizable: true,
		        closed: false,
		        cache: false,
		        href: ctx + '/gateway/proxyConfig/dialog' + (uuid ? ('?uuid=' + uuid) : ''),
		        modal: true,
		        buttons: [{
		            text: uuid ? '更新' : '保存',
		            iconCls: uuid ? 'fa fa-save' : 'fa fa-plus',
		            handler: function () {
						$.messager.progress({'text': '请求中……'});
				        $proxyConfigDialog.form('submit', {
				            url: ctx + '/gateway/proxyConfig/ajax/save',
				            onSubmit: function () {
				                var isValid = $(this).form('validate');
				                if (!isValid) {
				                    $.messager.progress('close');
				                }
				                return isValid;
				            },
				            success: function (result) {
								var resultJson = JSON.parse(result);
				                $.messager.progress('close');
				                if (resultJson.statusCode == 200) {
				                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
				                	$proxyConfigDialog.dialog('destroy');
				                	$('#dataGrid').datagrid('reload');
				                } else {
				                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'出错了', timeout: 5000, showType: 'slide'});
				                }
				        	}
				 		});
					}
		        }, {
		            text: '关闭',
		            iconCls: 'fa fa-close',
		            handler: function () {
		                $proxyConfigDialog.dialog('destroy');
		            }
		        }],
				onClose: function () {
					$proxyConfigDialog.dialog('destroy');
				}
		    });
		}
	</script>
</body>
</html>