<div class="myui-fluid mlr25center" th:object="${erFieldLib}">
    <div class="myui-row">
    	<input type="hidden" th:field="*{uuid}" />
    	<input type="hidden" th:name="${_csrf.parameterName}" th:value="${_csrf.token}" />
    </div>
    <div class="myui-row">
        <div class="myui-col-sm12">
            <label class="myui-form-label">数据源名称</label>
            <div class="myui-input-block">
            	<input type="text" th:field="*{name}" 
					class="easyui-textbox"
					data-options="required:true,
						prompt:'数据源名称',
						width:'100%',
						validType:'maxLength[255]'
					"/>
            </div>
        </div>
    </div>
</div>