<div class="easyui-layout"
	data-options="fit:true">
	<div data-options="region:'center',
			split:true,
			border:false
		">
    	<table id="erDatagrid" 
			class="easyui-datagrid"
			data-options="border:false,
				fit:true,
				fitColumns:true,
				singleSelect:true,
				checkOnSelect:false,
				selectOnCheck:false,
				toolbar:'#erDataGridToolbar',
				pagination:true,
				pageSize:10,
				method:'get',
				url:ctx+'/er/ajax/page',
             	onBeforeLoad:$.pageOnBeforeLoad
			">
        	<thead>
            	<tr>
                	<th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
                	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#erDataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
               		<th data-options="field:'tableName',title:'表名',width:100"></th>
                	<th data-options="field:'comment',title:'注释',width:100"></th>
                    <th data-options="field:'updatedAt',title:'更新时间',width:120,align:'right',formatter:$.updatedAtFormatter"></th>
             	</tr>
       		</thead>
   		</table>
	</div>
</div>
<div id="erDataGridToolbar" class="myui-toolbar">
	<a href="javascript:void(0);"
    	style="margin-right: 32px;"
      	class="easyui-menubutton"
     	data-options="iconCls:'fa fa-table'">选择表
	</a>
	<form id="erDataGridForm" class="search-box">
		<input type="text" name="dsUuid"
        	id="erDataGridDsUuid"
        	class="easyui-combogrid"
         	data-options="idField:'uuid',
           		textField:'name',
            	prompt:'数据源',
            	width:220,
            	panelWidth:444,
           		pagination:true,
           		fitColumns:true,
           		pageSize:10,
           		mode:'remote',
           		method:'get',
                url:ctx+'/ds/ajax/page',
                onBeforeLoad:$.pageOnBeforeLoad,
                columns:[[
               		{field:'name',title:'数据源名称',width:100},
                 	{field:'url',title:'JDBC链接',width:200}
             	]]
         	"/>
 		<input type="text" name="keywords"
    		id="erDataGridKeywords" 
   			class="easyui-textbox"
        	data-options="prompt:'关键字',
        		width:220
        	"/>
        <a href="javascript:searchEr();" 
        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
       		data-options="iconCls:'fa fa-search'">查询
    	</a>
    	<a href="javascript:resetEr();"
      		class="easyui-linkbutton myui-btn-brown myui-btn-normal"
      		data-options="iconCls:'fa fa-trash'">重置
      	</a>
	</form> 
</div>