<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>我的</title>
</head>
<body layout:fragment="content" class="myui">
	<div class="easyui-layout" 
		data-options="fit:true">
		<div data-options="region:'center',
				split:true,
				border:false
			">
			<table id="dataGrid" class="easyui-datagrid"
				data-options="border:false,
					fit:true,
					fitColumns:true,
					singleSelect:true,
					checkOnSelect:false,
					selectOnCheck:false,
					toolbar:'#toolbar',
					pagination:true,
					pagePosition:'bottom',
		         	pageSize:5,
		          	pageList:[5,10,20,40,80],
					method:'get',
					url:ctx+'/graph/mine/ajax/page',
                   	onBeforeLoad:$.pageOnBeforeLoad
				">
				<thead>
					<tr>
						<th data-options="field:'uuid',title:'UUID',checkbox:true"></th>
		             	<th data-options="field:'seq',title:'序号',formatter:function(value,row,index){var opts=$('#dataGrid').datagrid('options');return opts.pageSize*(opts.pageNumber-1)+index+1;}"></th>
                      	<th data-options="field:'cover',title:'封面',width:250,align:'center',formatter:coverFormatter"></th>
		              	<th data-options="field:'name',title:'名称',width:250,formatter:$.openGraphEditorFormatter"></th>
		             	<th data-options="field:'categoryName',title:'分类',width:100"></th>
		          		<th data-options="field:'isPublic',title:'是否公开',width:100,align:'center',formatter:$.yesNoFormatter"></th>
		            	<th data-options="field:'updatedAt',title:'更新时间',width:153,align:'right',formatter:$.updatedAtFormatter"></th>
		           		<th data-options="field:'remark',title:'备注',width:100"></th>
                       	<th data-options="field:'actions',title:'操作',width:80,align:'center',formatter:operateFormatter"></th>
					</tr>
				</thead>
			</table>
		</div>
	</div>
	<div id="toolbar" class="myui-toolbar">
		<a href="javascript:graphDialog();"
          	class="easyui-menubutton myui-btn-normal myui-btn-green"
         	data-options="iconCls:'fa fa-plus',
           		hasDownArrow:false
        	">新增
       	</a>
   		<a href="javascript:void(0);"
        	class="easyui-menubutton myui-btn-normal myui-btn-orange"
         	data-options="menu:'#moreOpsMenu',
           		iconCls:'fa fa-list',
           		hasDownArrow:true
       		">更多
       	</a>
       	<div id="moreOpsMenu" class="myui-toolbar">
        	<div onclick="javascript:delGraph();"
        		class="easyui-menubutton"
           		data-options="iconCls:'fa fa-key',
           			hasDownArrow:false
            	">删除
         	</div>
		</div>
		<form id="form" class="search-box">
	    	<input type="text" name="categoryCode" 
	        	id="categoryCode"
	        	class="easyui-combobox"
	       		th:data-options="|prompt:'图形分类',
                 	width:220,
	        		panelHeight:'auto',
	        		editable:false,
					method:'get',
                 	url:ctx+'/sys/dict/ajax/getTree?codePaths=MXGRAPH',
                   	valueField:'code',
                   	textField:'text'
	      		|"/>
	   		<input type="text" name="keywords"
	    		id="keywords" 
	   			class="easyui-textbox"
	        	data-options="prompt:'关键词',
	        		width:220
	        	"/>
	        <a href="javascript:search();" 
	        	class="easyui-linkbutton myui-btn-blue myui-btn-normal"
	       		data-options="iconCls:'fa fa-search'
	         	">查询
	    	</a>
	    	<a href="javascript:reset();"
       			class="easyui-linkbutton myui-btn-brown myui-btn-normal"
       			data-options="iconCls:'fa fa-trash'
       			">重置
          	</a>
		</form> 
    </div>
    <div id="upload-drag" style="display: none;"></div>
    <script type="text/javascript">
		/**
		 * 查询
		 */
		function search () {
			$('#dataGrid').datagrid('load', {
				categoryCode: $('#categoryCode').combobox('getValue'),
				keywords: $('#keywords').textbox('getValue')
			});
		}
		
		/**
		 * 重置
		 */
		function reset () {
			$('#form').form('clear');
			search();
		}
	
		/**
		 * 操作
		 */
		function operateFormatter (value, row, index) {
			var opts = '<a href="javascript:graphDialog(\'' + row.uuid + '\');" class="l-btn myui-btn-green l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">编辑</span><span class="l-btn-icon fa fa-pencil"></span></span></a>';
			    opts+= '<p style="height: 10px;"></p>';
			    opts+= '<a href="javascript:$.openGraphEditor(\'' + row.uuid + '\', \'' + row.name + '\');" class="l-btn myui-btn-green l-btn-small l-btn-plain"><span class="l-btn-left l-btn-icon-left"><span class="l-btn-text">画图</span><span class="l-btn-icon fa fa-pencil"></span></span></a>';
			return opts;
		}
		
		/**
		 * 弹窗（新增|编辑）
		 */
		function graphDialog (uuid) {
			var $graphDialog = $('<form id=\'graphDialog\' method=\'get\' class=\'myui\'></form>');
		    $graphDialog.myuiDialog({
		        title: uuid ? '编辑' : '新增',
		        width: 790,
		        height: 383,
				collapsible: true,
				minimizable: false,
				maximizable: true,
		        closed: false,
		        cache: false,
		        href: ctx + '/graph/mine/dialog' + (uuid ? ('?uuid=' + uuid) : ''),
		        modal: true,
		        buttons: [{
		            text: uuid ? '更新' : '保存',
		            iconCls: uuid ? 'fa fa-save' : 'fa fa-plus',
		            handler: function () {
						$.messager.progress({'text': '请求中……'});
				        $graphDialog.form('submit', {
				            url: ctx + '/graph/mine/ajax/save',
				            onSubmit: function () {
				                var isValid = $(this).form('validate');
				                if (!isValid) {
				                    $.messager.progress('close');
				                }
				                return isValid;
				            },
				            success: function (result) {
								var resultJson = JSON.parse(result);
				                $.messager.progress('close');
				                if (resultJson.statusCode == 200) {
				                	$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
				                	$graphDialog.dialog('destroy');
				                	$('#dataGrid').datagrid('reload');
				                } else {
				                    $.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'出错了', timeout: 5000, showType: 'slide'});
				                }
				        	}
				 		});
					}
		        }, {
		            text: '关闭',
		            iconCls: 'fa fa-close',
		            handler: function () {
		                $graphDialog.dialog('destroy');
		            }
		        }],
				onClose: function () {
					$graphDialog.dialog('destroy');
				}
		    });
		}
		
		/**
		 * 删除
		 */
		function delGraph () {
			var checked = $('#dataGrid').datagrid('getChecked');
			if (!checked || checked.length === 0) {
				$.messager.myuiAlert('操作提示', '请先选中要删除的数据！', 'warning');
				return;
			} else {
				var uuids = [];
				$.each(checked, function (i, item) {
					uuids[i] = item.uuid;
				});
				$.messager.myuiConfirm('操作提示', '您确定要删除选中的数据吗？', function (r) {
					if (r) {
						$.messager.progress({'text': '请求中……'});
						$.post(ctx + '/graph/mine/ajax/del', 
								{ uuids: uuids.join() }, 
								function (resultJson) {
					                $.messager.progress('close');
									if (resultJson.statusCode == 200) {
										$.messager.show({title: '我的消息', msg: resultJson.message?resultJson.message:'操作成功', timeout: 5000, showType: 'slide'});
					                	$('#dataGrid').datagrid('reload');
					                } else {
					                	$.messager.myuiAlert("操作提示", resultJson.message?resultJson.message:'出错了', "error");
					                }
								});
					}
				});
			}
		}
	</script>
	<script type="text/javascript">
		/**
		 * 默认图片
		 */
		function imgOnError () {
	    	var img = event.srcElement; 
	    	img.src = "[(@{/static/images/holder.png})]"; 
	    	img.onerror = null;
		}
		
		/**
		 * 封面图片
		 */
		function coverFormatter (value, row, index) {
			return "<img style='height:125px;width:auto;margin:10px 0px;cursor:pointer;' id='CoverUpload-" + row.uuid + "' onclick=\"uploadCover(\'" + row.uuid + "\');\" src='" + (value ? (ctx+"/sys/file/download/"+value+"?inline") : "[(@{/static/images/holder.png})]") + "' onerror='javascript:imgOnError();'/>";
		}
		
		/**
		 * 封面上传
		 */
		function uploadCover(uuid) {
			$("#upload-drag").data("uuid", uuid);
	    	$("#upload-drag").click();
		}
		
		/**
		 * 绑定上传事件
		 */
		layui.upload.render({
			elem: "#upload-drag",
			url: ctx + "/graph/ajax/uploadCover",
			accept: "images",
		   	acceptMime: "image/*",
			before: function(obj) {
	            this.data = { "uuid": $("#upload-drag").data("uuid") };
	            var layui_process = '<div style="margin: 20px 10px;" class="layui-progress layui-progress-big" lay-showpercent="true" lay-filter="uploader">';
	    		layui_process 	 += 	'<div class="layui-progress-bar" lay-percent="0%"><span class="layui-progress-text">0%</span></div>';
	    		layui_process    += '</div>';
	    		window.uploadeindex = layer.open({ type: 1, title: "上传进度", skin: "layui-layer-rim", area: ["420px", "120px"], content: layui_process });
	    		obj.preview(function(index, file, result){ window.filename = file.name; });
			},
	    	progress: function(percent) {
	    		layui.element.progress("uploader", percent + "%");
			},
			done: function(res, index, upload) {
				setTimeout(function() {
	    			if(res.statusCode == 200) {
	    				layer.close(window.uploadeindex);
	    				$("#CoverUpload-" + $("#upload-drag").data("uuid")).attr("src", ctx+"/sys/file/download/"+res.data+"?inline");
	                	$.messager.show({title: "我的消息", msg: res.message? res.message : "上传成功", timeout: 5000, showType: "slide"});
	                } else {
	                	layer.msg(res.message, { icon: 5, shift:6 });
	                }
	            }, 900);
		    },
		    error: function(index, upload) {
		    	layer.msg("出错了", { icon: 5, shift:6 });
		    }
		});
	</script>
</body>
</html>