<!DOCTYPE html>
<html lang="zh-CN" layout:decorate="~{layout/decorate}">
<head>
    <title>服务器</title>
    <link th:href="@{/webjars/bootstrap/css/bootstrap.min.css}" rel="stylesheet" />
    <link th:href="@{/webjars/layui/css/layui.css}" rel="stylesheet"/>
</head>
<body layout:fragment="content">
    <div id="vue-app" class="container-fluid" style="margin-top: 20px;" v-cloak>
    	<div class="row" v-for="(item, key, index) in serverMap" v-bind:data-machine="item.machine">
    		<div class="col-md-12">
	            <div class="panel panel-default">
	                <div class="panel-heading">
	                    <i class="fa fa-server"></i> 
	               		<span>服务器信息，机器ip：{{item.machine}}，磁盘：{{item.diskStr}}，已使用磁盘：{{item.diskUsedStr}}，磁盘使用率：{{item.diskUsedRate}} %</span>
	                </div>
	                <div class="panel-body" style="border-width: 0px;">
	                	<div class="topjui-row">
	                		<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
			                    <ul>
			                        <li>操作系统：{{item.osName}}</li>
			                        <li>系统架构：{{item.osArch}}</li>
			                        <li>Cpu 核心数：{{item.cpuCores}}</li>
			                        <li>Cpu 使用率：{{item.cpuUsedRate}} %</li>
			                    </ul>
		                    </div>
	                		<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
			                    <ul>
			                        <li>系统内存：{{item.memoryStr}}</li>
			                        <li>已使用系统内存：{{item.memoryUsedStr}}</li>
			                        <li>系统内存使用率：{{item.memoryUsedRate}} %</li>
			                    </ul>
		                    </div>
	                		<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
			                    <ul>
			                        <li>Java 运行版本：{{item.javaVersion}}</li>
			                        <li>Jvm 内存总量：{{item.jvmMemoryStr}}</li>
			                        <li>Jvm 已使用内存：{{item.jvmMemoryUsedStr}}</li>
			                        <li>Jvm 内存使用率：{{item.jvmMemoryUsedRate}} %</li>
			                    </ul>
		                    </div>
	                    </div>
	                    <div class="topjui-row">
					    	<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
					    		<div v-bind:id="'cpu-' + item.machine" style="height: 300px;"></div>
					    	</div>
					    	<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
					    		<div v-bind:id="'memory-' + item.machine" style="height: 300px;"></div>
					    	</div>
					    	<div class="layui-col-lg4 layui-col-sm4 topjui-col-xs12">
					    		<div v-bind:id="'jvm-' + item.machine" style="height: 300px;"></div>
					    	</div>
						</div>
	                </div>
	            </div>
	        </div>
    	</div>
	</div>
<script th:src="@{/webjars/reconnecting-websocket/reconnecting-websocket.js}"></script>
<script th:src="@{/webjars/bootstrap/js/bootstrap.min.js}"></script>
<script th:src="@{/webjars/echarts/echarts.min.js}"></script>
<script th:src="@{/webjars/layui/layui.js}"></script>
<script th:src="@{/webjars/vue/vue.min.js}"></script>
<script type="application/javascript">
	OshiChart = { echarts: { }, option: { } };
	var protocol = document.location.protocol;
	var timestamp = new Date().getTime();
	var webSocketHost = protocol.indexOf("https") > -1?"[(${#MyConfig.wssHost})]":"[(${#MyConfig.wsHost})]";
	var token = Base64.encodeURI("sessionId@[(${#httpServletRequest.session.id})]@" + timestamp);
	WS = new ReconnectingWebSocket(webSocketHost + "[(@{/ws/oshi/})]" + token);
	
   	function createRateEcharts (id, title, data) {
   		OshiChart.echarts[id] = echarts.init(document.getElementById(id));
   		OshiChart.option[id] = {
    			title: {
    		    	left: "center",
    		    	top: 20,
    		        text: title
    		    },
    		    tooltip: {
    		        trigger: "axis",
    		        formatter: function (params) {
    		        	var param = params[0];
    		        	var htmlStr = param.seriesName + '<br/>';
                			htmlStr += '<div>';
				          	htmlStr +=     '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#3eb177;"></span>';
				          	htmlStr +=     '日&#12288;期：' + layui.util.toDateString(param.name, "yyyy/MM/dd");
				          	htmlStr += '</div>';
                			htmlStr += '<div>';
				          	htmlStr +=     '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#f2637b;"></span>';
				          	htmlStr +=     '时&#12288;间：' + layui.util.toDateString(param.name, "HH:mm:ss");
				          	htmlStr += '</div>';
                			htmlStr += '<div>';
				          	htmlStr +=	   '<span style="margin-right:5px;display:inline-block;width:10px;height:10px;border-radius:5px;background-color:#fbd444;"></span>';
				          	htmlStr +=     '使用率：' + param.value[1] + ' %';
				          	htmlStr += '</div>';
                		return htmlStr;
    		        },
    		        axisPointer: {
    		            animation: false
    		        }
    		    },
    		    xAxis: {
    		        type: "time",
    		        splitLine: {
    		            show: false
    		        }
    		    },
    		    yAxis: {
    		        type: "value",
    		        min: 0,
    		        max: 100,
    		        boundaryGap: [ 0, "100%" ],
    		        splitLine: {
    		            show: false
    		        },
    		        axisLabel: {
    		        	show: true,  
                           interval: "auto",  
                           formatter: "{value} %"
    		        }
    		    },
    		    series: [{
    		        name: title,
    		        type: "line",
    		        showSymbol: false,
    		        hoverAnimation: false,
    		        data: data
    		    }]
    		};
   		
   		OshiChart.echarts[id].setOption(OshiChart.option[id]);
   		var originFn = window.onresize;
   		window.onresize = function () { 
   			originFn && originFn();
   			OshiChart.echarts[id].resize(); 
   		}
   	}
   	
   	WS.onopen = function (evt) {
   		VM = new Vue({
   		    el: "#vue-app",
   		    data: { 
   		    	timer: null,
   		    	serverMap: { }
   		    },
   		    created() { 
   	            this.findMachines();
   		    },
   		    methods: {
   	            findMachines: function() {
   	                var that = this;
   	                fetch("[(@{/oshi/machines})]")
   	                .then(function(response) {
   	                    return response.json();
   	                })
   	                .then(function(json){
   	                	var tempMachineMap = {};
   	                	$.each(json, function(key, item) {
   	                		tempMachineMap[key] = item;
   	                		if(!that.serverMap[key]) {
   	                			that.$set(that.serverMap, key, item);
   	                			WS.send(item.machine);
   	                		}
   	                	});
   	                	$.each(that.serverMap, function(key, item) {
   	                		if(!tempMachineMap[key]) {
   	                			that.$delete(that.serverMap, key);
   	                		}
   	                	});
   	                });
   	            }
   	        },
   	      	mounted() {
   	            this.timer = setInterval(this.findMachines, 8000);
   	     	},
   	     	beforeDestroy() {
   	            clearInterval(this.timer);
   	   		}
   	    });
   	}
   	
   	WS.onmessage = function (evt) { 
   		var message = JSON.parse(evt.data);
   		if(message instanceof Array) {
   			var cpuId = null;
   			var memId = null;
   			var jvmId = null;
   			
   			var cpuUsedRateData = [];
   			var memUsedRateData = [];
   			var jvmUsedRateData = [];
   			
   			$.each(message, function (i, item) {
   				if(!cpuId || !memId || !jvmId) {
   					cpuId = "cpu-" + item.machine;
   					memId = "memory-" + item.machine;
   					jvmId = "jvm-" + item.machine;
   				}
   				
   				cpuUsedRateData.push({ name: item.createdAt, value: [ item.createdAt, item.cpuUsedRate ] });
   				memUsedRateData.push({ name: item.createdAt, value: [ item.createdAt, item.memoryUsedRate ] });
   				jvmUsedRateData.push({ name: item.createdAt, value: [ item.createdAt, item.jvmMemoryUsedRate ] });
   			});
   			
   			cpuUsedRateData.reverse();
   			memUsedRateData.reverse();
   			jvmUsedRateData.reverse();
   			
   			createRateEcharts(cpuId, "Cpu使用率", cpuUsedRateData);
   			createRateEcharts(memId, "系统内存使用率", memUsedRateData);
   			createRateEcharts(jvmId, "Jvm内存使用率", jvmUsedRateData);
   		} else {
   			$.each(message, function (key, item) {
   				var _cpuId = "cpu-" + item.machine;
   				var _memId = "memory-" + item.machine;
   				var _jvmId = "jvm-" + item.machine;
   				
   				if(OshiChart.echarts[_cpuId] && OshiChart.echarts[_memId] && OshiChart.echarts[_jvmId]) {
   					
   					VM.$set(VM.serverMap, key, item);
   					
   					if(OshiChart.option[_cpuId].series[0].data.length > 12*15) { OshiChart.option[_cpuId].series[0].data.shift(); }
   					OshiChart.option[_cpuId].series[0].data.push({ name: item.createdAt, value: [ item.createdAt, item.cpuUsedRate ] });
   					OshiChart.echarts[_cpuId].setOption(OshiChart.option[_cpuId]);
   					
   					if(OshiChart.option[_memId].series[0].data.length > 12*15) { OshiChart.option[_memId].series[0].data.shift(); }
   					OshiChart.option[_memId].series[0].data.push({ name: item.createdAt, value: [ item.createdAt, item.memoryUsedRate ] });
   					OshiChart.echarts[_memId].setOption(OshiChart.option[_memId]);
   					
   					if(OshiChart.option[_jvmId].series[0].data.length > 12*15) { OshiChart.option[_jvmId].series[0].data.shift(); }
   					OshiChart.option[_jvmId].series[0].data.push({ name: item.createdAt, value: [ item.createdAt, item.jvmMemoryUsedRate ] });
   					OshiChart.echarts[_jvmId].setOption(OshiChart.option[_jvmId]);
   				}
   			});
   		}
   	}
   	
   	WS.onclose = function (evt) { console.log("WebSocket closed"); }


</script>
</body>
</html>